<!-- SERVICIO SUSPENDIDO -->
<section  class="mt-60 mb-60" *ngIf="type == 'vacaciones'">
    <div class="container">
      <div class="uc-message">
        <div class="uc-message_body">
            <h2 class="mb-24">{{title}}</h2> 
            <p class="no-margin">{{texto}}</p>
        </div>
      </div>
    </div>
  </section>