<section class="p-60">
    <div class="font-centered">
        <h3 class="col-12 ">{{valorizaciones.title}}</h3>
        <div *ngIf="!msj_rating" class="col-12 " style="display: flex; justify-content: center; align-items: center;">
            <h6 class="mr-3 color-gris">{{valorizaciones.pregunta}} </h6>
            <p class="clasificacion font-size-30 m-0"> 
                <input id="radio1" type="radio" name="estrellas" value="5" (change)="valoracion($event, valorizaciones.pagina)"><!--
                --><label class="star" for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4" (change)="valoracion($event, valorizaciones.pagina)"><!--
                --><label class="star" for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3" (change)="valoracion($event, valorizaciones.pagina)"><!--
                --><label class="star" for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2" (change)="valoracion($event, valorizaciones.pagina)"><!--
                --><label class="star" for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1" (change)="valoracion($event, valorizaciones.pagina)"><!--
                --><label class="star" for="radio5">★</label>
            </p>
        </div>
        <div *ngIf="viewComentario && !msj_rating" class="col-12 uc-form-group text-left">
            <p>{{valorizaciones.comentario}}</p>
            <textarea [(ngModel)]="comentario" #comentarioname="ngModel" class="uc-input-style" rows="5"></textarea>
            <div class="text-right">
                <button type="button" class="btn-linea mt-2 " (click)="comentarios(valorizaciones.pagina)">Enviar comentario</button>
            </div>
        </div>
        <div *ngIf="msj_rating" class="col-12 mt-3">
            <span class="material-icons color-celeste v-aling-m mr-2">sentiment_satisfied_alt</span>
            <span class="">{{msj_rating}}</span>
        </div>
    </div>
</section>
