<section id="arriba" class="uc-section uc-section__header mb-60">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <!-- <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']"
      *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->
    <!-- <app-migas [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-migas> -->

    <ul class="uc-breadcrumb mb-24">
      <li *ngFor="let breadcrumb of json['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
        <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
      </li>
    </ul>

    <section class="uc-section uc-section__sub my-32">
      <div class="container">

        <ng-container *ngIf="data['news']">
          <!-- <app-title [title]="jsonHome.horizon_novedades.title" [type]="'decorated'"></app-title>
 -->
          <div class="d-flex align-items-center mb-32">
            <h2>{{ jsonHome.horizon_novedades.title }}</h2>
            <span class="uc-heading-decoration"></span>
            <span class="uc-heading-decoration m-0"></span>
          </div>

          <div class="row mb-60">
            <ng-container *ngFor="let slide of data['news']; let i = index">
              <article class="col-md-4 col-12 mb-2" *ngIf="slide.status == 'published'">
                <a [routerLink]="['/blog/',slide.id]" class="uc-card card-height--same mouse-over"
                  title="{{slide.name}}">
                  <figure class="uc-card_img">
                    <!-- <img src="assets/img/{{slide.id}}.jpg" onerror="this.src= 'assets/img/default-news.jpg'" class="img-fluid" alt="{{slide.title}}"> -->
                    <img src="{{slide.title}}" onerror="this.src= 'assets/img/default-news.jpg'" class="img-fluid"
                      alt="{{slide.title}}">
                  </figure>

                  <div class="uc-card_body">
                    <h3 class="text-size--20 text-weight--700">
                      {{slide.name}}
                    </h3>
                    <div class="uc-text-divider divider-primary mt-16" *ngIf="divider"></div>
                    <!-- <div class="uc-excerpt">
                            <p>{{slide.title}} </p>
                          </div> -->
                    <div class="text-right mt-auto pt-3">
                      <a class="uc-link no-decoration link">
                        Seguir leyendo
                      </a>
                    </div>
                  </div>
                </a>
              </article>
            </ng-container>
          </div>

        </ng-container>
      </div>
    </section>
  </div>
</section>