<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div [innerHTML]="main['horizon_header']['section_excerpt']['excerpt']" class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="uc-section uc-section__page pb-60" *ngIf="main['horizon_contacto']['active']">
  <div class="container">
    <div class="uc-card uc-card--gray">
      <div class="uc-card_body p-32">
        <ng-container *ngIf="!response.show">
          <!-- <app-title [title]="main['horizon_contacto']['title']" [type]="'decorated'"></app-title> -->

          <form (ngSubmit)="submitContact(form, $event)" #form="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="uc-form-group">
                  <label for="{{ main['horizon_contacto']['input_text']['name'] }}">{{ main['horizon_contacto']['input_text']['label'] }}</label>
                  <!-- <i class="material-icons ml-2 color-celeste" *ngIf="!nombre.value" title="Campo obligatorio">message </i> -->
                  <span class="ml-2 color-red font-size-20" *ngIf="!nombre.value" title="Campo obligatorio">*</span>
                  <i class="material-icons ml-2" style="color:green" *ngIf="nombre.valid && nombre.value">check_circle </i>
                  <input #nombre="ngModel" name="{{ main['horizon_contacto']['input_text']['name'] }}" type="text" class="uc-input-style" placeholder="{{ main['horizon_contacto']['input_text']['placeholder'] }}" [(ngModel)]="name" required title="{{ main['horizon_contacto']['input_text']['placeholder'] }}">
                </div>
                <div *ngIf="!nombre.valid && nombre.touched" class="row alert-info m-3">
                  <i class="material-icons ">warning </i> <span class="ml-2">Nombre y apellido es requerido.</span>
                </div>

                <div class="uc-form-group" style="padding-top: 1px">
                  <label for="{{ main['horizon_contacto']['input_email']['name'] }}">{{ main['horizon_contacto']['input_email']['label'] }}</label>
                  <!-- <i class="material-icons ml-2 color-celeste" *ngIf="!emailuser.value" title="Campo obligatorio">message </i> -->
                  <span class="ml-2 color-red font-size-20" *ngIf="!emailuser.value" title="Campo obligatorio">*</span>
                  <i class="material-icons ml-2" style="color:green" *ngIf="emailuser.valid && emailuser.value">check_circle </i>
                  <input #emailuser="ngModel" name="{{ main['horizon_contacto']['input_email']['name'] }}" type="email" class="uc-input-style" placeholder="{{ main['horizon_contacto']['input_email']['placeholder'] }}" [(ngModel)]="email" pattern="\S+@\S+\.\S+" required title="{{ main['horizon_contacto']['input_email']['placeholder'] }}">
                </div>
                <div *ngIf="!emailuser.valid && emailuser.touched" class="row alert-info m-3">
                  <i class="material-icons ">warning </i> <span class="ml-2">El dato ingresado no es válido.</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="uc-form-group">
                  <label for="{{ main['horizon_contacto']['input_textarea']['name'] }}">{{ main['horizon_contacto']['input_textarea']['label'] }}</label>
                  <span class="ml-2 color-red font-size-20" *ngIf="!mensaje.value" title="Campo obligatorio">*</span>
                  <i class="material-icons ml-2" style="color:green" *ngIf="mensaje.valid && mensaje.value">check_circle </i>
                  <textarea #mensaje="ngModel" name="{{ main['horizon_contacto']['input_textarea']['name'] }}" rows="7" class="w-100 h-100 uc-input-style uc-input__textarea" placeholder="{{ main['horizon_contacto']['input_textarea']['placeholder'] }}" [(ngModel)]="message" required title="{{ main['horizon_contacto']['input_textarea']['placeholder'] }}"></textarea>
                </div>
                <div *ngIf="!mensaje.valid && mensaje.touched" class="row alert-info m-3">
                  <i class="material-icons ">warning </i> <span class="ml-2">Mensaje es requerido.</span>
                </div>
              </div>
            </div>
            <div class="row mt-24">
              <div class="col-lg-9 color-red" style="font-size: 14px" >
                <p *ngIf="!name || !email || !message" ><span class="color-red font-size-20">* </span> Campos obligatorios.</p>
              </div>
              <div class="col-lg-3 col-12">
                <button type="submit" class="uc-btn btn-cta" [disabled]="form.pristine || form.invalid">{{ main['horizon_contacto']['input_submit']['text'] }}</button>
              </div>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="response.show">
          <div class="row">
            <div class="col-12 font-centered mb-24">
              <i class="material-icons mb-5 {{response.color}}" style="font-size: 64px;">{{response.icono}}</i>
              <h2>{{ response.text }}</h2>
            </div>
            <div class="offset-md-3 col-md-6 offset-0 col-12">
              <button title="Enviar" type="submit" class="uc-btn btn-cta" (click)="resetForm()">Enviar otra consulta</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<!-- SERVICIO SUSPENDIDO -->
<section *ngIf="!main['horizon_contacto']['active']" class="mt-60 mb-60">
  <div class="container">
    <div class="uc-message">
      <div class="uc-message_body">
          <h2 class="mb-24">Servicio suspendido por vacaciones</h2>
          <p class="no-margin">Nuestro formulario de contacto estará deshabilitado en febrero del 2022 por período de vacaciones UC. El 1 de marzo volverá a estar operativo.</p>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pt-60" *ngIf="!main['horizon_faq']['active'] && data['faqs']">
  <div class="container">
    <h2 class="mb-16">{{ main['horizon_faq']['title'] }}</h2>
    <div class="row">
      <div class="col-lg-12 mb-32">
        <table class="uc-table uc-table--faq">
          <tbody>
            <ng-container *ngFor="let faq of data['faqs']; let i = index">
              <tr>
                <!-- <td *ngIf="i < 4"> -->
                  <h3>{{ faq.pregunta }}</h3>
                  <p>{{ faq.respuesta }}</p>
                <!-- </td> -->
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-lg-4 mb-32 mt-auto">
        <a [routerLink]="[ main['horizon_faq']['link']['url'] ]" class="uc-btn btn-primary">
          {{ main['horizon_faq']['link']['text'] }}
          <i class="uc-icon icon-shape--rounded">arrow_forward</i>
        </a>
      </div> -->
    </div>
  </div>
</section>