<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <!-- <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->
    
    <ul class="uc-breadcrumb mb-24" *ngIf="main['horizon_header']['section_breadcrumbs']['active']">
      <li *ngFor="let breadcrumb of main['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
        <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']">
          {{main['horizon_header']['section_excerpt']['excerpt']}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let page of main['childs']">
      <div class="col-lg-6 mb-32" >
        <!-- <app-card-horizontal [data]="page" [dataOrientation]="'image-left'" [dataDivider]="true"></app-card-horizontal> -->
        <article class="uc-card card-type--horizontal card-height--same">
          <figure class="uc-card_img" [style.background-image]="'url(' + page.image + ')'">

            <div class="uc-veil uc-veil--blue"></div>
          </figure>
          <div class="uc-card_body">
            <ng-container *ngIf="page['tag']">
              <a title="{{ page['tag']['title'] }}" target="_blank"  href="{{ page['tag']['url'] }}" class="uc-tag mb-12">{{ page['tag']['text'] }}</a>
            </ng-container>
            <h3 class="uc-card__title mb-16">
              <a title="{{ page['link']['title'] }}" target="_blank" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
            </h3>
            <div class="uc-text-divider divider-primary"></div>
            <div class="uc-excerpt mb-24" *ngIf="excerpt"><p>{{ page['excerpt'] }}</p></div>
            <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto">
              <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong>
            </a>
          </div>
        </article>

      </div>
    </ng-container>
    </div>
  </div>
</section>
