<a tabindex=0 (click)="getSearch(cardTopicData[0])" (keypress)="getSearch(cardTopicData[0])" class="uc-card card-type--horizontal card-height--same pointer mouse-over" title="Buscar {{ cardTopicData[1] }} documentos sobre {{ cardTopicData[0] }}">
  <figure class="uc-card_img" *ngIf="cardTopicImage">
      <img src="assets/img/tematicas/{{ cardTopicData[0].replace('á', 'a').replace('É', 'E').replace('é', 'e').replace('í', 'i').replace('ó', 'o').replace('ú', 'u').replace('ñ', '')
    }}.jpg" onerror="this.src= 'assets/img/tematicas/default-tematicas.jpg'" class="img-fluid" alt="{{ cardTopicData[0] }}">
  </figure>
  <div class="uc-card_body uc-card_body--redux {{ (cardTopicIndex == 0) ? 'uc-card_body--featured' : '' }} justify--center">
    <h3 class="uc-card__title text-size--16 " >
      {{ cardTopicData[0] }}
    </h3>
    <span class="my-8">({{ cardTopicData[1] }})</span>
  </div>
</a>
