<section id="top" class="uc-section uc-section__header mb-60">
    <div class="container">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="col-md-12 col-lg-12 col-xl-3 container_sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <section class="col-md-12 col-lg-9 " >
                
                <div class="row mb-16 pl-5">
                  <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
                </div>

                <div class="row mb-60 p-60 pl-5 bg-degr" style="border-radius: 0px 85px 15px 0px; border-bottom: 10px solid #D0DFF6;">
                  <div class="col-12 ">
                    <h1 class="color-white mb-32">¡Hola <strong >{{name_usuario}}!</strong></h1>
                    <section *ngIf="estado_user_sipa=='true'" >
                      <h2 class="color-amarillo mt-2 font-light">Tienes <span class="bubble_amarillo"> {{totalPage}}</span> documentos en <strong class="bolder">tu producción académica</strong></h2>
                      <h2 class="font-light color-white font-size-25 mt-50">Encuentra aquí los registros de publicaciones y/o creaciones artísticas que ya están vinculados a tu perfil. Revisa también los registros pendientes y estado de las solicitudes.</h2>
                    </section>
                    <section *ngIf="estado_user_sipa=='false'">   
                      <div class="row">
                        <span class="material-icons color-amarillo font-size-50 col-1 alinear-centro">warning_amber</span>                  
                        <h2 class="color-amarillo mt-2 font-light col-11" style="font-weight: 600;">
                          No hemos encontrado tu registro en nuestra base de datos, por lo cual no podemos encontrar tu producción académica.
                          Por favor escríbanos a <a href='' [routerLink]="['/contact']" title="Será redirigido a formulario de contacto" class="btn-link-secondary">contacto SIPA.</a>
                        </h2>
                      </div>
                      
                      
                    </section>
                    
                  </div>
                </div>

                <div *ngIf="estado_user_sipa=='true'" class="pl-5">

                  <!-- Cargando -->
                  <div *ngIf="cargando" class="col-12 font-centered color-celeste">
                      <img height="55px" class="mt-5" src="../../../assets/img/2.gif">
                  </div>
                  <!-- Mensajes -->
                  <h3 *ngIf="msj" class="font-centered mt-100px mb-100px" >
                      {{msj}}
                  </h3>

                  <!-- CARD -->
                  <ng-container *ngIf="!msj && !cargando && array_confirmados!=''">
                    <!-- Menu tabla -->
                    <div  class="mb-3 row">
                      <p class="col-lg-12 col-xl-5"><strong>{{ totalPage }} Resultados</strong> |  {{cantidadReg}} registros por página</p>
                      <div class="col-lg-12 col-xl-7 d-inline-block font-righted">
                          <span>Ordenar por:</span>
                          <span class="d-inline--block ml-2">
                            <!-- <button class="uc-btn--linkalike" (click)="confirmados(1,'', '')" title="Ordenar por más relevante">Más relevante</button> -->
                            <span (click)="confirmados(1,'', '5'); ordenlista='pubrecientes'" title="Fecha de publicaciones recientes" class="material-icons v-aling-m ml-2 font-size-18 linkestados {{ ordenlista == 'pubrecientes' ? 'active' : '' }}">south</span>
                            <span class="color-gris" title="Fecha de publicación">Publicación</span>
                            <span (click)="confirmados(1,'', '6'); ordenlista='pubantiguas'" title="Fecha de publicaciones antiguas" class="material-icons v-aling-m font-size-18 mr-2 linkestados {{ ordenlista == 'pubantiguas' ? 'active' : '' }}">north</span> 
                            |
                            <span (click)="confirmados(1,'', '1'); ordenlista='vinrecientes'" title="Vinculaciones recientes" class="material-icons v-aling-m ml-2 font-size-18 linkestados {{ ordenlista == 'vinrecientes' ? 'active' : '' }}">south</span>
                            <span class="color-gris" title="Fecha de vinculación">Vinculación</span>
                            <span (click)="confirmados(1,'', '2'); ordenlista='vinantiguas'" title="Vinculaciones antiguas" class="material-icons v-aling-m font-size-18 mr-2 linkestados {{ ordenlista == 'vinantiguas' ? 'active' : '' }}">north</span> 
                            |
                            <span (click)="confirmados(1,'', '3'); ordenlista='az'" title='Ordenar de la "A" a la "Z"' class="ml-2 mr-2 linkestados {{ ordenlista == 'az' ? 'active' : '' }}">A-Z</span> 
                            | 
                            <span (click)="confirmados(1,'', '4'); ordenlista='za'" title='Ordenar de la "Z" a la "A"' class="ml-2 linkestados {{ ordenlista == 'za' ? 'active' : '' }}">Z-A</span>
                          </span>
                      </div>
                    </div>
                    <!-- Registros encontrados -->
                    <div *ngFor="let a of array_confirmados; let i = index" class="mouse-over uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24 ">
                      <article class="uc-card_body bg-celeste-3" style="border-top: 4px rgb(203, 203, 203) solid; ">
                        <div class="row mb-16px pb-16px border-botton-gris">
                          
                          <div class="col-md-12 col-lg-7 col-xl-8 mb-2">
                            <!-- Titulo -->
                            <div class="row">
                              <div class="col-12">
                                <h2 (click)="abreModal_ficha(i,a.handle, a.title)" class="titulo_post" title="Ver ficha"> 
                                  {{ a.title}}
                                </h2>
                                <!-- Botón cambiar a titulo alternativo -->
                                <div *ngIf="nameTitAlt!=i">
                                  <span class="btn-link"  (click)="nameTitAlt=i; tituloAlt=null; msj_titalt=null">
                                    <span class="material-icons v-aling-m">mode_edit</span> Agregar título para visualización<!-- Cambiar a un título alternativo -->
                                    <!-- Tooltips -->
                                    <span class="tooltip ml-1">
                                      <span class="icoInfoTooltips">i</span>
                                      <span class="tooltiptext-bottom" style="width: 350px;">Esta acción crea un título adicional para efectos de visualización. Esto no modifica el título original. <!-- La información ingresada se agregará como una variante del título original. --></span>
                                    </span>
                                  </span>
                                </div>
                                <!-- Caja textarea titulo alternativo -->
                                <div *ngIf="nameTitAlt==i" class="mt-2 mb-2">
                                  <!-- <textarea [(ngModel)]="tituloAlt" #tituloalt="ngModel" name="tituloalt" rows="3" class="uc-input-style mb-2" placeholder="Ingresar título adicional aquí" required>{{ a.title}}</textarea> -->
                                  <input [(ngModel)]="tituloAlt" #tituloalt="ngModel" name="tituloalt" rows="3" class="uc-input-style mb-2" placeholder="Ingresar título adicional aquí" value="{{ a.title}}" required>
                                  <div *ngIf="!tituloalt.value && tituloalt.touched" class="row alert-info m-2">
                                    <i class="material-icons pr-2">warning </i> Campo requerido
                                  </div>
                                  <div class="col-lg-12 text-align--right">
                                    <img *ngIf="cargando_titalt" class="w-50px mr-12" src="assets/img/2.gif">
                                    <i *ngIf="msj_titalt == 'success' && !cargando_titalt" class="material-icons color-verde mr-12 font-size-40 v-aling-m">done</i>
                                    <i *ngIf="msj_titalt == 'error' && !cargando_titalt" class="material-icons texto-dg-rojo mr-12 font-size-40 v-aling-m" title="Error: envío ha fallado">highlight_off</i>
                                    <!-- Botón cerrar titulo alternativo -->
                                    <span class="btn-link mr-12" (click)="nameTitAlt=null; msj_titalt=null">
                                      <span class="material-icons v-aling-m">close</span> Cerrar
                                    </span>
                                    <button (click)="tit_alt(a.id, i)" type="button" class="uc-btn btn-cta d-inline-block" style="width: 230px;" [disabled]="!tituloAlt">Crear título adicional</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Autores -->
                            <div class="row mt-2">
                              <div class="col-12">
                                <ng-container *ngFor="let autor of a['author'] let i = index">
                                  <span *ngIf="autor && i < 3" class="mr-8px" style="text-transform: uppercase;" title="Autor"><i class="material-icons ico-meta mr-3px" >perm_identity</i>  {{ autor }}</span>
                                  <span *ngIf="autor && i == 3" class="ico-meta">...</span>
                                </ng-container>
                                
                                <!-- <ng-container *ngFor="let otrosautores of a['other']">
                                  <span *ngIf="otrosautores" class="metadata" title="Otro autor"><i class="material-icons ico-meta" >perm_identity</i>  {{ otrosautores }}</span>
                                </ng-container> -->
                
                              </div>
                            </div>
                            <!-- Fechas -->
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="a.dateIssued">
                                  <span class=" color-gris font-size-14 mr-3px" title="Fecha publicación">
                                    <i class="material-icons ico-meta mr-3px">date_range</i> Publicación: {{ a.dateIssued }}
                                  </span>
                                </ng-container>
                                <ng-container *ngIf="a['fechaVinculacion']">
                                  <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                    <i class="material-icons ico-meta">date_range</i> Vinculación: {{ a.fechaVinculacion }}
                                  </span>
                                </ng-container>
                                <!-- <ng-container *ngIf="a['available']">
                                  <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                    <i class="material-icons ico-meta">date_range</i> Disponible: {{ a.available }}
                                  </span>
                                </ng-container> -->
                              </div>
                            </div>
                          </div>

                          <!-- FLAG VALIDACION VINCULACION -->
                          <div  *ngIf="a['estado_vinculacion']==0" class="col-md-12 col-lg-5 col-xl-4" style="display: flex; justify-content: flex-end; align-items:flex-start; text-align: right;" >
                            <div class="font-size-18" style="display: flex;align-items:center; justify-content: space-between; line-height: 18px;">
                              <div>Su vinculación está en proceso de validación</div>
                              <i class="material-icons  color-celeste font-size-40 ml-2">schedule</i>
                              
                            </div>
                          </div>
                          
                          <div *ngIf="a['estado_vinculacion']==1" class="col-md-12 col-lg-5 col-xl-4" style="display: flex; justify-content: flex-end; align-items:flex-start; text-align: right;" >
                            <div class="font-size-18" style="display: flex;align-items:center; justify-content: flex-end; line-height: 18px; ">
                              <div>Vinculación validada</div>
                              <i class="material-icons color-mostaza font-size-40 ml-2">verified</i>
                              
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-12 col-lg-6">
                            <!-- TAG -->
                            <div class="row mt-20 mb-8">
                              <div class="col-12">
                                <ng-container *ngIf="a.type">
                                  <span  class="uc-tag mr-3" title="Tipo de documento">
                                    {{ a.type }}
                                  </span>
                                </ng-container>
                                
                                <!-- fuente: {{a.fuente}} -->
                              </div>
                            </div>
                            <!-- Nombre revista -->
                            <div class="row mb-8">
                              <div class="col-12 color-gris font-size-14">
                                <ng-container *ngIf="a.revista">
                                  <span  class="mr-2" title="Revista">
                                    <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">local_library</span> {{ a.revista }}
                                  </span>
                                </ng-container>
                                <ng-container *ngIf="a.capitulo">
                                  <span  class="mr-2" title="Capítulo de libro">
                                    <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">library_books</span> {{ a.capitulo }}
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                            <!-- Indexaciones -->
                            <div class="row" *ngIf="a.indexacion"  title="Indexado en {{a.indexacion}}">
                              <div class="col-12 d-flex">
                                <div class="color-gris font-size-14">
                                  <span  class="material-icons v-aling-m font-size-20 mr-2 color-mostaza">dvr</span>
                                </div>

                                <span class="color-azul-oscuro">
                                      Indexado en:
                                      <span *ngFor="let item of a.indexacion.split('|'); let a = index">
                                        <span *ngIf="a<3" style="border-bottom: #E3AE00 4px solid; margin-left: 7px; text-transform: uppercase;">{{ item }} </span> 
                                        <span *ngIf="a==3">... </span> 
                                      </span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-lg-6 text-right">

                            <!-- FLAG VALIDACION DATOS -->
                            <div class="" *ngIf="a['flagValidacion']"> <!-- a['validacionbiblio'] -->
                              <div *ngIf="a['flagValidacion']=='Validado'" class="col-12"> <!-- a['validacionbiblio']=='Validado' -->
                                <span class="material-icons ico-meta color-mostaza mr-2 font-size-25">verified</span>
                                <span class="font-size-16">Registro validado</span>
                                <span class="tooltip ml-2">
                                  <span class="icoInfoTooltips">i</span>
                                  <span class="tooltiptext-left" >La información ingresada en esta publicación o creación artística, fue revisada y aprobada por parte del equipo de Bibliotecas UC.</span>
                                </span>
                              </div>
                              <div *ngIf="a['flagValidacion']=='Proceso'" class="col-12 p-0"> <!-- a['validacionbiblio']=='Sin validar' -->
                                <span class="material-icons ico-meta mr-2 font-size-25">schedule</span>
                                <span class="font-size-16">En proceso de validación de los datos</span>
                                <span class="tooltip ml-2">
                                  <span class="icoInfoTooltips">i</span>
                                  <span class="tooltiptext-left" >La información ingresada en esta publicación o creación artística, se encuentra en una etapa de revisión por parte del equipo de Bibliotecas UC.</span>
                                </span>
                              </div>
                            </div>

                            <div class="col-12 p-0">
                              <i class="material-icons ico-meta color-celeste mr-2">mail_outline</i>
                              <a (click)="emailSolicitar=i; response.show=false; message=null" class="color-celeste pointer" title="Solicitar correcciones">Solicitar correcciones</a>
                              
                            </div>
                          </div>

                          <!-- Email Solicitar correcciones -->
                          <div  class="col-12 mt-5" *ngIf="emailSolicitar==i && !response.show">
                            <form (ngSubmit)="submitContact(form, $event, a.title, a.handle)" #form="ngForm" >
                              <div class="row">
                                <div class="col-12 uc-form-group label">
                                  <label *ngIf="a.title.length<=35" class="label-default" title="{{a.title}}">Solicitud para {{ a.title}}</label>
                                  <label *ngIf="a.title.length>35" class="label-default" title="{{a.title}}">Solicitud para {{ a.title.substr(0, 35)}}...</label>
                                  <textarea (click)="placeholder()" #mensaje="ngModel" [(ngModel)]="message" required name="mensaje" class="w-100 uc-input-style " rows="7" ></textarea>
                                  <!-- <textarea #mensaje="ngModel" [(ngModel)]="message" required name="mensaje" class="w-100 uc-input-style " rows="7" placeholder="Escribir aquí solicitud para: {{ a.title}} "></textarea> -->
                                </div>
                              </div>
                              <div class="row mt-2 mb-2">
                                <div class="col-12 col-lg-8 color-red">
                                  <ng-container *ngIf="!mensaje.valid && mensaje.touched" >
                                  <i class="material-icons ">warning </i> <span class="ml-2">Mensaje es requerido.</span>
                                  </ng-container>
                                </div>
                                <div class="col-12 col-lg-4 text-align--right">
                                  <span class="color-celeste pointer mr-4" (click)="emailSolicitar=null; response.show=false">Cerrar</span>
                                  <button class="btn-linea" type="submit" [disabled]="form.pristine || form.invalid">Enviar solicitud</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <ng-container *ngIf="emailSolicitar==i && response.show">
                                <div class="col-12 font-centered font-size-18 mt-20 mb-24">
                                  <i class="material-icons mr-3 {{response.color}}">{{response.icono}}</i>
                                  <span>{{ response.text }}</span>
                                  <a title="Cerrar" class="color-celeste pointer ml-2" (click)="emailSolicitar=null; response.show=false">Cerrar</a>
                                </div>
                          </ng-container>
                        </div>
                      </article>
                    </div>
                    <!-- paginador -->
                    <form #pagina="ngForm">
                        <nav class="uc-pagination">
                          
                            <button (click)="confirmados(prevPage,'',orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                                <i class="uc-icon">keyboard_arrow_left</i>
                            </button>
                            <ul class="uc-pagination_pages">
                                <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                                    <a (click)="confirmados(num,'', orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                                </li>
                            </ul>
                            <button (click)="confirmados(nextPage,'', orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                                <i class="uc-icon">keyboard_arrow_right</i>
                            </button>
                          
                        </nav>
                    </form>
                  </ng-container>
                  <!-- fin card -->

                </div>


  
            </section>
        </div>
    </div>
</section>

<!--  MODAL FICHA -->

<div *ngIf="modal_ficha">
    <!-- BODY -->
    <div class="contenedor_ficha" >

      <div class="bg-white " style="position: fixed; z-index: 99999;width: 90%; padding: 10px; top:5%; left:5%; border-bottom: 1px #999 solid; border-radius: 15px 15px 0 0;"> 
        <div class="col-12 text-right" (click)="cerrarModal_ficha()" title="Cerrar">
          <span class="material-icons font-size-50 pointer color-celeste mr-8 v-aling-m">cancel</span> <span class="font-size-20 pointer color-celeste">Cerrar</span>
        </div>
      </div>

      <div class="mt-70px">

        <ng-container *ngIf="data['publics']['dc.type']">
          <a *ngFor="let tag of data['publics']['dc.type']" title="{{ tag }}" class="uc-tag mb-16 linkTag">{{ tag}}</a>
        </ng-container>
    
        <div class="row mb-32">
          <div class="col-12">
            <ng-container  *ngFor="let title of data['publics']['title']">
              <h1 *ngIf="title" class="mb-16">{{ title }}</h1>
            </ng-container >
            <span *ngIf="data['publics']['author']" class="text-size--18 ico-meta mr-12 metadata" title="Autor"><i class="material-icons ico-meta">account_box</i> {{ data['publics']['author'][0] }}  </span>
            <span *ngIf="data['publics']['dateIssued.year']" class="text-size--18 ico-meta mr-12 metadata" title="Fecha publicación"> <i class="material-icons ico-meta">date_range</i> {{ data['publics']['dateIssued.year'][0] }}</span>
            <a *ngIf="data['publics']['dc.identifier.uri']" href="{{ data['publics']['dc.identifier.uri'][0] }}" target="_blank" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</a>
<!--             <span *ngIf="data['publics']['dc.identifier.uri']" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</span> -->
          </div>
        </div>
    
        <div class="row">
          <!-- sección Widget -->
          <div class="col-lg-4 col-md-6 col-12">

            <!-- FLAG VALIDACION VINCULACION Y DATOS -->
            <article class="uc-card mb-32" *ngIf="data['publics']['flagValidacion'] && data['publics']['flagValidacion'][0] != 'Vacio'">
              <div class="uc-card_body">
                <span class="uc-subtitle text-size--18">VALIDACIÓN</span>
                <hr class="uc-hr my-24">
                <ng-container *ngFor="let validacion of data['publics']['flagValidacion']"> <!-- sipa.validacionsipa -->
                  <span *ngIf="validacion=='Validado'"><i class="material-icons ico-meta color-mostaza mr-2 font-size-25">verified</i>  Registro validado</span>
                  <span *ngIf="validacion=='Proceso'"><i class="material-icons ico-meta mr-2 font-size-25">schedule</i>  En proceso de validación de los datos</span>
                </ng-container>
                <ng-container *ngFor="let validacion of data['publics']['sipa.validaUA']">
                  <span *ngIf="validacion=='Validado'"><i class="material-icons ico-meta color-mostaza mr-2 font-size-25">verified</i>  Vinculación validada</span>
                  <span *ngIf="validacion=='Sin validar'"><i class="material-icons ico-meta mr-2 font-size-25">schedule</i>  En proceso de validación de la vinculación</span>
                </ng-container>
              </div>
            </article>

            <!-- Foto sin resumen -->
            <article class="mb-32 font-centered" *ngIf="foto">
              <figure >
                <img  class="img-fluid w-150" style="border:1px solid #999999; padding:20px" src="{{foto}}" alt="{{foto}}">
              </figure>
            </article>

            <!-- INFORMACION -->
            <article class="uc-card mb-32" *ngIf="data['publics']['dc.type'] || data['publics']['dc.subject.other']">
              <div class="uc-card_body">
                <span class="uc-subtitle text-size--18">INFORMACIÓN</span>
                <hr class="uc-hr my-24">
    
                <!-- Tipo de documento -->
                <div class="mb-16" *ngIf="data['publics']['dc.type']">
                  <span class="uc-subtitle d-block mb-8">TIPO DE DOCUMENTO</span>
                  <ng-container *ngFor="let type of data['publics']['dc.type']">
                    <a title="{{ type }}" class="uc-tag mb-8 linkTag">{{ type }}</a>
                  </ng-container>
                </div>
    
                <!-- Temática -->
                <div *ngIf="data['publics']['dc.subject.other']">
                  <span class="uc-subtitle d-block mb-8">TEMÁTICA</span>
                  <ng-container *ngFor="let topic of data['publics']['dc.subject.other']">
                    <a title="{{ topic }}" class="uc-tag mb-8 linkTag">{{ topic }}</a>
                  </ng-container>
                </div>
              </div>
            </article>
    
            <!-- Descargar ficha-->
            <article class="uc-card uc-card--gray mb-32" *ngIf="data['publics']['archivos']">
              <div class="uc-card_body">
    
                  <span class="uc-subtitle mt-32 text-size--18">DESCARGAS</span>
                  <hr class="uc-hr my-16">
                  
                  <ng-container *ngIf="!embargo" >
                    <ng-container *ngFor="let file of data['publics']['archivos']">
                      <form ngNoForm action="{{urldescargar}}" method="POST">
                        <input type="hidden" value="{{data['publics']['search.resourceid']}}" name="uuid">
                        <input type="hidden" value="{{file.archivo}}" name="nombre_archivo" >
                        <i class='uc-icon mr-8'>get_app</i> 
                        <input *ngIf="file.archivo.length>=25" type="submit" class="btn-link" name="nombre" value="{{file.archivo.substr(0, 25)}}..." title="Descargar {{file.archivo}}">
                        <input *ngIf="file.archivo.length<25" type="submit" class="btn-link" name="nombre" value="{{file.archivo}}" title="Descargar {{file.archivo}}">
                      </form>
                    </ng-container>
                  </ng-container>
    
                  <ng-container *ngIf="embargo">
                    <ng-container *ngFor="let file of data['publics']['archivos']">
                      <div title="Se encuentra en embargo" class="uc-link no-decoration text-weight--500 mt-8 text-color--gray-dark">
                        <span *ngIf="file.archivo.length>=25" class="material-icons mr-8 color-red" title="{{file.archivo}}">lock</span>{{file.archivo.substr(0, 25)}}...
                        <span *ngIf="file.archivo.length<25" class="material-icons mr-8 color-red" title="{{file.archivo}}">lock</span>{{file.archivo}}
                      </div>
                    </ng-container>
                    <p class="color-red ">(<i>No descargable por embargo</i>)</p>
                  </ng-container>
    
              </div>
            </article>
    
            <!-- Datos investigador -->
            <article class="uc-card mb-32" *ngIf="data['publics']['author']">
              <div class="uc-card_body">
                <span class="uc-subtitle text-size--18">AUTOR</span>
                <hr class="uc-hr my-24">
                <ng-container *ngFor="let autores of data['publics']['author'] let i = index">
                  <span *ngIf="autores && i < 5" class="text-size--16">
                    <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                  </span>
                  <span *ngIf="autores && i == 5" class="text-size--16">
                    <br>
                    <a class="link mb-2" *ngIf="!ver_mas" (click)="ver_mas = true">Ver más...</a>
                    <a class="link mb-2" *ngIf="ver_mas" (click)="ver_mas = false">Ver menos...</a>
                    <br><br>
                  </span>
                  <span *ngIf="autores && i >4 && ver_mas" class="text-size--16">
                    <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                  </span>
                </ng-container>
              </div>
            </article>
          </div>
    
          <!-- Sección contenido central -->
          <div class="col-lg-8 col-md-6 col-12">
    
                <!-- Foto y resumen -->
                <p *ngIf="data['publics']['dc.description.abstract']" style="text-align: justify;">
                  <!-- <img class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{foto}}" alt="{{foto}}" > -->
                  <span >{{ data['publics']['dc.description.abstract'][0]}}</span>
                </p>
    
                <!-- Foto sin resumen -->
                <!-- <article *ngIf="!data['publics']['dc.description.abstract']">
                  <figure >
                    <img class="img-fluid w-150" style="border:1px solid #999999; padding:20px" src="{{foto}}" alt="{{foto}}">
                  </figure>
                </article> -->
    
                <!-- Tab Metadatos -->
                <div class="uc-tabpanel" data-tabpanel>
                  <!-- Tabs se muestran como botones -->
                  <ul class="uc-tabs d-none d-lg-flex">
                      <li class="uc-tabs_item">
                          <p (click)="metadatas('sencillo')" class="uc-tabs_item-link pointer {{ tipodata == 'sencillo' ? 'active' : '' }}">Registro Sencillo</p>
                      </li>
                      <li class="uc-tabs_item">
                          <p (click)="metadatas('completo')" class="uc-tabs_item-link pointer {{ tipodata == 'completo' ? 'active' : '' }}">Registro Completo</p>
                      </li>
                  </ul>
                  <div class="uc-tab-body">
                      <div *ngIf="tipodata=='sencillo'">
                        <table class="uc-table ">
                          <tbody>
                            <tr *ngFor="let tag of metadatos_simple">
                              <!-- Columna 1 -->
                              <td class="width-25" *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                                <strong>{{ tag['metadato']}}</strong>
                              </td>
                              <!-- Columna 2 -->
                              <td *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                                <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                  <ng-container *ngIf="i < 5">
                                    <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                    <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                    <p *ngIf="tag['link']">
                                      <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                    </p>
                                  </ng-container>
                                  <ng-container *ngIf="i == 5">
                                    <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                    <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                    <br><br>
                                  </ng-container>
  
                                  <ng-container *ngIf="i > 4 && ver_mas">
                                    <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                    <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                    <p *ngIf="tag['link']">
                                      <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                    </p>
                                  </ng-container>
  
                                  <!-- <ng-container *ngIf="ultimo">
                                    <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                  </ng-container> -->
                                </ng-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
    
                      <div *ngIf="tipodata=='completo'">
                        <table class="uc-table ">
                          <tbody>
                            <tr *ngFor="let tag of metadatos_simple">
                              <!-- Columna 1 -->
                              <td *ngIf="tag['mostrar']">
                                <strong>{{ tag['cod'] }}</strong>
                              </td>
                              <!-- Columna 2 -->
                              <td *ngIf="tag['mostrar']">
                                <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                  <ng-container *ngIf="i < 5">
                                    <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                    <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                    <p *ngIf="tag['link']">
                                      <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                    </p>
                                  </ng-container>
                                  <ng-container *ngIf="i == 5">
                                    <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                    <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                    <br><br>
                                  </ng-container>
  
                                  <ng-container *ngIf="i > 4 && ver_mas">
                                    <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                    <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                    <p *ngIf="tag['link']">
                                      <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                    </p>
                                  </ng-container>
                                </ng-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
            
          </div>
    
        </div>
      </div>
  
    </div>
  
    <!-- Background Modal -->
    <div class="overlay" (click)="cerrarModal_ficha()"></div>
  </div>