
<div class="uc-navbar p-2">
  <div class="container container--nav">
    <div class="row no-gutters">
      <!-- LOGO UC -->
      <div class="col-lg-2">
        <nav class="uc-navbar-brand d-none d-lg-flex">
          <a href="http://www.uc.cl" target="_blank" class="uc-brand  mr-3 outline-link" title="Ir al Portal UC">
            <img class="img-fluid" src="assets/img/logo-uc-03.svg" alt="Logo Universidad Católica" aria-label="Ir al inicio">
          </a>
        </nav>
      </div>

      <!-- LOGO SIPA -->
      <div class="col-lg-7">
        <nav class="uc-navbar_title">
          <!-- <img [routerLink]="['/']"  tabindex="-1" class="img-fluid pointer" width="40%" src="assets/img/logo-sipa.png" alt="Logo SIPA Universidad Católica" aria-label="Ir al inicio"> -->
          <h1 [routerLink]="['/']" class="tex-sipa-header" title="Ir a inicio">Sistema de Información de Producción Académica SIPA</h1>
        </nav>
        <!-- TOOLGUIA -->
        <ng-container *ngIf="num_toolguia=='p1' && loggedIn" >
          <section class="toolguia_back"></section>
          <span class="toolguia" style="margin-left: 50%; margin-top: 50px;">
              <span class="toolguiatext">
                <div class="toolguia-pasos">
                  <span class="material-icons toolguia-paso active">lens</span>
                  <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                  <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                  <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                  <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                </div>
                <img src="assets/img/tooltips-bienvenida.png" style="width: 100%; margin-bottom: 30px;" >
                <h5>Bienvenido a tu perfil SIPA 👏👏👏</h5>
                <p>Te guiaremos por esta vez para mostrarte los principles accesos del portal. Podrás omitir este asistente virtual el que solo aparecerá por esta vez</p>
                <div class="toolguia-footer">
                  <button type="button" class="btn-link toolguia-omitir" (click)="toolguia('p0')">Omitir</button>            
                  <button type="button" class="btn-link" style="float: right;" (click)="toolguia('p2')">Siguiente</button>
                </div>
              </span>
          </span>
        </ng-container>
      </div>

      <!-- PERFIL -->
      <nav class="col-lg-3">
        <a *ngIf="!loggedIn" tabindex=0 (keypress)="loginCas()" (click)="loginCas()" class="deslogueado"  aria-label="Ir a iniciar sesión con cuenta UC" title="Iniciar sesión cuenta UC">
          <i class="uc-icon" style="font-size:33px; color: #808080">account_circle </i> Iniciar Sesión <strong>UC </strong>
        </a>
        
        <nav *ngIf="loggedIn" class="container_header_perfil">
          <div [routerLink]="['/misdatos']" class="btn-ico-perfil" aria-label="Mi cuenta" title="Mis datos">
              <i class="uc-icon ico-perfil">person_outline </i> 
          </div>

          <div class="main-sesion">
            <div [routerLink]="['/misdatos']" class="btn-tex-perfil"  aria-label="Mi cuenta" title="Mis datos">
              {{usuario}}
            </div>
            <div tabindex=0 (keypress)="logout()" (click)="logout()" class="btn-sesion" title="Cerrar sesión cuenta SIPA">
              <i class="uc-icon ico-sesion">block</i><span class="ml-2 tex-cerrarsesion">Cerrar sesión</span>
              
            </div>
            
          </div>
        </nav>
      </nav>
      <!-- TOOLGUIA -->
      <ng-container *ngIf="num_toolguia=='p5'" >
        <section class="toolguia_back"></section>
        <span class="toolguia" style="left: -20%; top: 50px;">
            <span class="toolguiatext">
              <div class="toolguia-pasos">
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso active">lens</span>
              </div>
              <img src="assets/img/tooltips-sesion.jpg" style="width: 100%; margin-bottom: 30px;" >
              <h5>Tu perfil segura 🔒🔑</h5>
              <p>Recuerda cerrar siempre tu sesión 🚫, verifica además tus datos de perfil haciendo clic en tu nombre.</p>
              <div class="toolguia-footer">
                <!-- <button type="button" class="btn-link toolguia-omitir" (click)="toolguia('p0')">Omitir</button>   -->          
                <button type="button" class="btn-link" style="float: right;" (click)="toolguia('p0')">ENTENDIDO</button>
              </div>
            </span>
        </span>
      </ng-container>
      
      <!-- MENU -->
      <nav class="col-xl-10 offset-xl-2 col-lg-12 offset-lg-0" data-role="navigation-holder">

        <ul class="uc-navbar_nav d-lg-flex dropdown-menu" id="principal" >
          <li class="nav-item uc-dropdown menu-item" *ngFor="let menu of MenuRepos; let i = index">
            <a class="dropbtn uc-link text-size--15" [routerLink]="[menu['link']]" style="padding-bottom: 8px;" title="{{ menu['name'] }}" >{{ menu['name'] }}</a>
            
            <!-- Sub menu 1-->
            <ng-container *ngIf="menu['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item menu-item" *ngFor="let item of menu['sub']">
                  <div class="col-6">
                    <a class="uc-btn" title="{{ item['name'] }}" [routerLink]="[item['link']]">{{ item['name'] }}</a>
                  </div>       
                </li>
              </ul>
            </ng-container>

          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="uc-navbar_mobile-button d-flex d-lg-none" data-role="collapse-header" data-target="[data-role='navigation-holder']">
    <i class="uc-icon">menu</i>
  </div>
</div>

<!-- TOOLGUIA -->
<ng-container *ngIf="num_toolguia=='p4'" >
  <section class="toolguia_back"></section>
  <span class="toolguia" style="margin-left: 40%;">
    <span class="toolguiatext">
      <div class="toolguia-pasos">
        <span class="material-icons toolguia-paso ">panorama_fish_eye</span>
        <span class="material-icons toolguia-paso">panorama_fish_eye</span>
        <span class="material-icons toolguia-paso ">panorama_fish_eye</span>
        <span class="material-icons toolguia-paso active">lens</span>
        <span class="material-icons toolguia-paso">panorama_fish_eye</span>
      </div>
      <p>👀 Tendrás siempre visible menú con enlaces de tipo informativo para acceder a ayudas 🆘 📭, información sobre el portal y volver a tu página principal 🏠 (Mi producción académica) </p>
      <div class="toolguia-footer">
        <button type="button" class="btn-link toolguia-omitir" (click)="toolguia('p0')">Omitir</button>            
        <button type="button" class="btn-link" style="float: right;" (click)="toolguia('p5')">Siguiente</button>
        <!-- <button type="button" class="btn-linea" (click)="toolguiaClose()">Entendido</button> -->
      </div>
      
    </span>
  </span>
</ng-container>