<!-- SIDEBAR MENU PERFIL -->

    <div class="row sidebar">
      <div class="col-12">  
        <div [routerLink]="['/mispublicaciones/confirmado']" class="button_sidebar {{ pag_active == 'mis_publicaciones' ? 'active' : '' }}" title="Mi producción académica">
          <span class="material-icons ico_sidebar {{ pag_active == 'mis_publicaciones' ? 'active' : '' }}">folder_open</span> 
          <div class="tex_sidebar">Mi producción académica</div>
        </div>

        <!-- TOOLGUIA -->
        <ng-container *ngIf="num_toolguia=='p2'" >
          <section class="toolguia_back"></section>
          <span class="toolguia" style="margin-left: 50%">
            <span class="toolguiatext">
              <div class="toolguia-pasos">
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso active">lens</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
              </div>
              <p>Tu página principal, 🏠 también accesible desde los links de "Inicio", <strong>aquí encontrarás tu lista académica que has o te han vinculado.</strong> 📚📂</p>
              <div class="toolguia-footer">
                <button type="button" class="btn-link toolguia-omitir" (click)="toolguia('p0')">Omitir</button>            
                <button type="button" class="btn-link" style="float: right;" (click)="toolguia('p3')">Siguiente</button>
              </div>
            </span>
          </span>
        </ng-container>

        <div *ngIf="estado_user_sipa=='true'" (click)="activarSidebar(false)" class="button_sidebar {{ pag_active == 'publicar' ? 'active' : '' }}" title="Actualizar mi producción académica">
          <div class="material-icons ico_sidebar {{ pag_active == 'publicar' ? 'active' : '' }}">post_add</div> 
          <div class="tex_sidebar">Actualizar mi producción académica</div>
        </div>

        <!-- TOOLGUIA -->
        <ng-container *ngIf="num_toolguia=='p3'" >
          <section class="toolguia_back"></section>
          <span class="toolguia" style="margin-left: 50%;">
            <span class="toolguiatext">
              <div class="toolguia-pasos">
                <span class="material-icons toolguia-paso ">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso active">lens</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
                <span class="material-icons toolguia-paso">panorama_fish_eye</span>
              </div>
              <p>Accede a gestionar tu producción académica. Tráela de otras fuentes 📌 o regístrala directamente en SIPA. ✍</p>
              <div class="toolguia-footer">
                <button type="button" class="btn-link toolguia-omitir" (click)="toolguia('p0')">Omitir</button>            
                <button type="button" class="btn-link" style="float: right;" (click)="toolguia('p4')">Siguiente</button>
              </div>
            </span>
          </span>
        </ng-container>

        <div *ngIf="datos_academicos.NOMBRE_PERFIL[0] == 'jefaturas'" [routerLink]="['/produccion-academicos/academicos']" class="button_sidebar {{ pag_active == 'produccion_academicos' ? 'active' : '' }}" title="Producción de otros académicos">
          <div class="material-icons ico_sidebar {{ pag_active == 'produccion_academicos' ? 'active' : '' }}">group_add</div> 
          <div class="tex_sidebar">Producción de otros académicos</div>
        </div>

      </div>
    </div>
