 
 <!-- Título y bajada-->
 <section id="resultados" class="uc-section uc-section__header">
    <div class="container">
      <h1 class="mt-60">{{ data['title-pag'] }}</h1>

      <div class="row">
        <div class="col-md-8">
          <span>{{data['bajada']}}</span>
        </div>
      </div>
    </div>
</section>
 
  <!-- Facetas y lista de resultados -->
 <section class="uc-section uc-section__page" >
    <div class="container">
      <div class="row">
        <!-- MENU DE FACETAS -->
        <div class="col-md-3 col-6">
          <div class="uc-card uc-card--gray mb-32">
            <div class="uc-card_body">
              <h2 class="mb-24">Filtros</h2>
              <form class="" action="#" method="get">
 
                <!-- Facetas tipo documento -->
                <div *ngIf="!data['tipodoc']!=''" class="mb-24">
                    <div class="text-weight--500">Tipo de documento</div>
                    <div class="row">
                      <div *ngFor="let item of tipodoc; let i=index" class="col-12">
                        <div (click)="getFacetas(item[0],'tipo')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                          <div class="col-9 mt-8">
                              <a (click)="getFacetas(item[0],'tipo')" title="{{item[0] | tubos_derecha}}" class="mb-0 text-size--14 pointer" >{{item[0] | tubos_derecha}}</a>
                          </div>
                          <div style="text-align: right;" class="col-3 font-righted mt-8">
                              <a title="{{item[1]}} registros" class="ico-n-reg">{{item[1] }}</a>
                          </div>
                         </div>
                       </div>
                    </div>
                    <div *ngIf="tipodoc.length > 6" class="mt-8">
                       <a title="Ver más tipos de documentos" (click)="searchFacetas('tipodoc',1)" class="uc-link text-weight--500 text-size--14 link">
                         <i class="uc-icon">add</i>Ver más ({{tipodoc.length}})
                       </a>
                     </div>
                    <hr class="uc-hr my-24">
                </div>
  
                <!-- Facetas tematicas -->
                <div *ngIf="data['tematicas']!=''" class="mb-24">
                   <div class="text-weight--500">Temáticas y Materias</div>
                   <div class="row">
                     <div *ngFor="let materia of tematicas; let i=index" class="col-12">
                       <ng-container *ngIf="materia[0].indexOf(370)">
                       <div (click)="getFacetas(materia[0],'tema')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                         <div class="col-9 mt-8">
                           <a title="{{materia[0]}}" class="mb-0 text-size--14 pointer">{{materia[0]}}</a>
                         </div>
                          <div style="text-align: right;" class="col-3 font-righted mt-8">
                              <a title="{{materia[1]}} registros" class="ico-n-reg">{{materia[1]}}</a>
                          </div>
                       </div>
                     </ng-container>
                     </div>
                   </div>
                    <div *ngIf="tematicas.length > 6" class="mt-8">
                     <a (click)="searchFacetas('tema',1)"  title="Ver más tematicas" class="uc-link text-weight--500 text-size--14 link">
                        <i class="uc-icon">add</i>Ver más ({{tematicas.length}})
                     </a>
                   </div>
                   <hr class="uc-hr my-24">
                </div>
  
                <!-- Facetas autores -->
                <div *ngIf="data['autores']!=''" class="mb-24">
                    <div class="text-weight--500">Autores</div>
                    <div class="row">
                      <div *ngFor="let autor of autores; let i=index" class="col-12">
                        <div (click)="getFacetas(autor[0],'autor')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                          <div class="col-9 mt-8">
                              <a title="{{autor[0]}}" class="mb-0 text-size--14 pointer">{{autor[0]}}</a>
                          </div>
                          <div style="text-align: right;" class="col-3 font-righted mt-8">
                              <a title="{{autor[1]}} registros" class="ico-n-reg">{{autor[1]}}</a>
                          </div>
                         </div>
                       </div>
                    </div>
                    <div *ngIf="autores.length > 6" class="mt-8">
                       <a (click)="searchFacetas('autores',1)" title="Ver más autores" class="uc-link text-weight--500 text-size--14 link">
                         <i class="uc-icon">add</i>Ver más ({{autores.length}})
                       </a>
                   </div>
                </div>
 
              </form>
            </div>
          </div>
        </div>
        <!-- fin menu de facetas -->
  
        <!-- LISTA DE RESULTADOS BUSQUEDAS -->
        <div class="col-md-9 col-6" *ngIf="data['search']; let i = index">
            <!-- Caja anuncio -->
            <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body d-inline-block bg-celeste-3 border-primary text-align">
                  <h3 class="d-inline--block mr-12 ">¿Necesita vincularse a publicaciones?</h3>
                    
                  <div class="d-inline--block">
                    <a href="/busqueda" class="uc-btn btn-primary" title="Importar publicaciones">
                        Importar publicaciones
                        <i class="uc-icon icon-shape--rounded ml-12">arrow_forward</i>
                    </a>
                  </div>
                </div>
            </div>

            <!-- Ordenar por -->
            <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body d-inline-block">
                <span>Ordenar por:</span>
                <div class="uc-btn--group d-inline--block">
                <button class="uc-btn--linkalike" (click)="buscar(1,'', '')" title="Ordenar por más relevante">Más relevante</button>
                    <button class="uc-btn--linkalike" (click)="buscar(1,'', '1')" title="Ordenar por más recientes">Más reciente</button>
                    <button class="uc-btn--linkalike" (click)="buscar(1,'', '2')" title="Ordenar por menos recientes">Menos reciente</button>
                    <button class="uc-btn--linkalike" (click)="buscar(1,'', '3')" title='Ordenar de la "A" a la "Z"'>A - Z</button>
                    <button class="uc-btn--linkalike" (click)="buscar(1,'', '4')" title='Ordenar de la "Z" a la "A"'>Z - A</button>
                </div>
                </div>
            </div>
          
            <!-- Lista resultado búsqueda -->
            <ng-container >
                <div *ngIf="registros" class="mb-3 row">
                    <p class="col-6">Se han encontrado <strong>{{ data['search'][1]['numFound'] }} resultados</strong></p>
                    <div *ngIf="registros" class="mb-3 col-6 text-align-right color-gris">20 registros por página</div>
                </div>
                
                <ng-container *ngFor="let search of data['search']; let i = index">
                    <app-card-publications [data]="search" [heightSame]="false" [urlImg]="urlImg" [vinculado]=true></app-card-publications>
                </ng-container>

                <div *ngIf="!registros" style="text-align: center;color:#0176DE">
                <i class="material-icons mt-5 md-60">sentiment_very_dissatisfied</i> 
                <h4 class="mt-3 mb-3">¡Lo sentimos!</h4>
                No existen registros con ese criterio de búsqueda.
                </div>
            </ng-container>
            <!-- paginador -->
            <form #pagina="ngForm">
                <nav class="uc-pagination">
                
                    <!-- <button type="submit" [routerLink]="['/busqueda/',prevPage]" class="uc-pagination_prev mr-12"> -->
                    <button (click)="buscar(prevPage,'',orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                        <i class="uc-icon">keyboard_arrow_left</i>
                    </button>
                    <ul class="uc-pagination_pages">
                        <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                            <!-- <a [routerLink]="['/busqueda/',num]" class="page-link pointer">{{num}}</a> -->
                            <a (click)="buscar(num,'', orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                        </li>
                    </ul>
                    <!-- <button type="submit" [routerLink]="['/busqueda/',nextPage]" class="uc-pagination_next ml-12"> -->
                    <button (click)="buscar(nextPage,'', orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                        <i class="uc-icon">keyboard_arrow_right</i>
                    </button>
                
                </nav>
            </form>
            <!-- Cargando -->
            <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
                <img class="mt-5" src="../../../assets/img/2.gif">
                <h4 class="mt-3 mb-3">Cargando...</h4>
            </div>

            <!-- Caja anuncio -->
            <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body d-inline-block bg-celeste-3 border-primary text-align">
                  <h3 class="d-inline--block mr-12 ">¿Necesita vincularse a publicaciones?</h3>
                    
                  <div class="d-inline--block">
                    <a href="#" class="uc-btn btn-primary" title="Importar publicaciones">
                        Importar publicaciones
                        <i class="uc-icon icon-shape--rounded ml-12">arrow_forward</i>
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <!-- fin lista de resultados busquedas -->
 
        <!-- LISTA DE RESULTADOS FACETAS -->
        <div class="col-md-9 col-6" *ngIf="data['listFacetas']">
           <ng-container >
             <div class="row">
               <ng-container *ngFor="let item of data['facetas']; let i=index">
                 <div *ngIf="i>=facetas_desde && i<facetas_hasta" class="col-lg-3 col-12 mb-32" (click)="getFacetas(item[0],data['tipo'])" >
                   <article class="uc-card card-type--horizontal card-height--same pointer mouse-over" title="{{item[0] | tubos_derecha }}">
                   <div class="col-9 mt-8">
                     <p class="uc-tag">{{item[1]}}</p>
                     <p class="mb-0 mt-0 text-size--14" >{{item[0] | tubos_derecha }} </p>  
                   </div>
                 </article>
                 </div>
               
               </ng-container>
             </div>
           </ng-container>
 
         <!-- paginador -->
         <form #pagina="ngForm">
           <nav class="uc-pagination">
               <button (click)="searchFacetas(data['facetas'],prevPage)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                 <i class="uc-icon">keyboard_arrow_left</i>
               </button>
               <ul class="uc-pagination_pages">
                 <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                   <a (click)="searchFacetas(data['facetas'], num)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                 </li>
               </ul>
               <button (click)="searchFacetas(data['facetas'],nextPage)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                 <i class="uc-icon">keyboard_arrow_right</i>
               </button>
           </nav>
         </form>
       </div>
       <!-- Fin Lista de Resultados Facetas -->
 
 
      </div>
    </div>
 </section>