<div class="uc-top-bar top-bar-altura">
  <div class="container container--nav">
    <div class="top-bar_mobile-logo d-block d-lg-none">
      <a class="uc-brand" title="Home" href="https://www.uc.cl/">
        <!-- <img class="img-fluid" src="dist/img/logo-uc-white.png" alt="Logo UC"> -->
        <span>Pontificia Universidad Católica de Chile</span>
      </a>
    </div>
    <div class="top-bar_links-container d-none d-lg-flex">
      <ul class="top-bar_links" *ngFor="let item of MenuUc; let i = index">
        <!-- <ng-container *ngFor="let item of post; let i = index"> -->
          <li *ngIf="i == 0">
            <a class="uc-link external" title="{{ item['name']}}" href="{{ item['link']}}" target="_blank">{{ item['name']}}</a>
          </li>
        <!-- </ng-container> -->
      </ul>
      <ul class="" *ngFor="let item of MenuUc; let i = index">
        <!-- <ng-container *ngFor="let item of post; let i = index"> -->
          <li class="nav-item uc-dropdown menu-item" *ngIf="i != 0">
            <a *ngIf="!item['sub']" class="uc-link external" title="{{ item['name']}}" href="{{ item['link'] }}" target="_blank">{{ item['name']}}</a>
            <a *ngIf="item['sub']" class="external" title="{{ item['name']}}">{{ item['name']}}</a>
            <!-- Sub menu 1-->
            <ng-container *ngIf="item['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item " *ngFor="let subitem of item['sub']">
                    <a class="uc-btn" title="{{ subitem['name'] }}" target="_blank" href="{{subitem['link']}}">{{ subitem['name'] }}</a> 
                </li>
              </ul>
            </ng-container>
          </li>
        <!-- </ng-container> -->
      </ul>
    </div>
  </div>
</div>
