<ng-container *ngFor="let a of data.docs; let i = index">
    
<!-- <a [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="mouse-over uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24" title="{{ a['dc.title']}}"> -->
<div class="mouse-over uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24" title="{{ a['dc.title']}}">
  <article class="uc-card_body">
    <div class="row">
      <!-- Foto -->
      <div style="display: none;" [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="col-lg-3 col-md-6 col-12 d-flex align-items--center pointer" >
        <figure class="mb-16 mb-md-0">
            <img *ngIf="a['meta'] " src="{{urlImg}}/{{ a['handle']}}/{{a['meta'][5].replace('.txt','.jpg')}}" onerror="this.src= 'assets/img/logo_uc_linea.png'"  alt="{{a['meta'][5].replace('.txt','.jpg')}}" class="img-fluid" width="100">
            <img *ngIf="!a['meta'] " src="assets/img/logo_uc_linea.png" alt="Sin imagen" class="img-fluid" style="opacity: 0.3;" width="100" >

        </figure>
      </div>
      <!-- Tìtulo y autor -->
      <div [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="{{ (data['url_thumbnail'] == '') ? 'col-lg-9' : 'col-lg-6 col-md-6' }} col-12 pointer">
        <div class="uc-card uc-card--edge">
          <div class="uc-card_body p-0">

            <!-- TAG -->
            <div class="row mb-16">
              <div class="col">
                <ng-container *ngIf="a['dc.type']">
                  <span *ngFor="let tag of a['dc.type']" class="uc-tag mr-2" title="Tipo de documento">
                    {{ tag }}
                  </span>
                </ng-container>
              </div>
            </div>

            <!-- Fechas -->
            <div class="row mb-16">
              <div class="col">
                <ng-container *ngIf="a['dateIssued.year']">
                  <span *ngFor="let anio of a['dateIssued.year']" class="color-gris font-size-14 mr-2" title="Fecha publicación">
                    <i class="material-icons ico-meta">date_range</i> Publicación: {{ anio }}
                  </span>
                </ng-container>
                <ng-container *ngIf="a['dc.date.available']">
                  <span  *ngFor="let fech of a['dc.date.available']" class="color-gris font-size-14 mr-2" title="Fecha disponible">
                    <i class="material-icons ico-meta">date_range</i> Disponible: {{ fech.substr(0,10)}}
                  </span>
                </ng-container>
              </div>
            </div>

            <!-- Titulo -->
            <h2 class="text-size--16 text-weight--700"> 
              {{ a['dc.title'] | fecha: 10 }}
            </h2>

            <!-- Autores -->
            <div class="row mt-8 ">
              <div class="col">
                <ng-container *ngFor="let autor of a['dc.contributor.author'] let i = index">
                  <span *ngIf="autor && i < 3" class="metadata mr-2" title="Autor"><i class="material-icons ico-meta" >account_box</i>  {{ autor }}</span>
                  <span *ngIf="autor && i == 3">...</span>
                </ng-container>
                
                <ng-container *ngFor="let otrosautores of a['dc.contributor.other']">
                  <span *ngIf="otrosautores" class="metadata mr-2" title="Otro autor"><i class="material-icons ico-meta" >account_box</i>  {{ otrosautores }}</span>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Vincularme/Desvincularme -->
      <div class="col-lg-3 d-none d-lg-block font-righted">
        <button type="button" (click)="vinculacion(a['handle'])" class="uc-btn btn-primary">Solicitar {{a['handle']}}</button>
        <label class="pointer" style="text-align: left; color:#0176DE; display: none;">
          <label class="switch mr-8">
            <!-- <input type="checkbox" #meta="ngModel" [(ngModel)]="vincularme"> -->
            <input *ngIf="vinculado" type="checkbox" name="{{i}}" id="{{1}" value="{{a['handle']}}" (change)="cheq($event)" checked>
            <input *ngIf="!vinculado" type="checkbox" name="{{i}}" id="{{1}" value="{{a['handle']}}" (change)="cheq($event)">
            <span class="slider round"></span> 
          </label> Vincular
        </label>
        <!-- <i class="uc-icon">book</i> -->
      </div>
    </div>
  </article>
</div>
<!-- </a> -->

</ng-container>
