<section id="top" class="uc-section uc-section__main">

  <!-- ALerta -->
  <div style="display: none;" class="uc-alert info mb-12">
    <div class="uc-alert_content">
        <i class="uc-icon icon-size--sm">info</i>
        <span class="p p-size--sm bold ml-8">
        <strong>Bienvenidos al Sistema Integrado de Publicación Académica, (SIPA UC).</strong> SIPA UC es la base de datos centralizada, actualizada y completa de los registros de la producción
        académica de la UC, desarrollada exclusivamente para uso interno de los integrantes de las
        unidades académicas y administrativas de la universidad.
        Bibliotecas UC no asume ninguna responsabilidad acerca de la veracidad y titularidad de la
        información entregada la cual ha sido proporcionada por los autores a través de los sistemas de
        auto archivos disponibles.
        Toda la producción académica se encuentra protegida por la ley 17.336, que protege los derechos
        de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso
        debe ajustarse a la legislación vigente. Dudas o consultas sobre esta materia, dirigirse a
        correo@uc.cl.
        </span>
    </div>
  </div>

  <!-- Login / Perfil-->
  <div class="container mb-32 mt-50" >  
    
    <!-- LOGIN -->
    <div  class="row mt-24" *ngIf="!loggedIn">
      <!-- Icono user -->
      <div class="col-md-3 offset-md-2 col-12 bg-degr bl-15-celeste">
        <div class="uc-card card-height--same bg-none border-none box-shadow-none">
          <div class="uc-card_body p-32">
              <div class="" style="height: 100%; display: flex;align-items: center;justify-content: center;">
                <img src="assets/img/ico-user-uc.png">
              </div>
          </div>
        </div>
      </div>
      <!-- Login -->
      <div class="col-md-6 col-12 bg-gris-c bt-15-gris" >
        <div class="uc-card card-height--same bg-none border-none box-shadow-none">
          <div class="uc-card_body p-32">
            <!-- <div class="d-flex align-items-center mb-16">
              <h2 class="color-celeste"> Usa tu cuenta UC </h2>
              <span class="uc-heading-decoration"></span>
              <span class="uc-heading-decoration m-0"></span>
            </div> -->
            <div class="uc-card_excerpt">
              <p>SIPA es una base de datos centralizada y colaborativa que reúne la producción académica de docentes e investigadoras/es UC. Usa tu cuenta UC para revisar y actualizar tus registros.</p>
            </div>
            <div class="row mt-auto">
              <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                <a tabindex=0 (keypress)="loginCas()" (click)="loginCas()" class="uc-btn btn-cta pointer" title="Serás redireccionado a iniciar sesión con tu cuenta UC">Iniciar sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  PERFIL USER -->
    <div id="containerBusca" class="row" *ngIf="loggedIn">

      <!-- SIDEBAR MENU PERFIL -->
      
      <div class="col-md-3 border-r-10" *ngIf="!editing">
        <app-sidebar></app-sidebar>
      </div>

      <!-- CONTENT PUBLICA -->
      <div class="col-md-9 col-12 border p-60" style="background: rgba(0, 118, 222, 0.05);">
        <!-- <app-upload-record></app-upload-record> -->

        <!-- <div class="row font-centered">
          
          <h1 class="col-12">Publicar en SIPA</h1>
          <p class="col-12">Publica en SIPA tus investigaciones académicas o creaciones artísticas</p>

          <div class="uc-alert info mb-12">
            <div class="uc-alert_content">
                <i class="uc-icon icon-size--md">info</i>
                <span class="p p-size--sm bold ml-8">
                <strong>Bienvenidos al Sistema Integrado de Publicación Académica, (SIPA UC).</strong> SIPA UC es la base de datos centralizada, actualizada y completa de los registros de la producción
                académica de la UC, desarrollada exclusivamente para uso interno de los integrantes de las
                unidades académicas y administrativas de la universidad.
                Bibliotecas UC no asume ninguna responsabilidad acerca de la veracidad y titularidad de la
                información entregada la cual ha sido proporcionada por los autores a través de los sistemas de
                auto archivos disponibles.
                Toda la producción académica se encuentra protegida por la ley 17.336, que protege los derechos
                de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso
                debe ajustarse a la legislación vigente. Dudas o consultas sobre esta materia, dirigirse a
                <a href="mailto:correo@uc.cl">correo@uc.cl</a>
                </span>
            </div>
          </div>
          <div class="col-12 col-md-8 offset-md-2 mt-50">
            <input name="condiciones" id="condiciones" value="condiciones" (change)="cheq($event)" type="checkbox" class="uc-input__checkbox mr-8"  > 
            <label for="condiciones"> He leido los términos y condiciones del servicio.</label>
            <button tabindex=0 (keypress)="upload/subir-publicacion" [routerLink]="['/upload/subir-publicacion']" class="uc-btn btn-cta " [disabled]="!condicion_publicar">Publicar</button>
          </div>
          
        </div> -->

      </div>

      
    </div>
  </div>
  

</section>

<!-- Números y gráficos -->
<section class="uc-section pt-65 pb-65 bg-azul-b" *ngIf="json.horizon_nuestros_numeros.active && !editing && !loggedIn">
  <div class="container">
    <ng-container >
      <!-- partials/commons/title -->
      <app-title class="color-white" [title]="json.horizon_nuestros_numeros.title" [type]="'estadisticas'"></app-title>
      <div class="row">
        <div class="col-md-12" *ngIf="json.horizon_nuestros_numeros.section_boxes.active">
          <div class="row">

            <!-- Cantidad de Artículos -->
            <a class="col-md-3 mb-32" aria-label="Buscar artículos" title="{{ data['statistics-articulos'] | number }} artículos">
              <div class="">
                <div class="p-12 text-center ">
                  <h4 class="color-degr-amarillo font-size-50 font-family font-light line-degr" title="{{ data['statistics-articulos'] | number }}">{{ data['statistics-articulos']}}</h4>
                  <!-- <h5 class="material-icons font-size-20 p-1 color-white" style="position: absolute; top:20px; right: 20px;"> search</h5> -->
                  <p class="mt-24 color-white">Cantidad de <br>Artículos</p>
                </div>
              </div>
            </a>

            <!-- Cantidad de Capítulo de libros {{ data['statistics-capitulo'] | number }} -->
            <a class="col-md-3 mb-32" aria-label="Buscar tesis" title="Otros {{ data['statistics-capitulo'] | number }} registros">
                <div class="">
                  <div class="p-12 text-center">
                    <h4 class="color-degr-amarillo font-size-50 font-family font-light line-degr" title="{{ data['statistics-capitulo'] | number }}">{{ data['statistics-capitulo'] }}
                    </h4>
                    <!-- <h5 class="material-icons font-size-20 p-1 color-white" style="position: absolute; top:20px; right: 20px;"> search</h5> -->
                    <p class="mt-24 color-white">Cantidad de <br>Capítulos de Libros</p>
                    
                  </div>
                </div>
              </a>

            <!-- Cantidad de libros  -->
            <a class="col-md-2 mb-32" aria-label="Buscar libros" title=" {{ data['statistics-libros'] | number }} libros">
              <div class="">
                <div class="p-12 text-center">
                  <h4 class="color-degr-amarillo font-size-50 font-family font-light line-degr" title="{{ data['statistics-libros'] | number }}">{{ data['statistics-libros']  }}</h4>
                  <!-- <h5 class="material-icons font-size-20 p-1 color-white" style="position: absolute; top:20px; right: 20px;"> search</h5> -->
                  <p class="mt-24 color-white" >Cantidad de <br>Libros</p>
                </div>
              </div>
            </a>

            <!-- Cantidad de Patentes  -->
            <a class="col-md-2 mb-32" aria-label="Buscar Patentes" title=" {{ data['statistics-patentes'] | number }} patentes">
              <div class="">
                <div class="p-12 text-center">
                  <h4 class="color-degr-amarillo font-size-50 font-family font-light line-degr" title="{{ data['statistics-patentes'] | number }}">{{ data['statistics-patentes'] }}</h4>
                  <!-- <h5 class="material-icons font-size-20 p-1 color-white" style="position: absolute; top:20px; right: 20px;"> search</h5> -->
                  <p class="mt-24 color-white" >Cantidad de <br>Patentes</p>
                </div>
              </div>
            </a>

            <!-- Cantidad de Obras  -->
            <a class="col-md-2 mb-32" aria-label="Buscar Obras Creativas" title=" {{ data['statistics-obras'] | number }} obras creativas">
              <div class="">
                <div class="p-12 text-center">
                  <h4 class="color-degr-amarillo font-size-50 font-family font-light line-degr" title="{{ data['statistics-obras'] | number }}">{{ data['statistics-obras'] }}</h4>
                  <!-- <h5 class="material-icons font-size-20 p-1 color-white" style="position: absolute; top:20px; right: 20px;"> search</h5> -->
                  <p class="mt-24 color-white" >Cantidad de <br>Obras Creativas</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>


<!-- MODAL -->
<ng-container>
  <div class="modal" style="width: 70%; height: 55%;" *ngIf="modal">
    <a (click)="cerrarModal()" class="uc-message_close-button position-absolute right-25 pointer"><i class="uc-icon">close</i></a>
    <h3>{{tituloModal}}</h3>

      <!-- Texto explicativo -->
      <div class="border p-60 font-centered mt-24">
        <h3 class="mb-32">Bienvenidos al Sistema Integrado de Publicación Académica, (SIPA UC).</h3>
        <p >SIPA UC es la base de datos centralizada, actualizada y completa de los registros de la producción
        académica de la UC, desarrollada exclusivamente para uso interno de los integrantes de las
        unidades académicas y administrativas de la universidad.
        Bibliotecas UC no asume ninguna responsabilidad acerca de la veracidad y titularidad de la
        información entregada la cual ha sido proporcionada por los autores a través de los sistemas de
        auto archivos disponibles.
        Toda la producción académica se encuentra protegida por la ley 17.336, que protege los derechos
        de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso
        debe ajustarse a la legislación vigente. Dudas o consultas sobre esta materia, dirigirse a
        correo@uc.cl.</p>
      </div>

  </div>
  <!-- Background Modal -->
  <div class="overlay" *ngIf="modal" (click)="cerrarModal()"></div>
</ng-container>