<section id="top" class="uc-section uc-section__header mb-60">
    <div class="container">
      <div class="row">
        
        <!-- SIDEBAR -->

        <div class="col-md-12 col-lg-12 col-xl-3 container_sidebar">
          <app-sidebar></app-sidebar>
        </div>

        <section class="col-md-9" style="padding: 50px 50px 50px 50px;">
          <!-- TITULO -->
          <div class="row ">
            <div class="col-12">
              <h1 class="mb-24">Mis Datos</h1>
            </div>
          </div>

          <!-- Panel Mis datos -->
          <div class="uc-card_excerpt mb-32">

              <div class="mt-24 font-size-14" *ngIf="datos_academicos">
                <table class="uc-table col-12">
                  <tbody>
                    <tr class="" >
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">NOMBRE COMPLETO</p>
                      </td>
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">{{ datos_academicos.NOMBRE_COMPLETO }}</p>
                      </td>
                    </tr>
                    <tr class="" >
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">NACIONALIDAD</p>
                      </td>
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">{{ datos_academicos.NACIONALIDAD }}</p>
                      </td>
                    </tr>
                    <tr class="" >
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">CORREO</p>
                      </td>
                      <td class="" style="padding-bottom: 1px !important;">
                        <p class="">{{ datos_academicos.CORREO }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-200" style="padding-bottom: 1px !important;">
                        <p>COD_PERS</p>
                      </td>
                      <td style="padding-bottom: 1px !important;">
                        <p >{{ datos_academicos.COD_PERS }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-200" style="padding-bottom: 1px !important;">
                        <p>RUT</p>
                      </td>
                      <td style="padding-bottom: 1px !important;"> 
                        <p >{{ datos_academicos.RUT }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-200" style="padding-bottom: 1px !important;">
                        <p>FACULTAD</p>
                      </td>
                      <td style="padding-bottom: 1px !important;">
                        <p >{{ datos_academicos.FACULTAD }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-200" style="padding-bottom: 1px !important;">
                        <p>UNIDAD ACADEMICA</p>
                      </td>
                      <td style="padding-bottom: 1px !important;">
                        <p >{{ datos_academicos.UNIDAD_ACADEMICA }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-200" style="padding-bottom: 1px !important;">
                        <p>GRADO PERFECCIONAMIENTO</p>
                      </td>
                      <td style="padding-bottom: 1px !important;">
                        <p >{{ datos_academicos.GRADO_PERFECCIONAMIENTO }}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              
            </div>
          
        </section>

      </div>
    </div>
</section>