  <!-- ALERTA INFO VACACIONES -->
<!--   <div id="alerta-tie" style="position: fixed; top: 0px; width: 100%; z-index: 99999; background-color: #fff; border-top: 4px solid #FEC60D;-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
  ">
    <div id="tie" >
        <div class="container">
            <div class="uc-alert " style="border: none; padding-left: 0px; padding-right: 0px;">
                <div class="uc-alert_content"><i class="uc-icon icon-size--sm mr-1 color-amarillo-oscuro">warning</i> <span class="bold my-8" style="font-weight: bolder;">IMPORTANTE: </span> El servicio "Las registramos por tí" estará deshabilitado en febrero del 2022 por período de vacaciones UC. El 1 de marzo volverá a estar operativo</div>
            </div>
        </div>
    </div>
  </div> -->
  <header>
  <app-top></app-top>
  <app-header></app-header>
</header>
<router-outlet></router-outlet>
<footer class="uc-footer">
  <app-footer></app-footer>
  <app-bottom></app-bottom>
</footer>




