<section id="arriba" class="uc-section uc-section__header mb-60" >
  <div class="container" *ngIf="json['horizon_header']['active']">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ json['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="json['horizon_header']['section_excerpt']['active']">
          {{  json['horizon_header']['section_excerpt']['excerpt']  }}
        </div>
      </div>
      <div class="col-md-3 offset-md-1 col-12">
        <div class="row">
          <div class="col-md-12 col-6" *ngIf="!loggedIn">
            <button id="buscar" (click)="loginCas()" type="button" class="uc-btn btn-cta mt-16">Ingresar a tu cuenta</button>
            
          </div>
          <div class="col-md-12 col-6">
            <button *ngIf="!loggedIn" title="{{ compartir['compartir-investigacion']['boton']['titulo'] }}" (click)="loginCas()" class="uc-btn btn-cta mt-16 pointer">{{ compartir['compartir-investigacion']['titulo'] }}</button>
            <button *ngIf="loggedIn" title="{{ compartir['compartir-investigacion']['boton']['titulo'] }}" [routerLink]="[ compartir['compartir-investigacion']['boton']['url'] ]" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['titulo'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BUSCADOR -->
<section class="uc-section uc-section__page pb-32">
  <div class="container">
    <div class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <!-- partials/commons/search-form -->
        <!-- El formulario recibe los parámetros del JSON 05-busqueda-tesis, cambiarlos de acuerdo al template -->
        <app-search-form [data]="json" [pagina]="json['busqueda-tesis']['titulo']"></app-search-form>
      </div>
    </div>
  </div>
</section>

<!-- ULTIMOS 10 PUBLICACIONES -->
<section class="uc-section uc-section__page" >
  <div class="container">
    <div class="row mb-24">
      <div class="col-12">
        <!-- partials/commons/title -->
        <app-title [title]="'Últimos 10 ' + json['horizon_header']['title']" [type]="'decorated'"></app-title>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-12">
        
        <ng-container *ngFor="let a of data['search'], let i=index">
          <a *ngIf="i<10" [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24 mouse-over" title="{{ a['dc.title']}}">
            <article class="uc-card_body">
              <div class="row">
                <div class="col-12">
                  <div class="uc-card uc-card--edge">
                    <div class="uc-card_body p-0">

                      <!-- TAG -->
                      <div class="row mb-2">
                        <div class="col">
                          <ng-container *ngIf="a['dc.type']">
                            <span *ngFor="let tag of a['dc.type']" class="uc-tag mr-2" title="Tipo de documento">
                              {{ tag }}
                            </span>
                          </ng-container>
                        </div>
                      </div>

                      <!-- Fechas -->
                      <div class="row mb-16">
                        <div class="col">

                          <ng-container *ngIf="a['dateIssued.year']">
                            <span *ngFor="let anio of a['dateIssued.year']" class="color-gris font-size-14 mr-2" title="Fecha publicación">
                              <i class="material-icons ico-meta">date_range</i> Publicación: {{ anio }}
                            </span>
                          </ng-container>

                          <ng-container *ngIf="a['dc.date.available']">
                            <span  *ngFor="let fech of a['dc.date.available']" class="color-gris font-size-14 mr-2" title="Fecha disponible">
                              <i class="material-icons ico-meta">date_range</i> Disponible: {{ fech.substr(0,10)}}
                            </span>
                          </ng-container>

                        </div>
                      </div>

                      <!-- Títulos -->
                      <h2 class="text-size--16 text-weight--700">
                        {{ a['dc.title']}}
                      </h2>

                      <!-- Autores -->
                      <div class="row mt-8 ">
                        <div class="col">
                          <ng-container *ngFor="let autor of a['dc.contributor.author']">
                            <span *ngIf="autor" class="metadata mr-2" title="Autor"><i class="material-icons ico-meta" >account_box</i>  {{ autor }}</span>
                          </ng-container>

                          <ng-container *ngFor="let otrosautores of a['dc.contributor.other']">
                            <span *ngIf="otrosautores" class="metadata mr-2" title="Otro autor"><i class="material-icons ico-meta" >account_box</i>  {{ otrosautores }}</span>
                          </ng-container>
                                
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </a>
        </ng-container>
        

        <!-- Cargando -->
        <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
          <img class="mt-5" src="../../../assets/img/2.gif">
            <h4 class="mt-3 mb-3">Cargando...</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin zona de resultados -->

<!-- TESIS DESTACADA -->
<section class="uc-section uc-section__page pb-32" *ngIf="!json['horizon_destacados']['active']">
  <div class="container">
    <div class="row mb-24">
      <div class="col-12">
        <!-- partials/commons/title -->
        <app-title [title]="json['horizon_destacados']['title']" [type]="'decorated'"></app-title>
      </div>
      <div class="col-md-8 col-12">
        <span>{{ json['horizon_destacados']['excerpt'] }}</span>
      </div>
    </div>
    <div class="row" *ngIf="data['publics']">
      <ng-container *ngFor="let publication of data['publics']; let i = index">
        <div class="col-md-4 col-12 mb-24" *ngIf="i < 3">
          <!-- partials/cards/card-normal -->
          <app-card-normal [data]="publication" [excerpt]="false"></app-card-normal>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- AREAS TEMÁTICAS -->
<section class="uc-section uc-section__page pb-32" *ngIf="!json['horizon_topics']['active']">
  <div class="container">
    <!-- partials/commons/title -->
    <app-title [title]="json['horizon_topics']['title']" [type]="'decorated'"></app-title>
    <div class="row mb-24">
      <div class="col-md-8 col-12">
        <div class="uc-excerpt m-0" *ngIf="json['horizon_topics']['excerpt'] != ''"><p>{{ json['horizon_topics']['excerpt'] }}</p></div>
      </div>
    </div>
    <div class="row" *ngIf="data['topics']">
      <ng-container *ngFor="let topics of data['topics']; let i = index">
        <ng-container *ngIf="json['horizon_topics']['section_cards_small']['active']">
          <div class="col-lg-3 col-md-6 col-12 mb-32" *ngIf="i > 0 && i < 9">
            <!-- partials/cards/card-topic -->
            <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="!json['horizon_tesis']['active'] && data['publics']">
  <div class="container">
    <app-title [title]="json['horizon_tesis']" [type]="'mega'"></app-title>
    <div class="row">
      <ng-container *ngFor="let study of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 8 && study['type']['slug'] == json['horizon_tesis']['type_slug']">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="study" [heightSame]="true"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>
