<section class="uc-section uc-section__header mb-60" >
    <div class="container">
        <!-- partials/commons/breadcrumbs -->
        <!-- <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->

        <ul class="uc-breadcrumb mb-24">
            <li *ngFor="let breadcrumb of json['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
              <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
              <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
              <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
            </li>
        </ul>

        <article id="blog" class="offset-md-1 col-md-10 offset-0">
            <!-- Cargando -->
            <div *ngIf="!data['blog']; let i = index" style="text-align: center;color:#0176DE">
                <img class="mt-5" src="../../../assets/img/2.gif">
                <h4 class="mt-3 mb-3">Cargando...</h4>
            </div>
        </article>
    </div>
</section>
  