<section class="uc-section uc-section__header mb-60" *ngIf="mainBibliometrics.horizon_header.active">
  <div class="container">
    <!-- <app-breadcrumbs [breadcrumbs]="mainBibliometrics['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="mainBibliometrics['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->
    <ul class="uc-breadcrumb mb-24" *ngIf="mainBibliometrics['horizon_header']['section_breadcrumbs']['active']">
      <li *ngFor="let breadcrumb of mainBibliometrics['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
        <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
      </li>
    </ul>

    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ mainBibliometrics.horizon_header.title }}</h1>
        <div class="uc-excerpt" *ngIf="mainBibliometrics.horizon_header.section_excerpt.active">
          {{mainBibliometrics.horizon_header.section_excerpt.excerpt}}
        </div>
      </div>
      <div class="offset-lg-1 col-lg-3 offset-0 col-12">
        <ng-container *ngIf="mainBibliometrics.horizon_header.section_sidebar.active && data['studies']">
          <span class="uc-subtitle d-block mb-16">
            {{ mainBibliometrics.horizon_header.section_sidebar.title }}
          </span>
          <ng-container *ngFor="let studies of data['studies']; let i = index">
            <a title="Sección" href="#" class="text-weight--500 d-block mt-8" *ngIf="i != 0" (click)="scrollTo('list_'+i, $event)">Sección {{ i }} - {{ studies['ano'] }}</a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pt-32" *ngIf="data['studies']">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col mb-32" *ngFor="let study of data['studies'][0]['studies']; let i = index">
        <app-card-bibliometrics [cardData]="study" *ngIf="i < 4"></app-card-bibliometrics>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container">
    <hr class="uc-hr">
  </div>
</section>