<section id="top" class="uc-section uc-section__header mb-60">
    <div class="container">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="col-md-12 col-lg-12 col-xl-3 container_sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <section class="col-md-12 col-lg-9 pl-5 " >
                
                <div class="row mb-16">
                  <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
                </div>

                <!-- ++++++++++++++ PESTAÑAS ++++++++++++++ -->

                <div class="row " id="buscador">
                  <div class="col-12 p-0">
                    <nav class="btn_pestania {{ pag_active == 'academicos' ? 'active' : '' }} mr-2" (click)="menuPestanias('academicos')" >Crear académicos </nav> <!-- (click)="pag_active = 'academicos'" [routerLink]="['/produccion-academicos/academicos']" -->
                    <nav class="btn_pestania {{ pag_active == 'produccion_academicos' ? 'active' : '' }}" (click)="menuPestanias('produccion_academicos')">Ver producción de académicos </nav>  <!-- [routerLink]="['/produccion-academicos/produccion_academicos']"  -->
                  </div>
                </div>

                <!-- +++++++++++++++ BODY ACADEMICOS ++++++++++++++++ -->

                <div *ngIf="pag_active == 'academicos'" class="row">
                    <div class="col-12 border p-3">

                        <form #addressForm="ngForm" class="mt-5" (ngSubmit)="buscar_academicos(1,'3')">
                            <div class="uc-form-group">
                                <input type="text" [(ngModel)]="valorSearch" name="valorSearch" class="uc-input-style border" placeholder="{{ json['horizon_search_form']['search']['placeholder'] }}" title="{{ json['horizon_search_form']['search']['title'] }}"/>
                                <button type="submit" class="uc-btn btn-cta uc-icon--inputed w-150px " title="{{ json['horizon_search_form']['search']['placeholder'] }}" [disabled]="addressForm.invalid">
                                <span class="material-icons ico_btn" >search</span> Buscar
                                </button> 
                            </div>
                        </form>

                        <!-- Menu tabla -->
                        <div  class="row mt-5">
                            <div class="col-12 d-inline-block font-righted">
                            <span>Ordenar por:</span>
                            <span class="d-inline--block">
                                <span (click)="buscar_academicos(1, '3'); listar_mis_academicos(1, '3'); ordenlista='az'" title='Ordenar de la "A" a la "Z"' class="ml-2 mr-2 linkestados {{ ordenlista == 'az' ? 'active' : '' }}">A-Z</span> 
                                | 
                                <span (click)="buscar_academicos(1, '4'); listar_mis_academicos(1, '4'); ordenlista='za'" title='Ordenar de la "Z" a la "A"' class="ml-2 linkestados {{ ordenlista == 'za' ? 'active' : '' }}">Z-A</span>
                            </span>
                            </div>
                        </div>

                        <section id="academicos" class="row mt-5">
                            <div class="col-6">
                                <h5 class="mb-16">Académicos <span *ngIf="totalPage" class="color-gris light">({{totalPage }})</span></h5>
                                <!-- <div *ngIf="cargando" class="font-centered">
                                    <img class="mt-5 w-50px" src="assets/img/2.gif">
                                    <p class="mt-2">Cargando</p>
                                </div> -->
                                <ng-container *ngIf="data['search']">
                                    <ng-container *ngFor="let academico of data['search']; let i = index">
                                        <div class="row m-2">
                                            <div class="col-12 border p-10 " style="padding-right: 60px;">
                                                {{academico.nombre_completo}}
                                                <button *ngIf="cargaUpdate!=academico.cod_pers" (click)="update_mis_academicos(academico.nombre_completo,academico.cod_pers,academico.correo,'null', cargaUpdate=academico.cod_pers, cargaDelete=null); toScroll('academicos')" class="btn_arrow_right " title="Agregar a la lista"><span class="material-icons alinear-centro" >arrow_forward</span></button>
                                                <img *ngIf="cargaUpdate==academico.cod_pers" class="mr-2 v-aling-m w-25px" style="position: absolute; right: 0px;" src="assets/img/2.gif">
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- paginador -->
                                    <form class="mt-5 font-centered" #pagina="ngForm">
                                        <!-- <span class="mr-2 bolder font-size-14">{{ totalPage }} Resultados</span> -->
                                        <span class="font-size-14">{{data['search'].length}} reg.</span>
                                        <span class="font-size-14"> - {{ page }} pág.</span>
                                        <nav class="uc-pagination mt-1">
                                            <button (click)="buscar_academicos(prevPage,orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                                                <i class="uc-icon">keyboard_arrow_left</i>
                                            </button>
                                            <ul class="uc-pagination_pages">
                                                <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                                                    <a (click)="buscar_academicos(num, orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                                                </li>
                                            </ul>
                                            <button (click)="buscar_academicos(nextPage, orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                                                <i class="uc-icon">keyboard_arrow_right</i>
                                            </button>
                                            
                                        
                                        </nav>
                                    </form>
                                </ng-container>
                                <div *ngIf="msj" class="color-celeste font-centered font-size-14 border p-3">
                                    <i *ngIf="msj != 'Sin registros'" class="material-icons font-size-30">sentiment_very_dissatisfied</i>
                                    <i *ngIf="msj == 'Sin registros'" class="material-icons font-size-30">work_off</i>
                                    <p class="m-0">{{msj}}</p>
                                </div>
                            </div>

                            <div class="col-6" >
                                <h5 class="mb-16">Académicos seleccionados <span *ngIf="totalPageListaAcadSel" class="color-gris light">({{totalPageListaAcadSel }})</span></h5>
                                <!-- <div *ngIf="cargando_listar" class="font-centered">
                                    <img class="mt-5 w-50px" src="assets/img/2.gif">
                                    <p class="mt-2">Cargando</p>
                                </div> -->
                                <ng-container *ngIf="data['search_mis_academicos'] && data['search_mis_academicos'].length>0">
                                    <div class="row m-2" *ngFor="let academico of data['search_mis_academicos']; let i = index">
                                        <div class="col-12 border p-10" style="padding-left: 60px;">
                                            <button *ngIf="cargaDelete!=academico.codPers" (click)="delete_mis_academicos(academico.Nombre,academico.codPers,academico.correo, i, cargaDelete=academico.codPers, cargaUpdate=null); toScroll('academicos')" class="btn_arrow_left" title="Quitar de la lista"><span class="material-icons alinear-centro" >arrow_back</span></button>
                                            <img *ngIf="cargaDelete==academico.codPers" class="mr-2 v-aling-m w-25px" style="position: absolute; left: 5px;" src="assets/img/2.gif">
                                            <span (click)="menuPestanias('produccion_academicos')" class="pointer" title="Ir a sección 'Ver producción de académicos'">{{academico.Nombre}}</span>
                                        </div>
                                    </div>

                                    <!-- paginador -->
                                    <form class="mt-5 font-centered" #pagina="ngForm">
                                        <!-- <span class="mr-2 bolder font-size-14">{{ totalPageMiLista }} Resultados</span> -->
                                        <span class="font-size-14">{{data['search_mis_academicos'].length}} reg.</span>
                                        <span class="font-size-14"> - {{ pageListaAcadSel }} pág.</span>
                                        <nav class="uc-pagination mt-1">
                                            <button (click)="listar_mis_academicos(prevPageListaAcadSel,orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                                                <i class="uc-icon">keyboard_arrow_left</i>
                                            </button>
                                            <ul class="uc-pagination_pages">
                                                <li class="page-item " [ngClass]="{ 'active':num==npageListaAcadSel }" *ngFor="let num of paginacionListaAcadSel">
                                                    <a (click)="listar_mis_academicos(num, orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                                                </li>
                                            </ul>
                                            <button (click)="listar_mis_academicos(nextPageListaAcadSel, orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente"> <!-- listar_mis_academicos(nextPage, orden) -->
                                                <i class="uc-icon">keyboard_arrow_right</i>
                                            </button>
                                        </nav>
                                    </form>
                                </ng-container>
                                <div *ngIf="msj_listar" class="color-celeste font-centered font-size-14 border p-3">
                                    <i *ngIf="msj_listar != 'Sin registros'" class="material-icons font-size-30">sentiment_very_dissatisfied</i>
                                    <i *ngIf="msj_listar == 'Sin registros'" class="material-icons font-size-30">work_off</i>
                                    <p class="m-0">{{msj_listar}}</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



                <!-- ++++++++++++++ BODY PRODUCCION DE ACADEMICOS ++++++++++++++++ -->

                <div *ngIf="pag_active == 'produccion_academicos'" class="row">
                    <div class="col-12 border p-3">

                        <!-- <form #addressForm="ngForm" class="mt-5" (ngSubmit)="buscar_miLista(1,'3')">
                            <div class="uc-form-group">
                                <input type="text" [(ngModel)]="valorSearchMilista" name="valorSearchMilista" class="uc-input-style border" placeholder="{{ json['horizon_search_form']['search']['placeholder'] }}" title="{{ json['horizon_search_form']['search']['title'] }}"/>
                                <button type="submit" class="uc-btn btn-cta uc-icon--inputed w-150px " title="{{ json['horizon_search_form']['search']['placeholder'] }}" [disabled]="addressForm.invalid">
                                <span class="material-icons ico_btn" >search</span> Buscar
                                </button> 
                            </div>
                        </form>
 -->
                        <!-- Menu tabla -->
                        <!-- <div  class="row mt-5">
                            <div class="col-12 d-inline-block font-righted">
                            <span>Ordenar por:</span>
                            <span class="d-inline--block">
                                <span (click)="buscar_miLista(1, '3'); ordenlista='az'" title='Ordenar de la "A" a la "Z"' class="ml-2 mr-2 linkestados {{ ordenlista == 'az' ? 'active' : '' }}">A-Z</span> 
                                | 
                                <span (click)="buscar_miLista(1, '4'); ordenlista='za'" title='Ordenar de la "Z" a la "A"' class="ml-2 linkestados {{ ordenlista == 'za' ? 'active' : '' }}">Z-A</span>
                            </span>
                            </div>
                        </div> -->

                        <section class="row mt-5">
                            <div class="col-12">
                                <h5 class="mb-16">Lista de académicos <span *ngIf="totalPageMiLista" class="color-gris light">({{totalPageMiLista }})</span></h5>

                                <div class="row">
                                    <div class="col-md-12" >
     
                                        <!-- ACORDEON 1 -->
                                        <div *ngIf="cargando_prod_acad" class="font-centered">
                                            <img class="mt-5 w-50px" src="assets/img/2.gif">
                                            <p class="mt-2">Cargando</p>
                                        </div>
                                        <ng-container *ngIf="data['search_milista'] && data['search_milista'].length > 0 && !cargando_prod_acad">
                                            <!-- <label *ngIf="!checkAll"><input style="margin-left: 20px;" name="todos" id="todos" value="todos" (change)="cheqAll($event)" type="checkbox" class="uc-input__checkbox mr-8"> Todos</label>
                                            <label *ngIf="checkAll"><input checked style="margin-left: 20px;" name="todos" id="todos" value="todos" (change)="cheqAll($event)" type="checkbox" class="uc-input__checkbox mr-8"> Todos</label> -->
                                            
                                            <div *ngFor="let faqs of data['search_milista']; let i = index"> 
                                                <div id="item_{{i}}" class="collapse_header" title="Desplegar/Contraer contenido">
                                                    <div class="p-3">
                                                        <input *ngIf="!array_ckeck_activar[i].btn" name="check_ac" id="item_{{i}}" value="{{faqs['codpers']}}" (change)="cheq($event,i, faqs['academico'])" type="checkbox" class="uc-input__checkbox check_ac">
                                                        <input *ngIf="array_ckeck_activar[i].btn" checked style="z-index: 999; position: relative;" name="check_ac" id="item_{{i}}" value="{{faqs['codpers']}}" (change)="cheq($event,i, faqs['academico'])" type="checkbox" class="uc-input__checkbox check_ac">
                                                    </div>
                                                    <h2 (click)="collapse(i); toScroll('item_'+i)" class="text-size--20 text-weight--700 col p-3">
                                                        {{faqs["academico"]}}
                                                    </h2>
                                                    <span (click)="collapse(i)" class="uc-btn btn-inline ml-auto font-size-14 p-3">
                                                        Ver producción <span class=" circulo bg-white bolder p-2 ml-2">{{faqs["cantidad"]}}</span> 
                                                    </span>
                                                </div>
                                                <div id="{{i}}" style="height:300px; overflow-y: scroll;display:none;" class="uc-collapse_body collapse_body">
                                                    <table class="uc-table table-prod-acad m-5">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 35%" title="Título">Título</th>
                                                                <th style="width: 15%" title="Tipo de documento">Tipo doc.</th>
                                                                <th style="width: 20%" title="Autores">Autores</th>
                                                                <th style="width: 10%" title="Fecha de publicación">Fecha pub.</th>    
                                                                <th style="width: 20%" title="Revista">Revista</th>  
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf=" faqs['publicaciones']">
                                                        <tr *ngFor="let sub of faqs['publicaciones']"> 
                                                            <td >
                                                                <ng-container *ngIf="sub['titulo']">
                                                                    <p *ngIf="sub['titulo'].length<=28" title="{{ sub['titulo']}}">{{ sub['titulo']}}</p>
                                                                    <p *ngIf="sub['titulo'].length>28" title="{{ sub['titulo']}}">{{ sub['titulo'].substr(0, 28) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <ng-container *ngIf="sub['tipo']">
                                                                    <p *ngIf="sub['tipo'].length<=10" title="{{ sub['tipo']}}">{{ sub['tipo']}}</p>
                                                                    <p *ngIf="sub['tipo'].length>10" title="{{ sub['tipo']}}">{{ sub['tipo'].substr(0, 10) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <ng-container *ngIf="sub['autores']">
                                                                    <p *ngIf="sub['autores'].length<=13" title="{{ sub['autores'] }}">{{ sub['autores'] }}</p>
                                                                    <p *ngIf="sub['autores'].length>13" title="{{ sub['autores'] }}">{{ sub['autores'].substr(0, 13) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <p>{{ sub['publicado'] }}</p>
                                                            </td>
                                                            <td >
                                                                <ng-container *ngIf="sub['revista']">
                                                                    <p *ngIf="sub['revista'].length<=13" title="{{ sub['revista']}}">{{ sub['revista']}}</p>
                                                                    <p *ngIf="sub['revista'].length>13" title="{{ sub['revista']}}">{{ sub['revista'].substr(0, 13) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>



                                            <!-- <div class="uc-collapse" *ngFor="let faqs of data['search_milista']; let i = index">
                                                <input *ngIf="!array_ckeck_activar[i].btn" style="z-index: 999; top:50px; left: 20px;" name="check_ac" id="item_{{i}}" value="{{faqs['codpers']}}" (change)="cheq($event,i, faqs['academico'])" type="checkbox" class="uc-input__checkbox mr-8 check_ac">
                                                <input *ngIf="array_ckeck_activar[i].btn" checked style="z-index: 999; top:50px; left: 20px;" name="check_ac" id="item_{{i}}" value="{{faqs['codpers']}}" (change)="cheq($event,i, faqs['academico'])" type="checkbox" class="uc-input__checkbox mr-8 check_ac">
                                                <a (click)="collapse(i)" class="uc-collapse_heading collapse_header"  title="Desplegar/Contraer contenido">
                                                    <h2 class="text-size--20 text-weight--700 col col-md-8 ml-2">
                                                        {{faqs["academico"]}}
                                                    </h2>
                                                    <span class="uc-btn btn-inline ml-auto font-size-14">
                                                        Ver producción <span class="ml-2 circulo bg-white bolder p-2">{{faqs["cantidad"]}}</span> 
                                                    </span>
                                                </a>
                                                <div id="{{i}}" style="height:300px; overflow-y: scroll;display:none;" class="uc-collapse_body collapse_body">
                                                    <table class="uc-table table-prod-acad m-5">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 35%" title="Título">Título</th>
                                                                <th style="width: 15%" title="Tipo de documento">Tipo doc.</th>
                                                                <th style="width: 20%" title="Autores">Autores</th>
                                                                <th style="width: 10%" title="Fecha de publicación">Fecha pub.</th>    
                                                                <th style="width: 20%" title="Revista">Revista</th>  
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf=" faqs['publicaciones']">
                                                        <tr *ngFor="let sub of faqs['publicaciones']"> 
                                                            <td >
                                                                <ng-container *ngIf="sub['titulo']">
                                                                    <p *ngIf="sub['titulo'].length<=28" title="{{ sub['titulo']}}">{{ sub['titulo']}}</p>
                                                                    <p *ngIf="sub['titulo'].length>28" title="{{ sub['titulo']}}">{{ sub['titulo'].substr(0, 28) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <ng-container *ngIf="sub['tipo']">
                                                                    <p *ngIf="sub['tipo'].length<=10" title="{{ sub['tipo']}}">{{ sub['tipo']}}</p>
                                                                    <p *ngIf="sub['tipo'].length>10" title="{{ sub['tipo']}}">{{ sub['tipo'].substr(0, 10) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <ng-container *ngIf="sub['autores']">
                                                                    <p *ngIf="sub['autores'].length<=13" title="{{ sub['autores'] }}">{{ sub['autores'] }}</p>
                                                                    <p *ngIf="sub['autores'].length>13" title="{{ sub['autores'] }}">{{ sub['autores'].substr(0, 13) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                            <td>
                                                                <p>{{ sub['publicado'] }}</p>
                                                            </td>
                                                            <td >
                                                                <ng-container *ngIf="sub['revista']">
                                                                    <p *ngIf="sub['revista'].length<=13" title="{{ sub['revista']}}">{{ sub['revista']}}</p>
                                                                    <p *ngIf="sub['revista'].length>13" title="{{ sub['revista']}}">{{ sub['revista'].substr(0, 13) }}...</p>
                                                                </ng-container>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> -->
                                            
                                            <!-- paginador -->
                                            <form class="mt-5 font-centered" #pagina="ngForm">
                                                <span class="font-size-14">{{data['search_milista'].length}} reg.</span>
                                                <span class="font-size-14"> - {{ pageMiLista }} pág.</span>
                                                <nav class="uc-pagination mt-1">
                                                    <button (click)="buscar_miLista(prevPageMiLista,ordenMiLista)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                                                        <i class="uc-icon">keyboard_arrow_left</i>
                                                    </button>
                                                    <ul class="uc-pagination_pages">
                                                        <li class="page-item " [ngClass]="{ 'active':num==npageMiLista }" *ngFor="let num of paginacionMiLista">
                                                            <a (click)="buscar_miLista(num, ordenMiLista)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                                                        </li>
                                                    </ul>
                                                    <button (click)="buscar_miLista(nextPageMiLista, ordenMiLista)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                                                        <i class="uc-icon">keyboard_arrow_right</i>
                                                    </button>
                                                </nav>
                                            </form>
                                            <!-- Boton descargar -->
                                            <div id="descargar" class="row mb-16">
                                                <div class="col-12">
                                                    <div class="contenedor">
                                                            <div class="selectbox">
                                                                <button type="button" class="select {{ selectDownload == true ? 'active' : '' }}" (click)="selectDownload=true; toScroll('descargar')" [disabled]="array_check.length==0 && !checkAll"> 
                                                                    <button class="material-icons ico_select" [disabled]="array_check.length==0 && !checkAll">cloud_download</button>
                                                                    <div class="contenido-select">
                                                                        <h1 class="titulo">Descargar Excel</h1>
                                                                        <p class="descripcion">Selecciona académicos para exportar sus producciones</p>
                                                                    </div>
                                                                    <span class="material-icons">expand_more</span>
                                                                </button>
                                                                
                                                                <div *ngIf="selectDownload"> 
                                                                    <div class="opciones">
                                                                        <a (click)="download_gest_academicos('FULL')" class="opcion">
                                                                            <div class="contenido-opcion">
                                                                                <span *ngIf="!cargando_download" class="material-icons ico_option">file_download</span>  
                                                                                <img *ngIf="cargando_download" class="ico_option" src="assets/img/2.gif">
                                                                                <div class="textos">
                                                                                    <h4 class="titulo">Descarga FULL</h4>
                                                                                    <p class="descripcion">Todas las columnas.</p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                        <a (click)="download_gest_academicos('ATS')" class="opcion">
                                                                            <div class="contenido-opcion">
                                                                                <span *ngIf="!cargando_download_ATS" class="material-icons ico_option">file_download</span>  
                                                                                <img *ngIf="cargando_download_ATS" class="ico_option" src="assets/img/2.gif">
                                                                                <div class="textos">
                                                                                    <h4 class="titulo">Descarga Media</h4>
                                                                                    <p class="descripcion">Autor, título y revista.</p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                        <a (click)="download_gest_academicos('ATSA')" class="opcion">
                                                                            <div class="contenido-opcion">
                                                                                <span *ngIf="!cargando_download_ATSA" class="material-icons ico_option">file_download</span>  
                                                                                <img *ngIf="cargando_download_ATSA" class="ico_option" src="assets/img/2.gif">
                                                                                <div class="textos">
                                                                                    <h4 class="titulo">Descarga Simple</h4>
                                                                                    <p class="descripcion">Autor, Título, Revista, Resumen.</p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="overlaySelect" (click)="selectDownload=false"></div>
                                                                </div>
                                                                
                                                            </div>
                                                        
                                                    </div>

                                                    <!-- <nav class="" >

                                                        <ul class=" d-lg-flex" style="padding: 0px !important;">
                                                          <li class="nav-item uc-dropdown">
                                                            <button type="button" [disabled]="array_check.length==0 && !checkAll" class=" btn-link font-size-20 mb-2" title="Descargar registros seleccionados">
                                                                <span class="material-icons font-size-40 mr-2 v-aling-m">cloud_download</span> Descargar seleccionados
                                                            </button>
                                                            
                                                            
                                                              <i class="uc-icon" style="margin-top: 5px;">arrow_drop_down</i>
                                                              <ul *ngIf="array_check.length!=0" class="uc-dropdown_list mt-3" style="max-width: 450px !important; width: 450px">
                                                                <div class="white-triangle d-none d-lg-flex"></div>
                                                                <li class="uc-dropdown_list-item menu-item pt-2 pb-2" >
                                                                    <a (click)="download_gest_academicos('FULL')" class="btn-link" title="Descargar Full">
                                                                        <span *ngIf="!cargando_download" class="material-icons mr-2 v-aling-m">file_download</span>  
                                                                        <img *ngIf="cargando_download" class="mr-2 v-aling-m w-25px" src="assets/img/2.gif">
                                                                        Descargar FULL
                                                                    </a>     
                                                                </li>
                                                                <li class="uc-dropdown_list-item menu-item pt-2 pb-2">
                                                                    <a (click)="download_gest_academicos('ATS')" class="btn-link" title="Descargar Autor, Título, Revista">
                                                                        <span *ngIf="!cargando_download_ATS" class="material-icons mr-2 v-aling-m">file_download</span>  
                                                                        <img *ngIf="cargando_download_ATS" class="mr-2 v-aling-m w-25px" src="assets/img/2.gif">
                                                                        Descargar Autor, Título, Revista
                                                                    </a>
                                                                </li>
                                                                <li class="uc-dropdown_list-item menu-item pt-2 pb-2">    
                                                                    <a (click)="download_gest_academicos('ATSA')" class="btn-link" title="Descargar Autor, Título, Revista, Resumen">
                                                                        <span *ngIf="!cargando_download_ATSA" class="material-icons mr-2 v-aling-m">file_download</span>  
                                                                        <img *ngIf="cargando_download_ATSA" class="mr-2 v-aling-m w-25px" src="assets/img/2.gif">
                                                                        Descargar Autor, Título, Revista, Resumen
                                                                    </a>
                                                                </li>
                                                              </ul>
                                                
                                                          </li>
                                                        </ul>
                                                    </nav> -->


                                                </div>
                                            </div>
                                        </ng-container>
                                        <div *ngIf="msj_prod_acad" class="color-celeste font-centered font-size-14 border p-3">
                                            <i *ngIf="msj_prod_acad != 'Sin registros'" class="material-icons font-size-30">sentiment_very_dissatisfied</i>
                                            <i *ngIf="msj_prod_acad == 'Sin registros'" class="material-icons font-size-30">work_off</i>
                                            <p class="m-0">{{msj_prod_acad}}</p>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </section>

                    </div>
                </div>



            </section>

            
        </div>
        
    </div>
    
</section>


<!-- VALORIZACION -->



<section *ngIf="json['rating']['star'].active" class="uc-section uc-section__header border">
    <div class="container">
        <section class="p-60">
            <div class="font-centered">
                <h3 class="col-12 mb-16">{{json['rating']['star'].title}}</h3>
                <object class="col-md-12 col-lg-6" data="https://uc-cl.libwizard.com/f/ux-pa" height="250">
                    <embed src="https://uc-cl.libwizard.com/f/ux-pa" width="100%" height="250"/>
                </object>
                <!-- <div *ngIf="!msj_rating" class="col-12 offset-lg-3 col-lg-6">
                    <iframe src="https://uc-cl.libwizard.com/f/ux-pa" scrolling="no"></iframe>
                </div> -->
            </div>
        </section>
    </div>
</section>

<!-- <section *ngIf="json['rating']['star'].active" class="uc-section uc-section__header border">
    <div class="container">
        <app-valorizacion-estrellas [valorizaciones]="json['rating']['star']"></app-valorizacion-estrellas>
    </div>
</section> -->