/* You can add global styles to this file, and also import other style files */
@import "assets/css/main";

@import "../node_modules/placeholder-loading/dist/css/placeholder-loading";

:focus{
  /* border: 1px solid #173F8A;
  background: #EAEAEA !important;
  color: #173F8A !important;
  padding: 4px; */
}
@media (min-width: 1350px) {
  .container{
    max-width: 1350px;
    /* margin: 0px 10% !important  ; */
  }
}

/* CAMPOS FORM MODERNO */

/* Reposo */
.placeholder{
  display: block;
  width: 100%;
  border: 1px solid #999;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
}
.placeholder textarea{
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.placeholder span{
  color: #999;
  position: absolute;
  top: 8px;
  left: 10px;
}

/* Focus */
.placeholder.focus{
  border: 1px solid #0075DE;
}
.placeholder span.focus{
  color: #0075DE;
}

/* Top */
.placeholder span.top{
  left: 10px;
  top: -10px;
  font-size: 15px;
  background: #fff;
  padding: 0px 10px;
}


/* nuevo placeholder */
.label{
  position: relative;
}
.label-default{
  color: #999;
  position: absolute;
  top: 8px;
  left: 30px;
  z-index: 99999;
}
.label-top{
  left: 30px;
  top: -15px !important;
  font-size: 15px;
  color: #0075DE;
  background: #fff;
  padding: 0px 10px;
  border: 1px solid #0075de;
  border-radius: 55px;
}

a, h1, div, i, h6{
  outline: none !important;
}
h2{font-size: 25px !important;}
.uc-tag{font-size: 18px !important;}
.uc-btn{font-size: 20px;}
.input_line{
  /* border-top: 1px #0075DE solid !important; */
  border-bottom: 1px rgb(180, 202, 221) solid !important;
}
.label_line{
  border-bottom: 1px #0075DE solid !important;
}
.hr_label{
  border-bottom: 1px rgb(187, 197, 206) dashed !important;
  margin-top: -5px;
}
.inputIco{
  padding-left: 40px !important
}
input[type=radio] {
  height: 22px;
  width: 22px;
}
input[type=checkbox] {
  background-color: white;
  border: #000 solid 1px;
}
.position-fixed{
  position: fixed;
}

.img-responsive{
  width: 100%;
  height: 100%;
}

.let strong:first-letter {
  text-transform: uppercase;
}

.let strong:not(first-letter) {
  text-transform: lowercase;
}

/* FLOAT */

.float-left{
  float: left;
}
.float-right{
  float: right !important;
}

/* ALINEAR */

.text-right{
  text-align: right;
}
.text-left{
  text-align: left !important;
}
.text-align{
  text-align: center;
}
.alinear-centro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-aling-m{
  vertical-align: middle !important;
}
.display-block{
  display: block;
}
.position-absolute{
  position: absolute;
}
.linea-abajo{
  border-bottom: 1px solid #808080;
}

/* ICONOS */

.ico_btn{
  top: 9px !important; 
  left: 16px;
}
.icoInput{
  position: absolute; 
  top:10px; 
  left:10px;
  color: #000;
}

/* BOTONES - BUTTON */

/* .btn-cta:disabled{
  background: #fef3be;
} */

.btn-link{
  background: transparent;
  color: #0075DE !important;
  border: none;
  cursor: pointer !important;
}
.btn-link:hover{
  color: #173F8A !important;
}
.btn-link:disabled{
  color: #9d9fa4 !important;
  cursor: default !important;
}
.btn-link-secondary{
  background: transparent;
  color: #fff !important;
  text-decoration-line: underline;
  border: none;
  cursor: pointer;
}
.btn-link-secondary:hover{
  color: rgb(219, 219, 219) !important;
  text-decoration-line: underline !important;
}

.btn-linea{
  background: #fff;
  border: 1px solid #0075de;
  padding: 15px 33px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #0075de;
  border-radius: 10px;
  cursor: pointer !important;
  transition: 0.5s;
}
.btn-linea:hover{
  
  border: 1px solid #E3AE00;
  color: #173F8A;
  background: #F5F9FF;
}
.btn-linea:disabled{
  border: 1px solid #e8e8e8;
  color: #999;
  cursor: default;
}
.btn-incluir{
  background: white;
  color: #0176DE;
  /* border: #0176DE 1px solid; */
  font-size: 17px;
  width: 120px;
  text-align: center;
  padding: 5px 10px;
}

.btn-aplicar-modal{
  width: 100%;
  height: 100%;
  background: #0176DE;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
}
.button-l-black{
  border: #999 1px solid;
  background: #f2f2f2;
  border-radius: 15px;
  padding: 4px;
  cursor: pointer;
}
.button-celeste{
  background: #0075de;
  font-size: 20px;
  color: white;
  padding: 15px 33px;
  border-radius: 10px;
  transition: 0.5s;
}
.button-celeste:hover{
  background: #058aff;
}
.button-celeste:disabled{
  background: #fef3be;
}

.button-amarillo{
  background: #FEC60D;
  font-size: 20px;
  font-weight: bolder !important;
  color: #0075DE !important;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s;
}
.button-amarillo:hover{
  background: #E3AE00;
}
.btn_tipodoc{
  background: #0075de;
  font-size: 18px;
  color: #fff;
  padding: 15px 10px;
  border-radius: 55px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_tipodoc:hover{
  background: #173F8A;
  color: #fff;

}
.btn_tipodoc.active{
  background: #0075DE;
  color: #fff;

}
.btn_tipodoc.blocked{
  background: #e4e4e4;
  color: #a2a2a2;
  cursor: default;
}

.radiobutton{
  background: #f5f5f5;
  /* border: #eeeeee solid 1px; */
  /* font-size: 18px; */
  border-radius: 55px;
  border: #fff 1px solid;
  color: #000;
  padding: 5px 15px;
  margin-right: 20px;
  line-height: 50px;
  cursor: pointer;
  display: inline;
  transition: 0.5s;
}
.radiobutton:hover{
  border: #a5a5a5 1px solid;
}
.radiobutton.active{
  background: #fff;
  border: #0075DE 1px solid;
  /* font-weight: 900; */

  /* background: #eeeeee; */
}
.radiobutton.blocked{
  background: #F4EED0;
  color: rgb(152, 152, 152);
  cursor: default;
}

.btn_estados{
  background: #eeeeee;
  font-size: 22px;
  color: #0075DE;
  padding: 20px 25px;
  border-radius: 55px;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.btn_estados:hover{
  background: #F4EED0;
}
.btn_estados.active{
  background: #0075DE;
  /* font-size: 18px; */
  color: #fff;
  /* padding: 10px 30px; */
  border-radius: 55px 55px 55px 0px;
  cursor: default;
}
.num_reg{
  background: #FEC60D;
  /* background: linear-gradient(to right, #CBA753, #F4EED0); */
  color: #0075DE;
  border-radius: 55px;
  /* border: 3px solid #CBA753; */
  padding: 0.2em 0.5em;
  /* margin-left: 33px; */
  text-align: center;
  font-size: 1em;
  font-weight: 900 !important;
  /* position: relative; 
  bottom: 0px;
  right: -30px ; */
}
.tex_estado{
  line-height: 26px;
}
@media (max-width: 1360px) {
  /* .num_reg{
    width: 70px;
    float: left;
  } */
  .tex_estado{
    width: 100px;
    float: left;
  }
}
.linkestados{
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}
.linkestados:hover{
  color: #E3AE00;
}
.linkestados.active{
  color: #0075DE;
}

.btn_tabla{
  /* background:#F6F6F6; */
  font-weight: bold;
  /* text-align: center; */
  border-bottom: #0176DE 1px solid;
  color: #0075DE;
  cursor: pointer;
  /* padding: 5px; */
  transition: 0.5s;
}
.btn_tabla:hover{
  border-bottom: rgb(0, 101, 189) 1px solid;
  color: rgb(0, 101, 189);
}
.btn_sin_registro{
  text-align: center;
  font-size: 20px;
  color: #2196F3;
  background: #fff;
  border: #02132e8c 1px solid;
  border-radius: 15px;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_sin_registro:hover{
    background: #F5F9FF;
    color: #02132e8c;
}
@media (max-width: 1200px) {
  .btn_sin_registro{
    font-size: 16px;
  }
}
.btn_vincular{
  background: #0D2342;
  /* background: linear-gradient(to right, #0D2342, #00437e); */
  font-size: 20px;
  text-align: left !important;
  color: #F4EED0;
  border-radius: 55px;
  border: solid 4px #F4EED0;
  padding: 10px 20px;
  margin: 0px;
  transition: 0.5s;
}
.btn_vincular:hover{
  background: #0075DE;
  color: #fff;
}
.btn_vincular:disabled{
  background: rgb(189, 189, 189);
  color: rgb(123, 123, 123);
  border: solid 4px rgb(206, 206, 206);
  cursor: default;
}
.btn_desvincular{
  background: #eeeeee;
  border-radius: 55px;
  padding: 10px;
  margin: 0px;
  transition: 0.5s;
}
.btn_desvincular:hover{
  background: #E3AE00;
  color: #fff;
}
.btn_eliminar{
  /* background: #eeeeee;
  border-radius: 55px;
  padding: 10px; */
  margin: 0px;
  padding: 0px !important;
  cursor: pointer;
  transition: 0.5s;
}
.btn_eliminar:hover{
  /* background: red; */
  color: #E3AE00 !important;
}
.btn_editar{
  background: #eeeeee;
  border-radius: 55px;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_editar:hover{
  background: #0075DE;
  color: #fff !important;
}
.btn_bubble_gris{
  background: #eeeeee;
  border-radius: 55px;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_bubble_gris:hover{
  background: #0075DE;
  color: #fff !important;
}
.btn_bubble_celeste{
  background: #0075DE;
  color: #eeeeee;
  border-radius: 55px;
  border: 1px solid #0075DE;
  padding: 5px 10px;
  margin: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_bubble_celeste:hover{
  background: #eeeeee;
  color: #0075DE !important;
  border: 1px solid #0075DE;
}
.btn_bubble_amarillo{
  background: #0075DE;
  color: #FADA3B;
  text-decoration: none;
  font-weight: 900;
  border-radius: 55px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_bubble_amarillo:hover{
  background: #0075DE;
  color: #fff !important;
}

.btnCloseInput{
  color: #0075de;
  transition: 0.5s;
}
.btnCloseInput:hover{
  color: #000;
}
.btn_redondo_celeste{
  background: #0075DE;
  color: #fff;
  border-radius: 55px;
  width: 45px;
  height: 45px;
  margin: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_redondo_celeste:hover{
  background: #fff;
  border: 1px solid #0075DE;
  color: #0075DE !important;
}
.btn_redondo_rojo{
  background: #eeeeee;
  color: #000;
  border-radius: 55px;
  width: 35px;
  height: 35px;
  margin-top: 7px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_redondo_rojo:hover{
  background: #fff;
  border: 1px solid red;
  color: red !important;
}
.btn_pestania{
  border: 1px solid #D0DFF6;
  border-radius: 2px 20px 0px 0px;
  padding: 20px;
  color: #0075DE;
  border-bottom: 5px solid #D0DFF6;
  display: inline-block;
  cursor: pointer;
}
.btn_pestania:hover{
  border: 1px solid #D0DFF6;
  background: #F5F9FF;
  border-radius: 2px 20px 0px 0px;
  padding: 20px;
  color: #0075DE;
  border-bottom: 5px solid #D0DFF6;
}
.btn_pestania.active{
  border: 1px solid #D0DFF6;
  background: #F5F9FF;
  border-radius: 2px 20px 0px 0px;
  padding: 20px;
  color: #173F8A;
  font-weight: bold;
  border-bottom: 5px solid #FDC60C;
}
.btn_arrow_right{
  background: #0075de;
  font-size: 15px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.5s;
}
.btn_arrow_right:hover{
  background: #058aff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 5px;
}
.btn_arrow_left{
  background: #E3AE00;
  font-size: 15px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.5s;
}
.btn_arrow_left:hover{
  background: #FDC60C;
  padding: 10px;
  padding-right: 15px;
  padding-left: 5px;
}

.bubble_celeste{
  background: #0075DE;
  color: #eeeeee;
  border-radius: 55px;
  padding: 5px 10px;
  margin: 0px;
}
.bubble_gris{
  background: #F5F9FF;
  border-radius: 55px;
  border: #FADA3B 2px solid;
  padding: 5px 15px;
  color: #0075de;
}
.bubble_amarillo{
  background: #FADA3B;
  color: #0075de;
  font-weight: bold;
  letter-spacing: -2px;
  text-align: center;
  border-radius: 55px;
  padding: 5px 10px;
  margin: 0px;
}

.bubble{
  background: #fff;
  border: rgba(2, 19, 46, 0.55) 1px solid;
  border-radius: 15px;
  padding: 4px 10px;
  cursor: pointer;
  color: #02132E;
  font-size: 18px;
  line-height: 40px;
  -webkit-box-shadow: 3px 2px 7px -1px rgba(2, 19, 46, 0.55);
  -moz-box-shadow: 3px 2px 7px -1px rgba(2,19,46,0.55);
  box-shadow: 1px 1px 4px -1px rgba(2,46,46,0.55);
  transition: 0.5s;
}
.bubble:hover{
  background: #F5F9FF;
  border: rgba(0,117,222,1) 1px solid ;
  color: #173F8A !important;
}
.bubbleDelete{
  background: #F5F9FF;
  border: rgba(0,117,222,1) 1px solid ;
  border-radius: 15px;
  padding: 4px 10px;
  cursor: pointer;
  color: #173F8A !important;
  font-size: 15px;
  line-height: 30px;
  -webkit-box-shadow: 3px 2px 7px -1px rgba(2, 19, 46, 0.55);
  -moz-box-shadow: 3px 2px 7px -1px rgba(2, 19, 46, 0.55);
  box-shadow: 1px 1px 4px -1px rgba(2, 19, 46, 0.55);
  transition: 0.5s;
}
.bubbleDelete:hover{
  background: #FFEFEF;
  border: rgba(113, 67, 67, 1) 1px solid;
  color: #714343 !important;
  -webkit-box-shadow: 3px 2px 7px -1px rgba(113, 67, 67, 1);
  -moz-box-shadow: 3px 2px 7px -1px rgba(113, 67, 67, 1);
  box-shadow: 1px 1px 4px -1px rgba(113, 67, 67, 1);
}
.flecha-left{
  width:0px;
  height:0px;
  border-bottom:8px solid transparent;  /* izquierda flecha */
  border-top:8px solid transparent; /* derecha flecha */
  border-right:8px solid #F4EED0; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
}
.tooltips-down {
  /* width: 80px; */
  padding:5px 15px;  /* dejamos una separación entre borde y texto */
  /* font-family: verdana; */
  border: #E3AE00 solid 1px;
  border-radius: 10px;
  background: #F4EED0;
  position: absolute;
}

/* TOOLTIPS ABAJO */
.tooltips_abajo{
  width: 100% !important; position: absolute; z-index: 999;
}
.arrow-top-before {
  width:0px;
  height:0px;
  border-left: 16px solid transparent;  /* izquierda flecha */
  border-right: 16px solid transparent; /* derecha flecha */
  border-bottom: 16px solid #FADA3B; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
  top: 16px;
  left: 50%;
  position: relative;
  z-index: 9999;
}
.arrow-top-after {
  width:0px;
  height:0px;
  border-left: 16px solid transparent;  /* izquierda flecha */
  border-right: 16px solid transparent; /* derecha flecha */
  border-bottom: 16px solid #0075DE; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
  top: 1px;
  left: 50%;
  position: relative;
  z-index: 9999;
}
.tooltips-abajo {
  /* width: 80px; */
  padding:15px 15px;  /* dejamos una separación entre borde y texto */
  border: #FADA3B solid 1px;
  border-radius: 10px;
  background: #0075DE;
  position: absolute;
  /* width: 100%; */
  left: 0px;
  font-size: 20px;
  color: #fff;
  text-align: left;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(2, 19, 46, 0.55);
  -moz-box-shadow: 0px 4px 8px -1px rgba(2,19,46,0.55);
  box-shadow: 0px 4px 8px -1px rgba(2,46,46,0.55);
}

/* TOOLTIPS delete ABAJO */
.tooltips_delete{
  width: 100% !important; position: absolute; z-index: 9999;
}
.arrow-delete-top-before {
  width:0px;
  height:0px;
  border-left: 16px solid transparent;  /* izquierda flecha */
  border-right: 16px solid transparent; /* derecha flecha */
  border-bottom: 16px solid #b3b3b3; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
  top: 16px;
  left: 80%;
  position: relative;
  z-index: 9999;
}
.arrow-delete-top-after {
  width:0px;
  height:0px;
  border-left: 16px solid transparent;  /* izquierda flecha */
  border-right: 16px solid transparent; /* derecha flecha */
  border-bottom: 16px solid #ffffff; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
  top: 1px;
  left: 80%;
  position: relative;
  z-index: 9999;
}
.tooltips-delete-abajo {
  /* width: 80px; */
  padding:15px 15px;  /* dejamos una separación entre borde y texto */
  border: #b3b3b3 solid 1px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 100%;
  /* position: absolute;
  z-index: 9999;
  left: 0px;
  bottom: 170px; */
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(2, 19, 46, 0.55);
  -moz-box-shadow: 0px 4px 8px -1px rgba(2,19,46,0.55);
  box-shadow: 0px 4px 8px -1px rgba(2,46,46,0.55);
}

/* TOOLTIPS GENERAL */

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}
.icoInfoTooltips{
  font-size: 16px;
  font-family: monospace;
  background: #0075DE !important;
  color: #fff;
  font-weight: bolder !important;
  border-radius: 88px;
  padding: 0px 3px;
  vertical-align: super !important;
}
.ico-tooltips{
  font-size: 25px;
  color: #0176DE;
  font-weight: bolder;
  border-radius: 88px;
  vertical-align: middle !important;
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
}

/* TOOLTIPS ARRIBA */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #F4EED0;
  color: #02132E;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  font-size: 17px;
  line-height: 18px;
  -webkit-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);

  width: 300px;
  margin-left: -150px; /* Debe ser la mitad de width */
  bottom: 180%;
  left: 50%;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: #F4EED0 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* TOOLTIPS GENERAL ABAJO */

.tooltip .tooltiptext-bottom {
  visibility: hidden;
  background-color: #F4EED0;
  color: #02132E;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  font-size: 17px;
  line-height: 18px;
  -webkit-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);

  width: 250px !important;
  margin-left: -125px; /* Debe ser la mitad de width */
  bottom: -380% !important;
  left: 50%;
}
.tooltip .tooltiptext-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #F4EED0   transparent;
}
.tooltip:hover .tooltiptext-bottom {
  visibility: visible;
}

/* TOOLTIPS GENERAL IZQUIERDA */

.tooltip .tooltiptext-left {
  visibility: hidden;
  background-color: #F4EED0;
  color: #02132E;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  font-size: 17px;
  line-height: 18px;
  -webkit-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px -3px rgba(0,0,0,0.75);

  width: 250px !important;
  margin-left: -280px;
  bottom: -50% !important;
  /* left: -100%; */
}
.tooltip .tooltiptext-left::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 105%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #F4EED0 ;
}
.tooltip:hover .tooltiptext-left {
  visibility: visible;
}

/* INFOGUIA */
.toolguia {
  position: relative;
  display: inline-block;
  cursor: default;
}

.toolguia_back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #80808031;
  z-index: 99999;
}
.toolguia .toolguiatext {
  position: absolute;
  width: 400px;
  margin-left: -150px; /* Debe ser la mitad de width */
  top: 10%;
  left: 50%;
  background-color: #F5F9FF;
  color: #02132E;
  text-align: left;
  border-radius: 0px 0px 6px 6px;
  border: #E3AE00 solid 1px;
  border-top: #E3AE00 solid 6px;
  padding: 20px 50px;
  padding-top: 20px;
  z-index: 999999;
  font-size: 20px;
  line-height: 23px;
  -webkit-box-shadow: 0px 0px 70px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 70px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 70px -15px rgba(0,0,0,0.75);
}
.toolguia .toolguiatext::after {
  content: "";
  position: absolute;
  /* top: 100%; */
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color:  transparent transparent #E3AE00 transparent;
}
.toolguia-pasos {
  text-align: center;
  margin-bottom: 16px;
}
.toolguia-paso{
  font-size: 12px;
  margin: 2px;
  color: #808080;
}
.toolguia-paso.active{
  color: #E3AE00;
}
.toolguia-footer{
  border-top: 1px solid #808080;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 35px;
}
.toolguia-omitir{
  color: #808080;
  float: left;
}
@media (max-width: 1200px) {
  .toolguia {
    position: fixed;
    display: inline-block;
    cursor: default;
    z-index: 99999 !important;
    left: 0px;
    top: 0px;
  }
  .toolguia .toolguiatext {
    position: fixed;
    left: 40%;
    top: 170px;
  }
}

/* Flechas */

.flecha-abajo-section {
  width:0px;
  height:0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent; 
  border-top: 25px solid #0D2342; /* apunta abajo */
  /* border-bottom: 16px solid #0075DE;      apunta arriba */
  font-size:0px;
  line-height:0px;
  top: -15px;
  left: 22%;
  position: relative;
  z-index: 1;
}

/* TOP */

.top-0{
  top: 0px;
}
.top-5{
  top: 5px;
}
.top-10{
  top: 10px;
}
.top-45{
  top:45px;
}
.top-50{
  top:50px;
}

/* RIGHT */

.right-5{
  right: 5px;
}
.right-10{
  right: 10px;
}
.right-25{
  right: 25px;
}



/* ALTO - HEIGHT */
.h-100{
  height: 100%;
}
.h-5{
  height: 5px !important;
}
.h-10{
  height: 10px !important;
}
.h-25px{
  height: 25px !important;
}

/* ANCHO - WIDTH */
.w-10{
  width: 10px;
}
.w-25px{
  width: 25px !important;
}
.w-50px{
  width: 50px !important;
}
.w-100{
  width: 100%;
}
.w-100px{
  width: 100px !important;
}
.w-150px{
  width: 150px !important;
}

/* MARGENES - MARGIN */

.m-0{
  margin: 0px !important;
}
.m-10{
  margin: 10%;
}
.m-25px{
  margin: 25px;
}

.mt-0{
  margin-top: 0px;
}
.mt-20{
  margin-top: 20px;
}
.mt-50{
  margin-top: 50px;
}
.mt-70px{
  margin-top: 70px;
  }
.mt-100px{
margin-top: 100px;
}
.mt-120px{
  margin-top: 120px;;
}
.margin-top-300{
  margin-top: 300px;
}

.ml-10{
  margin-left: 10%;
}
.ml-40px{
  margin-left: 40px !important;
}
.ml-50px{
  margin-left: 50px !important;
}

.mb-5{
  margin-bottom: 5px !important;
}
.mb-16px{
  margin-bottom: 16px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-50px{
  margin-bottom: 50px;
}
.mb-100px{
  margin-bottom: 100px;
}
.ml-3px{
  margin-left: 3px;
}
.mr-10{
  margin-right: 10%;
}
.mr-2px{
  margin-right: 2px;
}
.mr-3px{
  margin-right: 3px;
}
.mr-8px{
  margin-right: 8px;
}
.mr-20px{
  margin-right: 20px;
}
.mr-16{
  margin-right: 16px;
}
.mr-20{
  margin-right: 20px;
}

/* PADDING */

.p-0{
  padding:0px !important;
}
.p-1{
  padding: 1px;
}
.p-2{
  padding: 2px;
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px !important;
}
.p-23{
  padding: 23px !important;
}
.p-28{
  padding: 28px !important;
}
.p-30{
  padding: 30px !important;
}
.p-60{
  padding: 60px;
}
.pb-0{
  padding-bottom: 0px;
}
.pb-2{
  padding-bottom: 2px;
}
.pb-16px{
  padding-bottom: 16px;
}
.pb-65{
  padding-bottom: 65px;
}
.pt-0{
  padding-top: 0px;
}
.pt-2{
  padding-top: 2px;
}
.pt-65{
  padding-top: 65px;
}
.pl-2{
  padding-left: 2px;
}
.pl-5{
  padding-left: 5px;
}
.pl-10--{
  padding-left: 10%;
}
.pl-20{
  padding-left: 20px;
}
.pl-20--{
  padding-left: 20%;
}
.pr-0{
  padding-right: 0px;
}
.pr-2{
  padding-right: 2px;
}
.pr-20{
  padding-right: 20px;
}
.pr-40{
  padding-right: 40px;
}
.pr-20--{
  padding-right: 20%;
}

/* BACKGROUND FONDOS */
.bg-none{
  background: none;
}
.bg-white{
  background: white;
}
.bg-degr{
  background: linear-gradient(to left, #0D2342, #0176DE);
}
.bg-degr-amarillo{
  background: linear-gradient(to right, rgb(255, 234, 187), #F4EED0);
}
.bg-azul{
  background: #173F8A;
}
.bg-azul-b{
  background: #0D2342;
}
.bg-celeste{
  background:#0176DE !important;
}
.bg-celeste-l{
  background: #D0DFF6 !important;
  transition: 0.5s;
}
/* .bg-celeste-l:hover{
  background: #abc7f2 !important;
} */
.bg-celeste-2{
  background:  #F5F9FF;
}
.bg-celeste-3{
  background: #F8FBFF;
}
.bg-mostaza{
  background: #CBA753 !important;
}
.bg-amarillo{
  background: #FEC60D !important;
}
.bg-amarillo-l{
  background: #F4EED0 !important;
}
.bg-gris-a{
  background: #EAEAEA !important;
}
.bg-gris-c{
  background: #F6F6F6 !important;
}

/* COLOR TEXTOS */
.color-black{
  color: black !important;
}
.color-azul-oscuro{
  color: #02132E !important;
}
.color-azul{
  color:#173F8A !important;
}
.color-celeste{
  color:#0176DE !important;
}
.color-white{
  color:white;
}
.color-dorado{
  color:#8e6300;
}
.color-mostaza{
  color:#CBA753;
}
.color-naranjo{
  color: #E3AE00;
}
.color-amarillo{
  color:#FADA3B; /* FEC60D */
}
.color-amarillo-l{
  color: #F4EED0;
}
.color-verde{
  color: green;
}
.color-red{
  color: red !important;
}
.color-gris{
  color: dimgray;
}
.color-degr-amarillo{
  background: linear-gradient( #CBA753, #ffefba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #CBA753;  
}
.texto-dg {
  background: linear-gradient( green, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}
.texto-dg-rojo {
  background: linear-gradient( red, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}

/* TEXTOS */
.font-size-10{
  font-size: 10px;
}
.font-size-14{
  font-size: 14px !important;
  line-height: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-20{
  font-size: 20px;
}
.font-size-25{
  font-size: 25px !important;
}
.font-size-30{
  font-size: 30px !important;
}
.font-size-40{
  font-size: 40px;
}
.font-size-44{
  font-size: 44px;
}
.font-size-50{
  font-size: 50px;
}
.font-size-80{
  font-size: 80px;
}
.font-size-100{
  font-size: 100px;
}
.font-size-150{
  font-size: 150px;
}
.font-size-200{
  font-size: 200px;
}
.font-size-300{
  font-size: 300px;
}

.font-family{
  font-family:Helvetica, sans-serif
}
.font-light{
  font-weight: lighter; 
}
.bolder{
  font-weight: 900; 
}


/* BORDES */
.border-none{
  border: none;
}
.border{
  /* border: darkgray 1px solid; */
  border-radius: 5px;
  box-shadow: 0px 0px 3px #cdcdcd; ;
}
.border-primary{
  border: 1px #0176DE solid;
  border-radius: 0px;
}
.border-section{
  border: 1px #0D2342 solid;
  border-top: 0px;
  border-radius: 0px 0px 15px 15px ;
}
.border-input{
  border: 4px #FEC60D solid;
}
.circulo-celeste-2{
  border: 2px #0176DE solid;
  border-radius: 55px;
}
.circulo-celeste-5{
  border: 5px #0176DE solid;
  border-radius: 55px;
}
.circulo{
  border-radius: 55px;
}
.border-radius{
  border-radius: 0px 22px 22px 0px;
}
.border-radius-top{
  border-radius: 0px 0px 22px 22px;
}
.border-radius-5{
  border-radius: 5px;
}
.border-radius-15{
  border-radius: 15px;
}
.border-radius-35{
  border-radius: 35px;
}
.border-r-10{
  border-right: 10px #0176DE solid;
}
.bt-0{
  border-top: 0px !important;
}
.bt-5{
  border-top: 5px;
}
.bt-15-gris{
  border-top: #EAEAEA 15px solid;
}
.bl-15-celeste{
  border-left: #0176DE 15px solid;
}
.border-botton-amarillo{
  border-bottom: 3px #FEC60D solid
}
.border-botton-gris{
  border-bottom: 1px rgb(208, 208, 208) solid
}
.border-botton-azul{
  border-bottom: 1px #173F8A solid
}

.line-l-azul{
  border-left: 1px #173F8A solid;
}
.line-r-azul{
  border-right: 1px #173F8A solid;
}

.line-degr{
  border-bottom: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom right, #ffefba 0%, #CBA753 100%);
  border-image-slice: 1;
}
.box-shadow-none{
  box-shadow: none;
}
th {
  min-width: 120px;
}



.line-height--1 {
  line-height: 1px
}
.map-leaflet {
  height: 500px;
}
.no-contour {
  border: none;
  box-shadow: none;
}
.quote-bordered {
  border-left: 1px solid #000000;
}
.uc-search_input {
  border: 3px solid rgb(254, 198, 13);
  border-radius: 4px;
}
.uc-search_button {
  background-color: transparent;
  border: 3px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.uc-section__printable {
  display: none;
}

@media print {
  .uc-section__printable {
    display: block;
  }
}
.ws--nw {
  white-space: nowrap
}


button.btn-cta:disabled {
  opacity: .75;
  transition: 0.5s;
}
button.btn-cta:disabled:hover {
  background-color: #fec60d;
}
input.ng-touched.ng-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 8px 0 rgba(220,53,69,.25);
}
.error-msg {
  color: #dc3545;
}
.uc-input_search {
  border: 3px solid rgb(254, 198, 13);
  box-shadow: 0px 0px 5px 0px rgba(254, 198, 13, 1);
}
.uc-form-group span {
  position: absolute;
}
.material-icons.md-60 { font-size: 60px; }

.alert-info{
  background: #ffefba;
  color: #c05600;
  padding: 2px 0px;
  margin: 0px 16px;
  border-radius: 5px;
}
iframe{
  height: 300px !important;
  width: 100% !important;
  border: none;
}
.pointer{
  cursor: pointer;
}
.uc-navbar{
  padding: 40px 0 20px;
}
.fixed{
  position:fixed;
  width: 80%;
  bottom: 0px;
  left: 0px;
  margin:0px 10%;
  z-index: 1000;
}
.uc-dropdown_list{
  max-width: 300px !important;
  width: 400px;
}
.uc-dropdown_list a{
  width: 250px;
}
.ico-n-reg{
  background: rgb(232, 232, 232);
  color:#03122E;
  font-size: 11px;
  text-decoration-line: none;
  border: #888888 solid 1px;
  border-radius: 5px;
  padding:4px;
  margin:0px;
}
.mouse-over{
  background: #fff;
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: 0.3s;
}
.mouse-over:hover{
  background: rgb(232, 232, 232);
  box-shadow: 2px 2px 10px #808080; 
}

.mouse-over-menu-facetas{
  cursor: pointer;
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: 0.3s;
}
.mouse-over-menu-facetas:hover{
  background: rgb(232, 232, 232);
}

.link{
  color:dodgerblue !important;
  text-decoration:underline !important;
  cursor: pointer;
}
.linkTag{
  color: #fff !important;
  text-decoration:none !important;
  cursor: pointer;
}

.outline-link{
  outline: none !important;
}
.titulo_post{
  font-size: 20px;
  color: #02132E;
  cursor: pointer;
  display: inline;
  transition: 0.5s;
}
.titulo_post:hover{
  color: #0075DE;
}
.metadata{
  color: #6d6d6d;
  font-size: medium;
  background: #F5F9FF;
  border: #D0DFF6 solid 1px;
  border-radius: 55px;
  vertical-align: middle;
  margin-right: 8px !important;
  margin-bottom: 18px;
  /* line-height: 22px; */
  /* margin:5px; */
  padding:5px;
}
.ico-meta{
  vertical-align: middle;
  /* color: #888888; */
  font-size: 17px;
  padding-bottom:5px;
}

#banner{
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s;
}

.top-bar-altura{
  height: 40px;
}

/* HOME */

.chart-container {
  position: relative;
}

.chart_main {
  height: 35%!important;
}
.chart_main + .row {
  height: 50%!important;
}



:root {
  --main-white-color: white;
  --main-black-color: black;
}
 
.static {
  position: static; 
}
 
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}
 
.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}
 
.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
 
.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}
 
.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}
 
.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}
 
.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
}
 
.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}
 
.owl-carousel .owl-nav {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}




/* Slider */
.form-panel {
  overflow: hidden;
  height: 380px;
  padding:0px;
  background: rgb(189, 189, 189);
}
.panels {
  width: 300%;
  display: flex;
}

.panels .panel {
  width: 100%;
  /* max-width: 1140px; */
}

/* .panel {
  height: 0;
} */

.panel.active {
  /* height: 100%; */
  height: 380px;
  width: 100%;
}

/* botones slider */
.btn-slider-active{
  background: #FADA3B;
  color: #0176DE;
  font-size: 32px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 55px;
}
.btn-slider{
  background: white;
  color: #0176DE;
  font-size: 32px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 55px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* MODAL */

.modal {
  position: fixed;
  width: 50%;
  height: 80%;
  top: 10%;
  margin: 0px 25%;
  z-index: 10001;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 24px;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 20px 40px  ;
  overflow: auto;
}
.header-modal{
  position: fixed; 
  background: #EAEAEA;
  border-bottom: #0176DE 1px solid;
  border-radius: 5px 5px 0 0;
  padding: 30px 40px 40px 50px;
  width: 50%;
  left: 25%;
  top: 10%;
  z-index: 999;
}
.body-modal{
  margin-top: 120px; 
  margin-bottom: 50px;
}

.modal-header{
  position:fixed; 
  z-index: 100000;
  left: 25%;
  width: 50%;
  top: 5%; 
  height: 10%; 

  background: #fff;
  border-radius: 15px 15px 0 0;
  -webkit-box-shadow: 0px 50px 28px -21px rgba(255,255,255,1);
  -moz-box-shadow: 0px 50px 28px -21px rgba(255,255,255,1);
  box-shadow: 0px 50px 28px -21px rgba(255,255,255,1);
}
.modal-body{
  position: fixed;; 
  z-index: 99999;
  left: 25%; 
  width: 50%;
  top: 15%; 
  height: 70%;

  background: white; 
  overflow: auto; 
}
.modal-footer{
  position: fixed;
  z-index: 99999;
  left: 25%; 
  width: 50%;
  bottom: 5%; 
  height: 10%; 

  background: #EAEAEA; 
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px -58px 28px -21px rgba(255,255,255,1);
  -moz-box-shadow: 0px -58px 28px -21px rgba(255,255,255,1);
  box-shadow: 0px -58px 28px -21px rgba(255,255,255,1);
}

 /* MODAL FICHA */

 .contenedor_ficha {
  position: fixed;
  z-index: 10001;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  padding: 20px 40px  ;
  /* margin: 0px 25%; */
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  overflow: auto;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 24px;
}

.overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 9999px;
  height: 9999px;
  opacity: 0.5;
  background-color: #02132E;
}

.selectSearch{
  /* position: absolute; 
  z-index: 9999;  */
  width: 100%; 
  background: #ffffff; 
  padding: 30px; 
  margin-top: -17px !important;
  border: 1px #cbcbcb solid; 
  border-top: 3px #0075DE solid;
  cursor: pointer;
}
.btn_select{
  font-size: 17px; 
  /* line-height: 28px; */
  color: #7e7e7e;
  background: #f4f4f4;
  padding: 3px 14px !important;
  border-radius: 55px;
  /* margin-right: 5px;*/
  margin-top: 5px; 
  display: block;
  transition: 0.5s;
}
.btn_select:hover{
  background: #0075DE;
  color: #fff !important;
}

.collapse_header{
  background: #f0f6ff;
  cursor: pointer;

  display:flex; align-items: center; border-left: 4px solid #0075DE;
  transition: 0.5s;
}
.collapse_header:hover{
  background: #F6F6F6;
  border-left: 4px solid #FEC60D;
}
.collapse_body{
  /* background: #F6F6F6; */
  border: #cdcdcd solid 1px;
  -webkit-box-shadow: inset 0px 12px 14px -9px #00000059;
-moz-box-shadow: inset 0px 12px 14px -9px #00000059;
box-shadow: inset 0px 12px 14px -9px #00000059;
}

/* MENU PERFIL */

.tex-sipa-header{
  font-size: 30px;
  cursor: pointer;
}
.container_header_perfil{
  text-align: right; 
  color: #808080;
  margin-left: 25px;
}
.deslogueado{
  margin-right: 22px; color: #808080; text-decoration: none; cursor: pointer;
}
.btn-ico-perfil{
  position: absolute;
  text-align: center;
  cursor: pointer;
}
.ico-perfil{
  border-radius: 55px; 
  border: 2px solid #0075de; 
  padding: 5px;
  color: #0075DE;
  font-size:35px !important;
  transition: 0.5s;
}
.ico-perfil:hover{
  background: #03122E;
  color: #fff !important;
}
.main-sesion{
  text-align: left;
  margin-left: 62px;
}
.btn-sesion, .ico-sesion{
  cursor: pointer;
  color: #0075DE;
  font-size: 18px !important;
  transition: 0.5s;
}
.btn-sesion:hover{
  color: #03122E !important;
}
.btn-tex-perfil{
  margin-bottom: 5px !important; 
  color: #000000; 
  cursor: pointer;
  font-size: 14px; 
  line-height: 14px !important; 
  font-weight: bold;
}
@media (max-width: 1200px) {
  .tex-sipa-header{
    font-size: 25px !important;
  }
  .container_header_perfil{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 60px;
    width: 120px;
    overflow: hidden !important;
  }
  .deslogueado{
    display: none;
  }
  .btn-ico-perfil{
    position: fixed;
    bottom: 0px;
    right: 60px;
    height: 60px;
    width: 40px;
  }
  .ico-perfil{
    border-radius: 0px; 
    border: none; 
    padding: 10px;
    background: #fff;
    font-size:35px !important;
    color: #999 !important; 
    transition: color 0.5s;
  }
  .ico-perfil:hover{
    background: #fff;
    font-size:35px !important;
    color: #000 !important;
  }
  .main-sesion{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 60px;
    width: 60px;

    padding: 10px;
    margin: 0px !important;
    background: #fff;
  }
  .btn-tex-perfil{
    display: none;
  }
  .ico-sesion{
    font-size: 30px !important;
    color: #999;
    padding: 3px;
    transition: color 0.5s;
  }
  .ico-sesion:hover{
    color: #000;
  }
  .tex-cerrarsesion{
    display: none;
  }
  
}

/* CARPETA DE VINCULACIONES */

.mainBolsa-fixed {
	position:fixed;
	z-index:1000;
  top:0;
  padding-top: 90px;
  margin: 0px;
  width:300px;
  height: 80%;
  /* box-shadow:0px 4px 3px rgba(0,0,0,.5); */
  background: #fff /* #F5F9FF */;
  color: #0075DE;
  overflow-y: scroll;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #999;
}
.headerBolsa{
  color: #000;
  text-align: center;
  padding: 30px;
}
.headerBolsa-fixed{
  position: fixed; 
  top: 0;
  width: 300px;
}
.bodyBolsa{
  background: #fff;
  color: #082046;
  
  /* border: 1px solid #c9c9c9; */
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  transition: 0.5s;
}
.eliminarBolsa{
  /* background: #eaf1fa; */
  color: #0075DE;
  cursor: pointer;
  transition: 0.5s;
}
.eliminarBolsa:hover{
  /* background: #0075DE; */
  color: #FEC60D;
}
.footerBolsa{
  background: #fff; /* 0075de */
  color: #0176DE;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #0176DE;
  cursor: pointer;
  transition:  0.5s;
  /* transition: color 1s; */
}
.footerBolsa:hover{
  background: #F5F9FF;
  color: #173F8A;
  border: 1px solid #FEC60D;
}
.footerBolsa-fixed{
  position: fixed; 
  top: 80%;
  width: 300px;
  border: 1px solid #999;
  border-top: none;
}
@media (max-width: 1200px) {
  .mainBolsa {
    position: static !important;
    overflow: hidden;
    float: left;
  }
  .mainBolsa-fixed {
    position: static !important;
    padding: 0px;
    height: default;
    width: auto !important;
    margin: 0px;
    border-radius: 0px;
    border: none;
  }
  .headerBolsa{
    display: none;
  }
  .bodyBolsa{
    display: none !important;
  }
  .footerBolsa{
    position: static !important; 
    top: none;
    height: 60px;
    width: auto;
    padding: 15px 10px;
    border-radius: 0px !important;
    border: 0px !important;
    font-size: 18px;
  }
  .footerBolsa-fixed{
    position: static !important; 
    top: none;
    width: 60px;
    width: auto;
    padding: 12px 10px;
    border-radius: 0px !important;
    border: 0px !important;
  }
  .ico-bolsa{
    display: none;
  }
}

/* carpeta registros guardados */

.headerRegistros{
  color: #000;
  text-align: center;
  padding: 30px;
}
/* .mainBodyRegistros{
  
} */
.bodyRegistros{
  background: #fff;
  color: #082046;
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  transition: 0.5s;
}
.bodyRegistros:hover{
  background: #f0f0f0;
  color: #082046;
  cursor: pointer;
}
.bodyRegistros.active{
  background: #F5F9FF;
  color: #082046;
  border-left: 4px solid #FEC60D;
}
.footerRegistros{
  background: #fff; /* 0075de */
  color: #0176DE;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #0176DE;
  cursor: pointer;
  transition:  0.5s;
}
.footerRegistros:hover{
  border: 1px solid #FEC60D;
  color: #173F8A;
  background: #F5F9FF;
}
.ico-registros{
  font-size: 35px !important;
}
@media (max-width: 1200px) {
  .mainRegistros{
    float: left;
    overflow: hidden;
  }
  .headerRegistros{
    color: #999;
    font-size: 16px;
    padding: 15px 10px;
    float: left;
    cursor: pointer;
    transition: 0.5s;
  }
  .headerRegistros:hover{
    color: #000;
  }
  .mainBodyRegistros{
    position: fixed;
    width: 100%;
    height: 80%;
    top: 13%;
    left: 0px;
    bottom: 10%;
    overflow: hidden;
    z-index: 9999;
    overflow: scroll;
    display: none;
  }
  .footerRegistros{
    color: #999;
    padding: 15px 10px;
    font-size: 16px;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .footerRegistros:hover{
    color: #000;
    border: none;
    background: none;
  }
  .ico-registros{
    display: none;
  }
}

/* SIDEBAR */

.container_sidebar{
  /* width: 100%; */
  border-right: 4px #0176DE dotted;
}
.sidebar{
  margin-bottom: 50px;
}
.button_sidebar{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: lighter;
  color: #0075DE;
  line-height: 18px;
  padding: 25px 5px;
  border-left: 4px solid #fff;
  cursor: pointer !important;
  transition: 0.5s;
}
.button_sidebar:hover{
  /* border-left: 4px solid #fff; */
  color: #173F8A;
  /* border-left: 4px solid #0075DE; */
  background: #f0f0f0;
}
.button_sidebar.active{
  border-left: 4px solid #FADA3B;
  color: #173F8A;
  font-weight: bolder;
  background: #F5F9FF;
}
.ico_sidebar{
  float: left; 
  width: 20%;
  color: #0075DE;
  font-size: 40px;
}
.ico_sidebar_delete{
  float: left; 
  width: 20%;
  color: #0075DE;
}
.ico_sidebar_delete:hover{
  color: #000000;
}
.ico_sidebar.active{
  color: #173F8A;
}
.tex_sidebar{
  float: left; 
  width: 75%;
  font-size: 20px;
}
.ico_sidebar_perfil{
  float: left; 
  width: 35%;
  font-size: 80px;
}
.tex_sidebar_perfil{
  float: left; 
  width: 65%;
  font-size: 14px;
}

.table-prod-acad tr th{
  padding-bottom: 40px !important;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black !important;
  background: transparent !important;
}
.table-prod-acad tr td{
  padding: 5px 15px !important;
}
.table-prod-acad tr td p{
  margin: 0px !important;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .container_sidebar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-right: 0px #0176DE dotted;
    background: #fff;
    padding: 0px;
    -webkit-box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.55);
    box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.55);
    width: 100%;
    z-index: 999;
    overflow: hidden;
  }
  .sidebar{
    margin-bottom: 0px;
    overflow: hidden;
    float: left;
  }
  .button_sidebar{
    display: block ;
    align-items: none;
    justify-content: none;
    height: 60px;

    background: #FFF;
    line-height: none;
    padding: 10px !important;
    border-left: 0px  !important;
    float: left;
  }
  .button_sidebar.active{
    border-left: 0px !important;
    background: #ffffff;
    padding: 10px !important;
  }
  .ico_sidebar{
    color: #999 !important;
    font-size: 33px;
    transition: 0.5s;
  }
  .ico_sidebar.active{
    color: #0075DE !important;
  }
  .ico_sidebar:hover{
    color: #000 !important;
  }
  .tex_sidebar{
    display: none;
  }
}

/* @media screen and (max-width: 500px) {
  body{
    font-size: 10px;
  }
  .responsive-section {
    padding: 10px !important;
  }
  .p-sm-0{
    padding: 0px !important;
  }
  .p-sm-1{
    padding: 10px !important;
  }
} */





 /* SELECT */

.overlaySelect {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 9999px;
  height: 9999px;
  opacity: 0.5;
  /* background-color: #02132E; */
}
.contenedor {
	width: 100%;
	/* max-width: 1000px; */
	margin: auto;
	padding: 40px 0;
}

.selectbox {
	width: 60%;
	margin: auto;
	position: relative;
}

.select {
	background: #fff;
	width: 100%;
	box-shadow: 0px 0px 0px #00000029;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	z-index: 200;
	border: 2px solid #0176DE;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px #00000029;
	border: 2px solid #173F8A;
}
.select:disabled{
  color: #9d9fa4 !important;
  border: 2px solid #b3b3b3;
  cursor: default;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}
.ico_select{
  font-size: 70px !important;
  margin-right: 30px;
  margin-left: 0px !important;
  color: #213f8f;
  background: transparent;
}
.ico_select:disabled{
  color: #9d9fa4 !important;
}

.titulo {
	margin-bottom: 10px;
	/* color: #000; */
	font-weight: 600;
  font-size: 30px;
  text-align: left;
}

.descripcion {
  font-size: 18px;
  text-align: left;
	/* color: #434343; */
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	width: 100%;
  z-index: 20001 !important; 
  position: relative;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
  padding: 20px 30px;
  padding-bottom: 5px;
  cursor: pointer;
}

.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}
.contenido-opcion .ico_option {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.opciones .contenido-opcion .titulo {
  color: #000;
  font-size: 18px !important;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion,
.opciones .contenido-opcion:hover .ico_option {
	color: #fff;
}

/* VALORIZACION */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form .star {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.star {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.star:hover,
.star:hover ~ .star {
  color: orange;
}

input[type="radio"]:checked ~ .star {
  color: orange;
}



@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}