.panels {
  width: 400%;

  display: flex;
}

.panels .panel {
  /* height: auto; */
  width: 100%;
  max-width: 1140px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.form-panel-pasos {
  overflow: hidden;
}

.panel-button {
  padding: 0;
  width: 50px;
  height: 50px;
  color: #0176de;
  border-radius: 50%;
  font-size: 32px;
  line-height: 1;
  border: 4px solid #0176de;
  font-weight: 700;
}

.panel-button.active {
  background-color: #0176de;
  color: #ffffff;
}

.panel-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 25px;
  left: 50%;
  background-color: #e4e4e4;
  z-index: -1;
}

.panel-line.active {
  background-color: #0176de;
}

.panel {
  height: 0;
}

.panel.active {
  height: 100%;
}

.file-text {
  position: initial;
}

.upload-buttons_container {
  justify-content: flex-end;
  width: fit-content;
  float: right;
}

.panel-button_container {
  width: 33%;
  position: relative;  
}

.modal_condicion {
    position: fixed;
    width: 50%;
    height: 70%;
    top: 15%;
    left: 25%;
    margin: 0px;
    z-index: 10001;
    /* box-shadow: rgba(0,0,0,0.4) 0px 0px 24px; */
    background-color: #F4EED0;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 20px 40px  ;
    overflow: auto;
  }

  @media only screen and (max-width: 1200px) {
    .modal_condicion {
      width: 90%;
      height: 60%;
      top: 20%;
      left: 5%;
    }
  }
  @media only screen and (max-width: 800px) {
    .modal_condicion {
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
    }
  }
