<!-- Caja de búsqueda -->
<section id="buscador" class="uc-section uc-section__header" >
   <div class="container">

    <h1 class="font-centered font-light color-azul " >Actualiza <strong>tu producción académica</strong></h1>
    <!-- <h4 class="font-centered mb-3">Busca tus publicaciones o creaciones artísticas y vincula tu autoría.</h4> -->
      <!-- Condiciones del servicios -->
      <div class="font-centered mb-50px">
        <input  name="condiciones" id="condiciones" value="condiciones" (change)="condiciones($event)" type="checkbox" class="uc-input__checkbox mr-8" [checked]="condicion_publicar" > 
        <label for="condiciones" class="color-black"> He leido los </label>
        <a (click)="abreModal('Mensaje','multiselect', i)" class="color-celeste ml-2 pointer" style="text-decoration: underline">Términos y Condiciones del servicio.</a>
        <!-- Tooltips -->
        <div class="col-12" *ngIf="!condicion_publicar">
          <div class="arrow-top-before"></div><div class="arrow-top-after"></div>
          <span class="tooltips-abajo">Para continuar, debe marcar que ha leído los Términos y Condiciones del servicio.</span>
        </div>
      </div>

      

      <h2 class="font-centered font-light color-azul-oscuro mb-25">
        Ingresa tu nombre o títulos de publicaciones o creaciones artísticas de tu autoría (o co-autoría), para agregar el registro a tu perfil con el botón 
        <br><strong><span class="material-icons v-aling-m"> touch_app</span> Vincular a mi producción académica</strong>
      </h2>
      <!-- <h5 class="font-light pt-2 mb-25 font-centered"> (Duración: menos de 1 minuto.)</h5> -->

       <form #addressForm="ngForm" class="" (ngSubmit)="buscar(1,'busqueda','1')">
               
              <!-- Búsqueda -->
               <ng-container *ngIf="json['horizon_search_form']['search']['active']">
                  <!-- <h2>{{ json['horizon_search_form']['search']['title'] }}</h2> -->
                  <div class="uc-form-group">
                     <input type="text" [(ngModel)]="valorSearch" name="valorSearch" class="uc-input-style uc-input_search" [disabled]="!condicion_publicar"  placeholder="{{ json['horizon_search_form']['search']['form']['placeholder'] }}" title="Ingresar búsqueda"/>
                     <!-- <i (click)="buscar('1','busqueda','asc')" class="uc-icon uc-icon--inputed"  title="Buscar">search</i>  -->
                     <button type="submit" class="uc-btn btn-cta uc-icon--inputed w-150px " title="Buscar publicación o creación artística" [disabled]="addressForm.invalid || !condicion_publicar">
                      <span class="material-icons ico_btn" >search</span> Buscar
                      </button> 
                  </div>
               </ng-container>

               <!-- Filtros -->
               <ng-container *ngIf="json['horizon_search_form']['filters']['active'] && data['filtroActivo']">
                  <h2 class="mb-16">{{ json['horizon_search_form']['filters']['title'] }}</h2>
                  <div *ngIf="addressForm.invalid" class="col-12 text-align-left color-gris mb-16">
                    <i class="material-icons v-aling-m mr-2 color-celeste">info </i> Llenar todos los campos del filtro.
                  </div>

                  <!-- campos de filtro -->
                  <div class="row"  *ngFor="let filter of json['horizon_search_form']['filters']['content']; let i = index; let last = last">
                     <ng-container *ngFor="let address of array_Filtros; let i = index; let last = last">

                        <!-- Boton remover filtro -->
                        <!-- <div class="col-1" *ngIf="!last"></div> -->
                        <div class="col-1 font-righted " >
                          <button type="button" (click)="removefiltros(i)" class="btn_redondo_rojo" title="Remover" >
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                        <div class="col-lg-3 col-6">
                           <div class="uc-form-group">
                              <select required type="text" [(ngModel)]="address.search_by" name="search_by_{{i}}" class="uc-input-style uc-input uc-input__select font-size-14" title="Seleccionar búsqueda por">
                                 <option [value]="option['value']" *ngFor="let option of filter['search_by']['options']">{{ option['text'] }}</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-lg-3 col-6">
                           <div class="uc-form-group">
                              <select required type="text" [(ngModel)]="address.contains" name="contains_{{i}}" class="uc-input-style uc-input uc-input__select font-size-14" title="Seleccionar si contiene o no contiene">
                                    <option [value]="option['value']" *ngFor="let option of filter['contains']['options']">{{ option['text'] }}</option>
                              </select>
                           </div>
                        </div>
                           
                        <div class="col-lg-4 col-8">
                           <div class="uc-form-group">
                              <input required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style font-size-14" placeholder="{{ filter['text']['placeholder'] }}" title="{{ filter['text']['placeholder'] }}"/>
                           </div>
                        </div>
                        
                        <!-- Boton agregar filtro -->
                        <div class="col-1" *ngIf="!last"></div>
                        <div class="col-1 font-righted " *ngIf="last">
                          <button type="button" (click)="addFiltros()" class="btn_redondo_celeste" title="Agregar filtro">
                            <!-- <i class="uc-icon icon-shape--rounded text-size--34">add</i> -->
                            <strong>Y</strong>
                          </button> 
                        </div>
                     </ng-container>
                  </div>

                  <!-- Boton agregar filtro -->
                  <!-- <div class="col-lg-12 col-12 font-righted pr-0">
                           <button type="button" (click)="addFiltros()" class="uc-btn--circle mr-4 p-0" title="Agregar filtro">
                              <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                           </button> 
                  </div> -->
               </ng-container>
               
               <!-- botón Buscar y Busqueda avanzada -->
               <div class="row font-righted ">
                  <div *ngIf="!data['filtroActivo']" class="col-12 text-align--right">
                    <a title="Ir a búsqueda avanzada" (click)="busquedaAvanzada()" class="uc-link text-align--right link"><strong>Búsqueda avanzada<i class="uc-icon">keyboard_arrow_right</i></strong></a>
                  </div>
                  <div *ngIf="data['filtroActivo']" class="col-12 mt-8" >
                    <button type="submit" class="uc-btn btn-cta w-150px" style="display: inline;" title="Buscar publicación o creación artística" [disabled]="addressForm.invalid || !condicion_publicar">
                      <span class="material-icons ico_btn v-aling-m" >search</span> Buscar
                    </button> 
                  </div>
               </div>
                  
        </form>
   </div>
</section>

<!-- Cargando -->
<div *ngIf="entrada || cargando; let i = index" class="col-12 font-centered color-celeste">
  <img class="mt-5" src="../../../assets/img/2.gif">
 </div>
 <!-- no existen registros -->
 <div *ngIf="msj" class="color-celeste font-centered font-size-20 mb-32">
  <i class="material-icons mr-12 v-aling-m font-size-30">sentiment_very_dissatisfied</i> 
  {{msj}}
</div>

 <!-- Lista de resultados -->
<section *ngIf="data['search'] && !msj && !cargando" id="resultados" class="uc-section uc-section__page mt-50" >
  <div class="container">
     <div class="row">

       <div class="col-12" >
         
         <!-- Lista resultados encontrados -->
         <ng-container >
            
           <!-- Menu tabla -->
            <div  class="mb-3 row">
               <p class="col-6"><strong>{{ totalPage }} Resultados</strong> |  {{cantidadReg}} registros por página</p>
               <div class="col-6 d-inline-block font-righted">
                <span>Ordenar por:</span>
                <span class="d-inline--block">
                 <!-- <button class="uc-btn--linkalike" (click)="buscar(1,'', '')" title="Ordenar por más relevante">Más relevante</button> -->
                  <button class="uc-btn--linkalike" (click)="buscar(1,'', '1')" title="Ordenar por más recientes">Más reciente</button>
                  <button class="uc-btn--linkalike" (click)="buscar(1,'', '2')" title="Ordenar por menos recientes">Menos reciente</button>
                  <button class="uc-btn--linkalike" (click)="buscar(1,'', '3')" title='Ordenar de la "A" a la "Z"'>A - Z</button>
                  <button class="uc-btn--linkalike" (click)="buscar(1,'', '4')" title='Ordenar de la "Z" a la "A"'>Z - A</button>
                </span>
              </div>
            </div>

            <!-- Lista encontrados -->
           <ng-container>
            
              <div *ngFor="let a of data['search']; let i = index" class=" uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24" >
                <!-- CARD -->
                <article class="uc-card_body" style="border-top: 4px rgb(203, 203, 203) solid;">
                  <div class="row">
                    <div  class="{{ (data['url_thumbnail'] == '') ? 'col-lg-12' : 'col-lg-12 col-md-12' }} col-12 ">
                      <div class="uc-card uc-card--edge">
                        <div class="uc-card_body p-0">
              
                          <!-- Etsados/Vincularme -->
                          <div class="row mb-16px pb-16px border-botton-gris">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-5 mb-2">
                              <ng-container *ngIf="a['validacionbiblio']">
                                <div *ngIf="a['validacionbiblio']=='Validado'" class="font-size-18">
                                  <div class="material-icons ico-meta color-verde mt-1" style="position: absolute; ">check_circle</div>
                                  <div style="margin-left: 25px;">Registro validado</div>
                                </div>
                                <div *ngIf="a['validacionbiblio']=='Sin Validar'"  class="font-size-18">
                                  <div class="material-icons ico-meta color-red " style="position: absolute; ">schedule</div>
                                  <div style="margin-left: 25px; line-height: 18px;">En proceso de validación de los datos</div>
                                </div>
                              </ng-container>

                              <ng-container *ngIf="a['validaua']">
                                  <div *ngIf="a['validaua']=='Validado'" class="font-size-18">
                                    <i class="material-icons ico-meta color-verde mt-1" style="position: absolute; ">check_circle</i>
                                    <div style="margin-left: 25px;">Vinculación validada</div>
                                  </div>
                                  <div *ngIf="a['validaua']=='Sin Validar'"  class="font-size-18">
                                    <i class="material-icons ico-meta color-red " style="position: absolute; ">schedule</i>
                                    <div style="margin-left: 25px; line-height: 18px;">En proceso de validación de la vinculación</div>
                                  </div>
                                  
                              </ng-container>

                              <div class="font-size-18">
                                <i class="material-icons ico-meta mr-2">mail_outline</i><a (click)="emailSolicitar=i; response.show=false; message=null" class="color-celeste pointer" style="text-decoration: underline;" title="Solicitar correcciones">Solicitar correcciones</a>
                              </div>
                            </div>

                            <!-- Botón vincula -->
                            <div class="col-12 col-md-12 col-lg-12 col-xl-7 font-righted">
                              <input name="{{a.handle}}" id="{{a.handle}}" value="{{a.handle}}" (change)="vincular(a.id, a.title, a.fuente, a['author'], a.dateIssued, a.type, a.revista, a.capitulo, a.handle, $event)" type="checkbox" class="uc-input__checkbox mr-8">
                              <label for="{{a.handle}}">Agregar a carpeta</label>

                              <button type="button" (click)="vincular(a.id, a.title, a.fuente, a['author'], a.dateIssued, a.type, a.revista, a.capitulo, a.handle, $event )" class="btn_vincular" [disabled]="!condicion_publicar " title="Vincular a mi producción académica">
                                <div class="material-icons v-aling-m font-size-30" style="position: absolute;"> touch_app</div>   
                                <div class="ml-40px" >Vincular a mi producción académica</div>
                              </button>
                              
                              <ng-container *ngFor="let item of array_vincular">
                                <button *ngIf="item.handle==a.handle" type="button" class="btn_vincular" [disabled]="item.handle==a.handle" title="Vinculado">
                                  <div class="material-icons v-aling-m font-size-30" style="position: absolute;"> touch_app</div>   
                                  <div class="ml-40px" >Agregado a la carpeta</div>
                                </button>
                              </ng-container>
                            </div>

                            <!-- Email Solicitar correcciones -->
                            <div  class="col-12 mt-2" *ngIf="emailSolicitar==i && !response.show">
                            <form (ngSubmit)="submitContact(form, $event, a.title, a.handle)" #form="ngForm" >
                              <div class="row">
                                <div class="col-12 uc-form-group">
                                  <textarea #mensaje="ngModel" [(ngModel)]="message" required name="mensaje" class="w-100 uc-input-style " rows="7" placeholder="Escribir aquí solicitud para: {{ a.title}} "></textarea>
                                </div>
                              </div>
                              <div class="row mt-2 mb-2">
                                <div class="col-12 col-lg-8 color-red">
                                  <ng-container *ngIf="!mensaje.valid && mensaje.touched" >
                                  <i class="material-icons ">warning </i> <span class="ml-2">Mensaje es requerido.</span>
                                  </ng-container>
                                </div>
                                <div class="col-12 col-lg-4 text-align--right">
                                  <span class="color-celeste pointer mr-4" (click)="emailSolicitar=null; response.show=false">Cerrar</span>
                                  <button class="btn-linea" type="submit" [disabled]="form.pristine || form.invalid">Enviar solicitud</button>
                                </div>
                              </div>
                            </form>
                            </div>
                            <ng-container *ngIf="emailSolicitar==i && response.show">
                                <div class="col-12 font-centered font-size-18 mt-20 mb-24">
                                  <i class="material-icons mr-3 {{response.color}}">{{response.icono}}</i>
                                  <span>{{ response.text }}</span>
                                  <a title="Cerrar" class="color-celeste pointer ml-2" (click)="emailSolicitar=null; response.show=false">{{i}} Cerrar</a>
                                </div>
                            </ng-container>
                          </div>

                          <!-- Estados post -->
                          <!-- <div class="row ">
                            <div class="col-12 mb-2">
                              <ng-container *ngIf="a['validacionbiblio']">
                                <span *ngIf="a['validacionbiblio']=='Validado'" class="font-size-14 mr-2"><i class="material-icons ico-meta color-verde ">check_circle</i>  Registro validado</span>
                                <span *ngIf="a['validacionbiblio']=='Sin Validar'"  class="font-size-14 mr-2"><i class="material-icons ico-meta color-red">schedule</i>  En proceso de validación de los datos</span>
                              </ng-container>

                              <ng-container *ngIf="a['validaua']">
                                  <span *ngIf="a['validaua']=='Validado'" class="font-size-14 "><i class="material-icons ico-meta color-verde">check_circle</i>  Vinculación validada</span>
                                  <span *ngIf="a['validaua']=='Sin Validar'"  class="font-size-14 "><i class="material-icons ico-meta color-red">schedule</i>  En proceso de validación de la vinculación</span>
                              </ng-container>
                            </div>
                          </div> -->
                          <!-- Titulo -->
                          <div class="row">
                            <div class="col-12">
                              <h2 (click)="abreModal_ficha(i,a.handle)" class="titulo_post" title="Ver ficha"> 
                                {{ a.title}}
                              </h2>
                            </div>
                          </div>
                          <!-- Autores -->
                          <div class="row mt-2">
                            <div class="col-12">
                              <ng-container *ngFor="let autor of a['author'] let i = index">
                                <span *ngIf="autor && i < 3" class="mr-8px" style="text-transform: uppercase;" title="Autor"><i class="material-icons ico-meta mr-3px" >perm_identity</i>  {{ autor }}</span>
                                <span *ngIf="autor && i == 3" class="ico-meta">...</span>
                              </ng-container>
                              
                              <!-- <ng-container *ngFor="let otrosautores of a['other']">
                                <span *ngIf="otrosautores" class="metadata" title="Otro autor"><i class="material-icons ico-meta" >perm_identity</i>  {{ otrosautores }}</span>
                              </ng-container> -->
              
                            </div>
                          </div>
                          <!-- Fechas -->
                          <div class="row">
                            <div class="col-12">
                              <ng-container *ngIf="a.dateIssued">
                                <span class=" color-gris font-size-14 mr-3px" title="Fecha publicación">
                                  <i class="material-icons ico-meta mr-3px">date_range</i> Publicación: {{ a.dateIssued }}
                                </span>
                              </ng-container>
                              <!-- <ng-container *ngIf="a['available']">
                                <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                  <i class="material-icons ico-meta">date_range</i> Disponible: {{ a.available }}
                                </span>
                              </ng-container> -->
                            </div>
                          </div>
                          <!-- TAG -->
                          <div class="row mt-20 mb-8">
                            <div class="col-12">
                              <ng-container *ngIf="a.type">
                                <span  class="uc-tag mr-3" title="Tipo de documento">
                                  {{ a.type }}
                                </span>
                              </ng-container>
                              
                              <!-- fuente: {{a.fuente}} -->
                            </div>
                          </div>
                          <!-- Nombre revista -->
                          <div class="row">
                            <div class="col-12">
                              <ng-container *ngIf="a.revista">
                                <span  class="mr-2" title="Revista">
                                  <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">local_library</span> {{ a.revista }}
                                </span>
                              </ng-container>
                              <ng-container *ngIf="a.capitulo">
                                <span  class="mr-2" title="Capítulo de libro">
                                  <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">library_books</span> {{ a.capitulo }}
                                </span>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>

           </ng-container>
          
            <!-- paginador -->
            <form #pagina="ngForm">
              <nav class="uc-pagination">
                
                  <!-- <button type="submit" [routerLink]="['/busqueda/',prevPage]" class="uc-pagination_prev mr-12"> -->
                  <button (click)="buscar(prevPage,'',orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                      <i class="uc-icon">keyboard_arrow_left</i>
                  </button>
                  <ul class="uc-pagination_pages">
                      <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                          <!-- <a [routerLink]="['/busqueda/',num]" class="page-link pointer">{{num}}</a> -->
                          <a (click)="buscar(num,'', orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                      </li>
                  </ul>
                  <!-- <button type="submit" [routerLink]="['/busqueda/',nextPage]" class="uc-pagination_next ml-12"> -->
                  <button (click)="buscar(nextPage,'', orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                      <i class="uc-icon">keyboard_arrow_right</i>
                  </button>
                
              </nav>
            </form>
          </ng-container>

       </div>

     </div>
  </div>

</section>

<!-- <hr class="mt-50 mb-50px" > -->
<div class=" " style="margin-top: 50px; margin-bottom: 75px; border-bottom: 1px dashed #999; text-align: center;"><span style="background: #fff; position: relative; top: 15px; font-size: 22px; padding: 0px 22px;">ó</span></div>

<!-- Boton registrar -->
<div class="font-centered">
  <h2 class="mt-50 mb-16 font-light color-azul-oscuro " >Si el título no se encuentra, se puede agregar manualmente</h2>
  <button (click)="registra()" type="button" class="button-celeste mt-2" [disabled]="!condicion_publicar" title="Agregar publicación o creación artística">
    <span class="material-icons v-aling-m" >add</span> Agregar
  </button>
  <!-- <h5 class="font-light pt-2"> (Duración: 5 minutos aproximadamente.)</h5> -->
</div>

<!-- MODAL DECLAINER -->
<ng-container *ngIf="modal">
  <div class="modal_condicion" >
        <h3 class="mb-50px"><i class="uc-icon icon-size--md">info</i> {{tituloModal}}</h3>

        <!-- Texto explicativo -->
        <div class="uc-alert_content">
              
              <span class="p p-size--sm bold">
              <p><strong>Bienvenidos al Sistema de Publicación Académica (SIPA UC).</strong> </p>
              <p>SIPA UC es una base de datos centralizada, actualizada y colaborativa de la producción académica de la UC, desarrollada exclusivamente para uso interno de los integrantes de las unidades académicas y administrativas de la universidad.</p>
              <p>Estos registros de producción académica fueron recuperados de diferentes bases de datos y también proporcionados por sus autores a través de los sistemas de autoarchivo disponibles, quienes se hacen responsables de la integridad y titularidad de su contenido.</p>
              <p>Esta producción académica se encuentra protegida por la ley 17.336, que protege los derechos de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso debe ajustarse a la legislación vigente. Si existen dudas o consultas sobre esta materia, solicitamos dirigirlas a <a href="mailto:sipa@uc.cl">sipa@uc.cl</a></p>
              </span>
        </div>

        <!-- Boton aceptar -->
        <div class="row font-centered mt-50">
          <button (click)="cerrarModal()" class="uc-btn btn-cta">Aceptar</button>
        </div>
  </div>
  <!-- Background Modal -->
  <div class="overlay" ></div>
</ng-container>

<!--  MODAL FICHA -->

<div *ngIf="modal_ficha">
  <!-- BODY -->
  <div class="contenedor_ficha" >

    <div class="bg-white " style="position: fixed; z-index: 99999;width: 90%; padding: 10px; top:5%; left:5%; border-bottom: 1px #999 solid; border-radius: 15px 15px 0 0;"> 
      <div class="col-12 text-right" (click)="cerrarModal_ficha()" title="Cerrar">
        <span class="material-icons font-size-50 pointer color-celeste mr-8 v-aling-m">cancel</span> <span class="font-size-20 pointer color-celeste">Cerrar</span>
      </div>
    </div>

    <div class="mt-70px">
      <ng-container *ngFor="let tag of data['publics']['dc.type']" >
        <a *ngIf="tag" title="{{ tag }}" class="uc-tag mb-16 linkTag">{{ tag}}</a>
      </ng-container>

      <div class="row mb-32">
        <div class="col-12">
          <ng-container  *ngFor="let title of data['publics']['title']">
            <h1 *ngIf="title" class="mb-16">{{ title }}</h1>
          </ng-container >
          <span *ngIf="data['publics']['author']" class="text-size--18 ico-meta mr-12 metadata" title="Autor"><i class="material-icons ico-meta">account_box</i> {{ data['publics']['author'][0] }}  </span>
          <span *ngIf="data['publics']['dateIssued.year']" class="text-size--18 ico-meta mr-12 metadata" title="Fecha publicación"> <i class="material-icons ico-meta">date_range</i> {{ data['publics']['dateIssued.year'][0] }}</span>
          <a *ngIf="data['publics']['dc.identifier.uri']" href="{{ data['publics']['dc.identifier.uri'][0] }}" target="_blank" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</a>
          <!-- <span *ngIf="data['publics']['dc.identifier.uri']" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</span> -->
        </div>
      </div>

      <div class="row">
        <!-- sección Widget -->
        <div class="col-lg-4 col-md-6 col-12">

          <!-- VALIDACION -->
          <article class="uc-card mb-32" *ngIf="data['publics']['sipa.validacionbiblio'] || data['publics']['sipa.validaUA']">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">VALIDACIÓN</span>
              <hr class="uc-hr my-24">
              <ng-container *ngFor="let validacion of data['publics']['sipa.validacionbiblio']">
                <span *ngIf="validacion=='Validado'" class="mr-2"><i class="material-icons ico-meta color-verde">check_circle</i>  Registro validado</span>
                <span *ngIf="validacion=='Sin Validar'"  class="mr-2"><i class="material-icons ico-meta color-red">schedule</i> En proceso de validación de los datos</span>
              </ng-container>
              <ng-container *ngFor="let validacion of data['publics']['sipa.validaUA']">
                <span *ngIf="validacion=='Validado'" class="mr-2"><i class="material-icons ico-meta color-verde">check_circle</i>  Vinculación validada</span>
                <span *ngIf="validacion=='Sin Validar'"  class="mr-2"><i class="material-icons ico-meta color-red">schedule</i>  En proceso de validación de la vinculación</span>
              </ng-container>
            </div>
          </article>

          <!-- Foto sin resumen -->
          <article class="mb-32 font-centered" *ngIf="foto">
            <figure >
              <img  class="img-fluid w-150" style="border:1px solid #999999; padding:20px" src="{{foto}}" alt="{{foto}}">
            </figure>
          </article>

          <!-- INFORMACION -->
          <article class="uc-card mb-32" *ngIf="data['publics']['dc.type'] || data['publics']['dc.subject.other']">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">INFORMACIÓN</span>
              <hr class="uc-hr my-24">

              <!-- Tipo de documento -->
              <div class="mb-16" *ngIf="data['publics']['dc.type']">
                <span class="uc-subtitle d-block mb-8">TIPO DE DOCUMENTO</span>
                <ng-container *ngFor="let type of data['publics']['dc.type']">
                  <a title="{{ type }}" class="uc-tag mb-8 linkTag">{{ type }}</a>
                </ng-container>
              </div>

              <!-- Temática -->
              <div *ngIf="data['publics']['dc.subject.other']">
                <span class="uc-subtitle d-block mb-8">TEMÁTICA</span>
                <ng-container *ngFor="let topic of data['publics']['dc.subject.other']">
                  <a title="{{ topic }}" class="uc-tag mb-8 linkTag">{{ topic }}</a>
                </ng-container>
              </div>
            </div>
          </article>

          <!-- Descargar ficha-->
          <article class="uc-card uc-card--gray mb-32" *ngIf="data['publics']['archivos']">
            <div class="uc-card_body">

                <span class="uc-subtitle mt-32 text-size--18">DESCARGAS</span>
                <hr class="uc-hr my-16">

                
                
                <ng-container *ngIf="!embargo" >
                  

                  <ng-container *ngFor="let file of data['publics']['archivos']">
                    <a title="Descargar {{ data['publics']['stream_source_info']}}" href="{{urldownload}}/{{ data['publics']['handle'] }}/{{file.archivo}}" (click)="descargaGA()" class="uc-link no-decoration text-weight--500 mt-8" target="_blank" download>
                      <i class="uc-icon mr-8">get_app</i>{{file.archivo}}
                    </a>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="embargo">
                  <ng-container *ngFor="let file of data['publics']['archivos']">
                    <div title="Se encuentra en embargo" class="uc-link no-decoration text-weight--500 mt-8 text-color--gray-dark">
                      <span class="material-icons mr-8 color-red">lock</span>{{file.archivo}}
                    </div>
                  </ng-container>
                  <p class="color-red ">(<i>No descargable por embargo</i>)</p>
                </ng-container>

            </div>
          </article>

          <!-- Datos investigador -->
          <article class="uc-card mb-32" *ngIf="data['publics']['author']">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">DATOS DEL INVESTIGADOR</span>
              <hr class="uc-hr my-24">
              <ng-container *ngFor="let autores of data['publics']['author'] let i = index">
                <span *ngIf="autores && i < 5" class="text-size--16">
                  <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                </span>
                <span *ngIf="autores && i == 5" class="text-size--16">
                  <br>
                  <a class="link mb-2" *ngIf="!ver_mas" (click)="ver_mas = true">Ver más...</a>
                  <a class="link mb-2" *ngIf="ver_mas" (click)="ver_mas = false">Ver menos...</a>
                  <br><br>
                </span>
                <span *ngIf="autores && i >4 && ver_mas" class="text-size--16">
                  <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                </span>
              </ng-container>
            </div>
          </article>

          
        </div>

        <!-- Sección contenido central -->
        <div class="col-lg-8 col-md-6 col-12">

              <!-- Foto y resumen -->
              <p *ngIf="data['publics']['dc.description.abstract']" style="text-align: justify;">
                <!-- <img class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{foto}}" alt="{{foto}}" > -->
                <span >{{ data['publics']['dc.description.abstract'][0]}}</span>
              </p>

              <!-- Tab Metadatos -->
              <div class="uc-tabpanel" data-tabpanel>
                <!-- Tabs se muestran como botones -->
                <ul class="uc-tabs d-none d-lg-flex">
                    <li class="uc-tabs_item">
                        <p (click)="metadatas('sencillo')" class="uc-tabs_item-link pointer {{ tipodata == 'sencillo' ? 'active' : '' }}">Registro Sencillo</p>
                    </li>
                    <li class="uc-tabs_item">
                        <p (click)="metadatas('completo')" class="uc-tabs_item-link pointer {{ tipodata == 'completo' ? 'active' : '' }}">Registro Completo</p>
                    </li>
                </ul>
                <div class="uc-tab-body">
                    <div *ngIf="tipodata=='sencillo'">
                      <table class="uc-table ">
                        <tbody>
                          <tr *ngFor="let tag of metadatos_simple">
                            <!-- Columna 1 -->
                            <td class="width-25" *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                              <strong>{{ tag['metadato']}}</strong>
                            </td>
                            <!-- Columna 2 -->
                            <td *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                              <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                <ng-container *ngIf="i < 5">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                                <ng-container *ngIf="i == 5">
                                  <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                  <br><br>
                                </ng-container>

                                <ng-container *ngIf="i > 4 && ver_mas">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>

                                <!-- <ng-container *ngIf="ultimo">
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                </ng-container> -->
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                    <div *ngIf="tipodata=='completo'">
                      <table class="uc-table ">
                        <tbody>
                          <tr *ngFor="let tag of metadatos_simple">
                            <!-- Columna 1 -->
                            <td *ngIf="tag['mostrar']">
                              <strong>{{ tag['cod'] }}</strong>
                            </td>
                            <!-- Columna 2 -->
                            <td *ngIf="tag['mostrar']">
                              <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                <ng-container *ngIf="i < 5">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                                <ng-container *ngIf="i == 5">
                                  <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                  <br><br>
                                </ng-container>

                                <ng-container *ngIf="i > 4 && ver_mas">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
          
        </div>

      </div>

    </div>

  </div>

  <!-- Background Modal -->
  <div class="overlay" (click)="cerrarModal_ficha()"></div>
</div>
