<section class="uc-section uc-section__header mb-60">
  <div class="container">
    <div class="row">

      <!-- ++++++++ SIDEBAR ++++++++ -->
      <div class="col-lg-12 col-xl-3 container_sidebar">
        <app-sidebar (propagar)="menu($event)"></app-sidebar>

        <!-- CARPETA DE VINCULACIONES -->
        <div id="bolsa" class="mainBolsa" *ngIf="bolsaVincula && num_vinculaciones!=null">
          <h3 class="headerBolsa">Carpeta de vinculaciones</h3>

          <div class="row bodyBolsa" *ngFor="let post of array_vincular; let i = index">
            <div class="col-9 pl-20 pr-20 pt-2 pb-2" title="{{post.titulo}}">
              {{post.titulo | slice:0:40 }}... 
            </div>
            <div (click)="eliminaBolsa(i, post.handle)" class="col-3 eliminarBolsa alinear-centro" title="Quitar">
              <span class="material-icons ">
                delete_outline
                </span>
            </div>
          </div>

          <div (click)="bolsaVinculaciones(); pasos = true; activePane = 't1';" class="footerBolsa" title="Ir a vincular">
            <span class="material-icons v-aling-m pr-2 ico-bolsa">fact_check</span>
            Ir a vincular
            <strong *ngIf="!pasos" class="num_reg ml-2" title="Vinculaciones sin enviar">{{num_vinculaciones}}</strong>
          </div>
        </div>
      </div>

      <!-- ++++++++ BUSCAR Y REGISTRAR +++++++++ -->
      <div *ngIf="!pasos" class="col-lg-12 col-xl-9 pl-5" >
        <div *ngIf="json['horizon_header']['active']" class="row">
          <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
        </div>

        <!-- Titulo y Caja de búsqueda -->
        <section id="buscador" class="uc-section uc-section__header" >
          <div class="container">

            <h1 class="font-centered font-light color-azul " >Actualiza <strong class="bolder">tu producción académica</strong></h1>
              <!-- Condiciones del servicios -->
              <div class="font-centered mb-50px">
                <input  name="condiciones" id="condiciones" value="condiciones" (change)="condiciones($event)" type="checkbox" class="uc-input__checkbox mr-8" [checked]="condicion_publicar" > 
                <label for="condiciones" class="color-black"> He leido los </label>
                <a (click)="abreModal('Mensaje','multiselect', i)" class="color-celeste ml-2 pointer" style="text-decoration: underline">Términos y Condiciones del servicio.</a>
                <!-- Tooltips -->
                <div class="col-12" *ngIf="!condicion_publicar">
                  <div class="arrow-top-before"></div><div class="arrow-top-after"></div>
                  <span class="tooltips-abajo">Para continuar, debe marcar que ha leído los Términos y Condiciones del servicio.</span>
                </div>
              </div>

              
              <div class=" font-centered w-100 mb-25 ">
                <h2 class="color-azul-oscuro">
                  Busca tus publicaciones y/o creaciones artísticas en nuestros registros
                  <span class="tooltip">
                    <span class="material-icons icoInfoTooltips">i</span>
                    <span class="tooltiptext ">Ingresa tu nombre o títulos de publicaciones y/o creaciones artísticas de tu autoría o co-autoría.</span>
                  </span> 
                </h2>
              </div>

              <form #addressForm="ngForm" class="" (ngSubmit)="buscar(1,'busqueda','1')">
                      
                      <!-- Búsqueda -->
                      <ng-container *ngIf="json['horizon_search_form']['search']['active']">
                          <!-- <h2>{{ json['horizon_search_form']['search']['title'] }}</h2> -->
                          <div class="uc-form-group">
                            <input type="text" [(ngModel)]="valorSearch" name="valorSearch" class="uc-input-style uc-input_search" [disabled]="!condicion_publicar"  placeholder="{{ json['horizon_search_form']['search']['form']['placeholder'] }}" title="Ingresar búsqueda"/>
                            <!-- <i (click)="buscar('1','busqueda','asc')" class="uc-icon uc-icon--inputed"  title="Buscar">search</i>  -->
                            <button type="submit" class="uc-btn btn-cta uc-icon--inputed w-150px " title="Buscar publicación o creación artística" [disabled]="addressForm.invalid || !condicion_publicar">
                              <span class="material-icons ico_btn" >search</span> Buscar
                              </button> 
                          </div>
                      </ng-container>

                      <!-- Filtros -->
                      <ng-container *ngIf="json['horizon_search_form']['filters']['active'] && data['filtroActivo']">
                          <h2 class="mb-16">{{ json['horizon_search_form']['filters']['title'] }}</h2>
                          <div *ngIf="addressForm.invalid" class="col-12 text-align-left color-gris mb-16">
                            <i class="material-icons v-aling-m mr-2 color-celeste">info </i> Llenar todos los campos del filtro.
                          </div>

                          <!-- campos de filtro -->
                          <div class="row"  *ngFor="let filter of json['horizon_search_form']['filters']['content']; let i = index; let last = last">
                            <ng-container *ngFor="let address of array_Filtros; let i = index; let last = last">

                                <!-- Boton remover filtro -->
                                <!-- <div class="col-1" *ngIf="!last"></div> -->
                                <div class="col-1 font-righted " >
                                  <button type="button" (click)="removefiltros(i)" class="btn_redondo_rojo" title="Remover" >
                                    <i class="material-icons">close</i>
                                  </button>
                                </div>
                                <div class="col-lg-3 col-6">
                                  <div class="uc-form-group">
                                      <select required type="text" [(ngModel)]="address.search_by" name="search_by_{{i}}" class="uc-input-style uc-input uc-input__select font-size-14" title="Seleccionar búsqueda por">
                                        <option [value]="option['value']" *ngFor="let option of filter['search_by']['options']">{{ option['text'] }}</option>
                                      </select>
                                  </div>
                                </div>

                                <div class="col-lg-3 col-6">
                                  <div class="uc-form-group">
                                      <select required type="text" [(ngModel)]="address.contains" name="contains_{{i}}" class="uc-input-style uc-input uc-input__select font-size-14" title="Seleccionar si contiene o no contiene">
                                            <option [value]="option['value']" *ngFor="let option of filter['contains']['options']">{{ option['text'] }}</option>
                                      </select>
                                  </div>
                                </div>
                                  
                                <div class="col-lg-4 col-8">
                                  <div class="uc-form-group">
                                      <input required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style font-size-14" placeholder="{{ filter['text']['placeholder'] }}" title="{{ filter['text']['placeholder'] }}"/>
                                  </div>
                                </div>
                                
                                <!-- Boton agregar filtro -->
                                <div class="col-1" *ngIf="!last"></div>
                                <div class="col-1 font-righted " *ngIf="last">
                                  <button type="button" (click)="addFiltros()" class="btn_redondo_celeste" title="Agregar filtro">
                                    <!-- <i class="uc-icon icon-shape--rounded text-size--34">add</i> -->
                                    <strong>Y</strong>
                                  </button> 
                                </div>
                            </ng-container>
                          </div>

                          <!-- Boton agregar filtro -->
                          <!-- <div class="col-lg-12 col-12 font-righted pr-0">
                                  <button type="button" (click)="addFiltros()" class="uc-btn--circle mr-4 p-0" title="Agregar filtro">
                                      <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                  </button> 
                          </div> -->
                      </ng-container>
                      
                      <!-- botón Buscar y Busqueda avanzada -->
                      <div class="row font-righted ">
                          <div *ngIf="!data['filtroActivo']" class="col-12 text-align--right">
                            <a title="Ir a búsqueda avanzada" (click)="busquedaAvanzada()" class="uc-link text-align--right link"><strong>Búsqueda avanzada<i class="uc-icon">keyboard_arrow_right</i></strong></a>
                          </div>
                          <div *ngIf="data['filtroActivo']" class="col-12 mt-8" >
                            <button type="submit" class="uc-btn btn-cta w-150px" style="display: inline;" title="Buscar publicación o creación artística" [disabled]="addressForm.invalid || !condicion_publicar">
                              <span class="material-icons ico_btn v-aling-m" >search</span> Buscar
                            </button> 
                          </div>
                      </div>
                          
              </form>
          </div>
        </section>

        <!-- Cargando -->
        <div *ngIf="entrada || cargando; let i = index" class="col-12 font-centered color-celeste">
          <img height="55px" class="mt-5" src="../../../assets/img/2.gif">
        </div>
        <!-- no existen registros -->
        <div *ngIf="msj" class="color-celeste font-centered font-size-20 mb-32">
          <i class="material-icons mr-12 v-aling-m font-size-30">sentiment_very_dissatisfied</i> 
          {{msj}}
        </div>

        <!-- Lista de resultados -->
        <section *ngIf="data['search'] && !msj && !cargando" id="resultados" class="uc-section uc-section__page mt-50" >
          <div class="container">
            <div class="row">

              <div class="col-12" >
                  <!-- Menu tabla -->
                  <div  class="mb-3 row">
                      <p class="col-lg-12 col-xl-6"><strong>{{ totalPage }} Resultados</strong> |  {{cantidadReg}} registros por página</p>
                      <div class="col-lg-12 col-xl-6 d-inline-block font-righted">
                        <span>Ordenar por:</span>
                        <span class="d-inline--block">
                          <span (click)="buscar(1,'', '1'); ordenlista='pubrecientes'" title="Fecha de publicaciones recientes" class="material-icons v-aling-m ml-2 font-size-18 linkestados {{ ordenlista == 'pubrecientes' ? 'active' : '' }}">south</span>
                          <span class="color-gris" title="Fecha de publicación">Publicación</span>
                          <span (click)="buscar(1,'', '2'); ordenlista='pubantiguas'" title="Fecha de publicaciones antiguas" class="material-icons v-aling-m font-size-18 mr-2 linkestados {{ ordenlista == 'pubantiguas' ? 'active' : '' }}">north</span> 
                          |
                          <!-- <span (click)="buscar(1,'', '5'); ordenlista='vinrecientes'" title="Vinculaciones recientes" class="material-icons v-aling-m ml-2 font-size-18 linkestados {{ ordenlista == 'vinrecientes' ? 'active' : '' }}">south</span>
                          <span class="">Vinculación</span>
                          <span (click)="buscar(1,'', '6'); ordenlista='vinantiguas'" title="Vinculaciones antiguas" class="material-icons v-aling-m font-size-18 mr-2 linkestados {{ ordenlista == 'vinantiguas' ? 'active' : '' }}">north</span> 
                          | -->
                          <span (click)="buscar(1,'', '3'); ordenlista='az'" title='Ordenar de la "A" a la "Z"' class="ml-2 mr-2 linkestados {{ ordenlista == 'az' ? 'active' : '' }}">A-Z</span> 
                          | 
                          <span (click)="buscar(1,'', '4'); ordenlista='za'" title='Ordenar de la "Z" a la "A"' class="ml-2 linkestados {{ ordenlista == 'za' ? 'active' : '' }}">Z-A</span>
                        <!-- <button class="uc-btn--linkalike" (click)="buscar(1,'', '')" title="Ordenar por más relevante">Más relevante</button> -->
                          <!-- <button class="uc-btn--linkalike" (click)="buscar(1,'', '1')" title="Ordenar por más recientes">Más reciente</button>
                          <button class="uc-btn--linkalike" (click)="buscar(1,'', '2')" title="Ordenar por menos recientes">Menos reciente</button>
                          <button class="uc-btn--linkalike" (click)="buscar(1,'', '3')" title='Ordenar de la "A" a la "Z"'>A - Z</button>
                          <button class="uc-btn--linkalike" (click)="buscar(1,'', '4')" title='Ordenar de la "Z" a la "A"'>Z - A</button> -->
                        </span>
                      </div>
                  </div>

                  <!-- Lista encontrados -->
                  <ng-container>
                      <div *ngFor="let a of data['search']; let i = index" class=" uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24" >

                        <article class="uc-card_body bg-celeste-3" style="border-top: 4px rgb(203, 203, 203) solid; ">
                                  <div class="row mb-16px pb-16px border-botton-gris">
                                    
                                    <div class="col-md-12 col-lg-7 col-xl-8 mb-2">
                                      <!-- Titulo -->
                                      <div class="row">
                                        <div class="col-12">
                                          <h2 (click)="abreModal_ficha(i,a.handle,a.title)" class="titulo_post" title="Ver ficha"> 
                                            {{ a.title}}
                                          </h2>
                                        </div>
                                      </div>
                                      <!-- Autores -->
                                      <div class="row mt-2">
                                        <div class="col-12" title="Autor: {{a['author']}}">
                                          <ng-container *ngFor="let autor of a['author'] let i = index">
                                            <span *ngIf="autor && i < 3" class="mr-8px" style="text-transform: uppercase;"><i class="material-icons ico-meta mr-3px" >perm_identity</i>  {{ autor }}</span>
                                            <span *ngIf="autor && i == 3" class="ico-meta">...</span>
                                          </ng-container>
                                          
                                          <!-- <ng-container *ngFor="let otrosautores of a['other']">
                                            <span *ngIf="otrosautores" class="metadata" title="Otro autor"><i class="material-icons ico-meta" >perm_identity</i>  {{ otrosautores }}</span>
                                          </ng-container> -->
                          
                                        </div>
                                      </div>
                                      <!-- Fechas -->
                                      <div class="row">
                                        <div class="col-12">
                                          <ng-container *ngIf="a.dateIssued">
                                            <span class=" color-gris font-size-14 mr-3px" title="Fecha publicación">
                                              <i class="material-icons ico-meta mr-3px">date_range</i> Publicación: {{ a.dateIssued }}
                                            </span>
                                          </ng-container>
                                          <!-- <ng-container *ngIf="a['fecha_vinculacion']">
                                            <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                              <i class="material-icons ico-meta">date_range</i> Vinculación: {{ a.fecha_vinculacion }}
                                            </span>
                                          </ng-container> -->
                                          <!-- <ng-container *ngIf="a['available']">
                                            <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                              <i class="material-icons ico-meta">date_range</i> Disponible: {{ a.available }}
                                            </span>
                                          </ng-container> -->
                                        </div>
                                      </div>
                                    </div>

                                    <!-- FLAG Y BOTON DE VINCULACION -->
                                    <div *ngIf="a['estado_vinculacion']==0" class="col-md-12 col-lg-5 col-xl-4" style="display: flex; justify-content: flex-end; align-items:flex-start; text-align: right;" >
                                      <div class="font-size-18" style="display: flex;align-items:center; justify-content: space-between; line-height: 18px;">
                                        <div>Su vinculación está en proceso de validación</div>
                                        <i class="material-icons  color-celeste font-size-40 ml-2">schedule</i>
                                      </div>
                                    </div>
                                    <div  *ngIf="a['estado_vinculacion']==2" class="col-md-12 col-lg-5 col-xl-4 text-align--right">
                                      <label id="a_{{i}}" for="{{a.handle}}" class="btn-linea ">
                                        <input *ngIf="!array_btn_vincular[i].btn" title="activo" name="{{a.handle.replace('/', '')}}" id="{{a.handle}}" value="{{a.handle}}" (change)="vincular(a.id, a.title, a['author'], a.dateIssued, a.type, a.revista, a.capitulo, a.handle, $event, i)" type="checkbox" class="uc-input__checkbox mr-8">
                                        <input *ngIf="array_btn_vincular[i].btn" title="activo" checked name="{{a.handle}}" id="{{a.handle}}" value="{{a.handle}}" (change)="vincular(a.id, a.title, a['author'], a.dateIssued, a.type, a.revista, a.capitulo, a.handle, $event, i)" type="checkbox" class="uc-input__checkbox mr-8">
                                        <label for="{{a.handle}}" >Agregar para vincular</label>
                                      </label> 
                                    </div>                                  
                                    <div *ngIf="a['estado_vinculacion']==1" class="col-md-12 col-lg-5 col-xl-4" style="display: flex;justify-content: flex-end; align-items:flex-start; text-align: right;" >
                                      <div class="font-size-18" style="display: flex;align-items:center; justify-content: space-between; line-height: 18px;">
                                        <div >Vinculación validada</div>
                                        <i class="material-icons color-mostaza font-size-40 ml-2" style="padding: 0px; margin: 0px;">verified</i>
                                      </div>
                                      <!-- <ng-container *ngIf="a['validacionbiblio']">
                                        <div *ngIf="a['validacionbiblio']=='Validado'" class="font-size-18 col-12 btn-linea text-left" style="cursor: default;">
                                          <i class="material-icons color-verde font-size-40" style="position: absolute;">check_circle</i>
                                          <div style="margin-left: 50px;">Vinculación validada</div>
                                        </div>
                                        <div *ngIf="a['validacionbiblio']=='Sin Validar'" class="font-size-18 col-12 btn-linea text-left" style="cursor: default;">
                                          <i class="material-icons  color-mostaza font-size-40" style="position: absolute; ">schedule</i>
                                          <div style="margin-left: 50px; line-height: 18px;">Su vinculación está en proceso de validación</div>
                                        </div>
                                      </ng-container> -->
                                    </div>
                                  </div>

                                  
                                  <div class="row">
                                    <div class="col-md-12 col-lg-6 mt-20 ">
                                      <!-- TAG -->
                                      <div class="row mb-8">
                                        <div class="col-12">
                                          <ng-container *ngIf="a.type">
                                            <span  class="uc-tag mr-3" title="Tipo de documento">
                                              {{ a.type }}
                                            </span>
                                          </ng-container>
                                          
                                          <!-- fuente: {{a.fuente}} -->
                                        </div>
                                      </div>
                                      <!-- Nombre revista -->
                                      <div class="row mt-3 mb-8">
                                        <div class="col-12 color-gris font-size-14">
                                          <ng-container *ngIf="a.revista">
                                            <span style="display: flex;" title="Revista">
                                              <span class="material-icons v-aling-m font-size-20 mr-2 color-gris">local_library</span> 
                                              <span>{{ a.revista }}</span>
                                            </span>
                                          </ng-container>
                                          <ng-container *ngIf="a.capitulo">
                                            <span style="display: flex;" title="Capítulo de libro">
                                              <span class="material-icons v-aling-m font-size-20 mr-2 color-gris">library_books</span> 
                                              <span>{{ a.capitulo }}</span>
                                            </span>
                                          </ng-container>
                                        </div>
                                      </div>
                                      <!-- Indexaciones -->
                                      <div class="row" *ngIf="a.indexacion"  title="Indexado en {{a.indexacion}}">
                                        <div class="col-12 d-flex">
                                          <div class="color-gris font-size-14">
                                            <span  class="material-icons v-aling-m font-size-20 mr-2 color-mostaza">dvr</span>
                                          </div>

                                          <span class="color-azul-oscuro">
                                                Indexado en:
                                                <span *ngFor="let item of a.indexacion.split('|'); let a = index">
                                                  <span *ngIf="a<3" style="border-bottom: #E3AE00 4px solid; margin-left: 7px; text-transform: uppercase;">{{ item }} </span> 
                                                  <span *ngIf="a==3">... </span> 
                                                </span>
                                          </span>
                                        </div>
                                      </div>





                                      <div class="row d-none">
                                        <div class="col-12 color-gris font-size-14">
                                          <ng-container *ngIf="a.indexacion">
                                            <span  class="mr-2 color-azul-oscuro" title="Indexado en {{a.indexacion}}" >
                                              <span *ngIf="a.indexacion.length<40" style="display: flex;">
                                                <span  class="material-icons v-aling-m font-size-20 mr-2 color-mostaza">dvr</span> 
                                                <span>Indexado en: 
                                                  <span *ngFor="let item of a.indexacion.split('|')">
                                                    <span style="border-bottom: #E3AE00 4px solid; margin-right: 7px; text-transform: uppercase;">{{ item }} </span> 
                                                  </span>
                                                </span>
                                              </span>
                                              <span *ngIf="a.indexacion.length>=40" style="display: flex; ">
                                                <span class="material-icons v-aling-m font-size-20 mr-2 color-mostaza">dvr</span> 
                                                <span>Indexado en: 
                                                  <span *ngFor="let item of a.indexacion.split('|')">
                                                    <span style="border-bottom: #E3AE00 4px solid; margin-right: 7px; text-transform: uppercase;">{{ item.substr(0, 40) }}... </span> 
                                                  </span>
                                                </span>
                                              </span>
                                            </span>
                                          </ng-container>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- FLAG VALIDACION DATOS -->
                                    <div class="col-md-12 col-lg-6 mt-20 text-right">
                                      <div class="" *ngIf="a['flagValidacion']"> <!-- a['validacionbiblio'] -->
                                        <div *ngIf="a['flagValidacion']=='Validado'" class="col-12 p-0"> <!--  a['validacionbiblio']=='Validado' -->
                                          <span class="material-icons ico-meta color-mostaza mr-2 font-size-25">verified</span>
                                          <span class="font-size-16">Registro validado</span>
                                          <span class="tooltip ml-2">
                                            <span class="icoInfoTooltips">i</span>
                                            <span class="tooltiptext-left" >La información ingresada en esta publicación o creación artística, fue revisada y aprobada por parte del equipo de Bibliotecas UC.</span>
                                          </span>
                                        </div>
                                        <div *ngIf="a['flagValidacion']=='Proceso'" class="col-12 p-0"> <!-- a['validacionbiblio']=='Sin validar' -->
                                          <span class="material-icons ico-meta mr-2 font-size-25">schedule</span>
                                          <span class="font-size-16">En proceso de validación de los datos</span>
                                          <span class="tooltip ml-2">
                                            <span class="icoInfoTooltips">i</span>
                                            <span class="tooltiptext-left" >La información ingresada en esta publicación o creación artística, se encuentra en una etapa de revisión por parte del equipo de Bibliotecas UC.</span>
                                          </span>
                                        </div>
                                      </div>

                                      <div class="col-12 p-0">
                                        <i class="material-icons ico-meta color-celeste mr-2">mail_outline</i>
                                        <a (click)="emailSolicitar=i; response.show=false; message=null" class="color-celeste pointer" title="Solicitar correcciones">Solicitar correcciones</a>                                        
                                      </div>
                                    </div>

                                    <!-- Email Solicitar correcciones -->
                                   
                                    <div  class="col-12 mt-5" *ngIf="emailSolicitar==i && !response.show">
                                      <form (ngSubmit)="submitContact(form, $event, a.title, a.handle)" #form="ngForm" >
                                        <div class="row">
                                          <div class="col-12 uc-form-group label">
                                            <label *ngIf="a.title.length<=35" class="label-default" title="{{a.title}}">Solicitud para {{ a.title}}</label>
                                            <label *ngIf="a.title.length>35" class="label-default" title="{{a.title}}">Solicitud para {{ a.title.substr(0, 35)}}...</label>
                                            <textarea (click)="placeholder()" #mensaje="ngModel" [(ngModel)]="message" required name="mensaje" class="w-100 uc-input-style " rows="7" ></textarea>
                                          </div>
                                        </div>
                                        <div class="row mt-2 mb-2">
                                          <div class="col-12 col-lg-8 color-red">
                                            <ng-container *ngIf="!mensaje.valid && mensaje.touched" >
                                            <i class="material-icons ">warning </i> <span class="ml-2">Mensaje es requerido.</span>
                                            </ng-container>
                                          </div>
                                          <div class="col-12 col-lg-4 text-align--right">
                                            <span class="color-celeste pointer mr-4" (click)="emailSolicitar=null; response.show=false">Cerrar</span>
                                            <button class="btn-linea" type="submit" [disabled]="form.pristine || form.invalid">Enviar solicitud</button>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                    <ng-container *ngIf="emailSolicitar==i && response.show">
                                          <div class="col-12 font-centered font-size-18 mt-20 mb-24">
                                            <i class="material-icons mr-3 {{response.color}}">{{response.icono}}</i>
                                            <span>{{ response.text }}</span>
                                            <a title="Cerrar" class="color-celeste pointer ml-2" (click)="emailSolicitar=null; response.show=false">Cerrar</a>
                                          </div>
                                    </ng-container>
                                  </div>
                        </article>

                      </div>
                  </ng-container>
                  
                  <!-- paginador -->
                  <form #pagina="ngForm">
                      <nav class="uc-pagination">
                        <span class="uc-pagination_pages mr-8">{{ totalPage }} Resultados</span>
                          <!-- <button type="submit" [routerLink]="['/busqueda/',prevPage]" class="uc-pagination_prev mr-12"> -->
                          <button (click)="buscar(prevPage,'',orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                              <i class="uc-icon">keyboard_arrow_left</i>
                          </button>
                          <ul class="uc-pagination_pages">
                              <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                                  <!-- <a [routerLink]="['/busqueda/',num]" class="page-link pointer">{{num}}</a> -->
                                  <a (click)="buscar(num,'', orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                              </li>
                          </ul>
                          <!-- <button type="submit" [routerLink]="['/busqueda/',nextPage]" class="uc-pagination_next ml-12"> -->
                          <button (click)="buscar(nextPage,'', orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                              <i class="uc-icon">keyboard_arrow_right</i>
                          </button>
                          <span class="uc-pagination_pages ml-8">de {{ page }} páginas</span>
                        
                      </nav>
                  </form>
              </div>

            </div>
          </div>
        </section>

        
        



        <!-- +++++++++++++++ SECCION SI NO SE ENCUENTRA Solicitar / Registrar +++++++++++++++++++ -->

        <section class="row bg-azul-b border-radius-15 mt-100px p-60 font-centered color-white">
          <div class="col-12 mb-50px font-centered">
            <h2 class="d-inline-block color-white">
              ¿No encuentras todas tus publicaciones y/o creaciones artísticas?
            </h2>
          </div>

          <div class="col-12 col-md-6">
            <button (click)="form_help_search='success'" type="button" class="button-celeste mt-3" title="Desplegar formulario">
              Las registramos por ti 
            </button>
          </div>

          <div class="col-12 col-md-6">
            <button [routerLink]="'/upload/subir-publicacion'" (click)="registra()" type="button" class="btn-linea mt-3" [disabled]="!condicion_publicar" title="Agregar publicación o creación artística">
              <span class="material-icons v-aling-m" >assignment</span> 
              Regístralas tú mismo
              <strong *ngIf="!pasos && guardados!=0" class="num_reg ml-2">{{guardados}}</strong>
            </button>
          </div>
        </section>
        <div *ngIf="form_help_search=='success' || form_help_search == 'resultado'" class="flecha-abajo-section"></div>
        <ng-container *ngIf="form_help_search == 'success'">
          <section class="row bg-celeste-3 border-section mt-0 p-60" style="margin-top: -40px !important;">
            <ng-container *ngIf="json['horizon_send_file']['active']">
              <!-- Caja mensaje -->
              <div class="col-12 mb-2">
                <label>
                  <strong>Ingresar información que nos sirva para encontrar tu producción.</strong>
                  <div class="tooltip ml-1">
                    <!-- <span class="material-icons v-aling-m ico-tooltips"> info</span>  -->
                    <span class="material-icons icoInfoTooltips">i</span>
                    <span class="tooltiptext">Puede incluir por ejemplo: título, identificador o fuente de datos donde se encuentra.</span>
                  </div>
                </label>
                <div class="uc-form-group">
                  <textarea [(ngModel)]="array_email_search.mensaje" name="mensaje" #mensaje="ngModel" rows="6" class="uc-input-style" placeholder="Ej: Título de mi producción académica. Identificador: 123456789. fuente de datos donde se encuentra: WOS"></textarea>
                </div>
              </div>
              <!-- Upload File -->
              <div class="col-12 mt-32 mb-32">
                <label for="file" class="button-celeste p-20 font-centered tooltip "  title="Agregar archivos">
                  <span class="material-icons mr-20 v-aling-m"> backup</span>
                  <strong class="">Cargar archivos (máx.10mb)</strong>
                  <span class="tooltiptext" style="bottom: 130%;">Opcionalmente puede adjuntar un listado con las publicaciones y/ o creaciones artísticas que desea incluir (cv, excel, etc.)</span>
                  <!-- <span class="font-size-14 d-block"> (Peso max. 1,5GB)</span> -->
                </label>
                <input id="file" type="file" name="file" class="d-none" multiple (change)="seleccionarArchivo($event)">
                <div *ngIf="msj_file" class="row alert-info m-2">
                  <i class="material-icons pr-2">warning </i> {{msj_file}}
                </div>
              </div>
              <!-- Archivos cargados -->
              <ng-container *ngIf="array_email_search.archivos">
                <div class="col-12" *ngFor="let carga of array_email_search.archivos; let i = index" > 
                  <div class="row" *ngIf="carga.archivo">
                    <!-- Boton remover filtro -->
                    <div  class="col-lg-1 col-md-12 font-left">
                      <i (click)="removeFile(i)" class="uc-icon btn_eliminar" title="Eliminar archivo">delete_forever</i>
                    </div>
                    <!-- ARCHIVO SUBIDO -->
                    <div class="col-lg-11 col-md-12">
                      <span *ngIf="carga.archivo" class="mt-16 ">{{carga.archivo}} </span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- Boton enviar -->
              <button type="button" (click)="submitEmailSearch()" class="uc-btn btn-cta col-lg-2 offset-lg-5 mt-24" [disabled]="!array_email_search.mensaje">Enviar</button>
            </ng-container>
            <!-- SERVICIO SUSPENDIDO -->
            <app-alert [title]="json['horizon_send_file']['title']" [texto]="json['horizon_send_file']['texto']" [type]="json['horizon_send_file']['type']" *ngIf="!json['horizon_send_file']['active']"></app-alert>
          </section>
        </ng-container>
        
        <!-- Resultado de envío -->
        <section *ngIf="form_help_search == 'resultado'" class="row bg-celeste-3 border-section mt-0 p-60" style="margin-top: -40px !important">
          <!-- Cargando -->
          <div *ngIf="cargando_solicitar" class="col-12 font-centered">
            <h2 class="mt-60"><span class="material-icons color-mostaza">pan_tool</span> ¡Espere un momento!</h2>
            <p>Estamos cargando los datos</p>
            <img class="mt-5 w-50px" src="assets/img/2.gif">
          </div>
          <!-- Mensaje de éxito -->
          <div *ngIf="msj_solicitar == 'success' && !cargando_solicitar" class="col-12 mb-32">
            <div class="uc-card_body col-lg-10 offset-lg-1 font-centered">
              <i class="material-icons mb-5 color-verde" style="font-size: 64px;">check_circle</i>
              <h2 >
                {{msjSend}}
              </h2>
              
              <p class="mt-50">
                <strong>¡Muchas gracias {{name_usuario}}!</strong> Confirmamos que su envío ha sido recibido. 
              </p>

              <!-- <div class="col-12 p-20 mb-32 bg-amarillo-l text-left">
                <div class="material-icons font-size-50 v-aling-m color-mostaza" style="position: absolute; left: 50px;">warning_amber</div>
                <div style="margin-left: 95px;">
                  <strong>{{msjEmail}}</strong><br>
                  La visualización en "Mi producción académica" puede tardar unos minutos.
                </div>
              </div> -->

              <p>Equipo SIPA UC.</p>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 mt-24 upload-buttons_container">
                  <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" (click)="form_help_search=null">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Mensaje de error -->
          <div *ngIf="msj_solicitar == 'error' && !cargando_solicitar" class="col-12 mb-32">
            <div class="col-lg-8 offset-lg-2 font-centered">
              <i class="material-icons mb-5 texto-dg-rojo" style="font-size: 64px;">highlight_off</i>
              <h2 class="mb-60">
                Envío ha fallado.
              </h2>
              <p>No hemos recibido sus datos, inténtelo nuevamente.<br>
                Ante cualquier consulta, escribir a <a href='' target="_blank" [routerLink]="['/contact']" title="Será redirigido a nueva ventana de contacto">contacto SIPA.</a>
              </p>
              <p><strong>Gracias.</strong><br>
                Equipo SIPA
              </p>
              <div class="row">
                <div class="col-lg-6 offset-lg-3  mt-24 upload-buttons_container">
                  <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" (click)="form_help_search = true"  >Volver a intentar</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        

      </div>

      <!-- ++++++++++++++++++  PASOS 1 AL 3 ++++++++++++++++++++++ -->

      <div *ngIf="pasos" id="pasos" class="col-lg-12 col-xl-9 pl-5" >
        <div *ngIf="json['horizon_header']['active']" class="row">
          <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
        </div>

        <section id="top" class="col-md-12" >
          <div class="row" >
            <!-- LINEA DE TIEMPO -->
            <div class="d-flex w-100 font-centered mt-50 mb-50px" style="justify-content: space-between;">
              <!-- PASO 1 -->
              <div class="panel-button_container">
                <div class="panel-line {{ (activePane == 't2' || activePane == 't3') ? 'active' : '' }}"></div>
                <button class="panel-button {{ activePane == 't1' ? 'active' : '' }}" tabindex="-1">1</button>
                <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} mt-1">Paso 1</span>
                <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][0]['title'] }}</span>
              </div>
              <!-- PASO 2 -->
              <div class="panel-button_container">
                <div class="panel-line {{ (activePane == 't3') ? 'active' : '' }}"></div>
                <button class="panel-button {{ activePane == 't2' ? 'active' : '' }}" tabindex="-1">2</button>
                <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} mt-1">Paso 2</span>
                <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][1]['title'] }}</span>
              </div>
              <!-- PASO 3 -->
              <div class="panel-button_container">
                <button class="panel-button {{ activePane == 't3' ? 'active' : '' }}" tabindex="-1">3</button>
                <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} mt-1">Paso 3</span>
                <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][2]['title'] }}</span>
              </div>
            </div>
            
            <!-- PASOS -->
            <form class="form-panel-pasos" #uploadForm="ngForm" (ngSubmit)="submitPublica(uploadForm)" novalidate onkeydown="return event.key != 'Enter';">
              <div class="panels" [@slide]="activePane">
                <ng-container *ngFor="let forms of json['horizon_forms']['content']; let i = index">
                  <div class="panel {{ activePane == 't'+(i+1) ? 'active' : '' }} row">

                    <!-- paso 1 -->
                    <ng-container *ngIf="i == 0 && forms['active']">

                      <div class="col-12">
                        <div class="row mb-60">
                          <h5 class="col-12 mb-5" *ngIf="array_vincular.length!=0">Tienes {{array_vincular.length}} documento(s) en tu carpeta de vinculaciones.</h5>
                          <div *ngFor="let post of array_vincular; let i = index" class="col-12 uc-card" >
                            <!-- CARD -->
                            <article class="uc-card_body" style="border-top: 1px rgb(203, 203, 203) solid;">
                              <div class="row">
                                    <div class="col-10 p-0">
                                      <!-- Titulo -->
                                      <div class="row">
                                        <div class="col-12">
                                          <h2 class="titulo_post" title="Ver ficha"> 
                                            {{post.titulo}}
                                          </h2>
                                        </div>
                                      </div>
  
                                      <!-- Autores -->
                                      <div class="row mt-2">
                                        <div class="col-12">
                                          <ng-container *ngFor="let autor of post.autores let i = index">
                                            <span *ngIf="autor && i < 3" class="mr-8px" style="text-transform: uppercase;" title="Autor"><i class="material-icons ico-meta mr-3px" >perm_identity</i>  {{ autor }}</span>
                                            <span *ngIf="autor && i == 3" class="ico-meta">...</span>
                                          </ng-container>
                                          <!-- <span class="metadata bg-amarillo-l color-azul-oscuro" title="Otro autor"><i class="material-icons ico-meta" >perm_identity</i>  {{ usuario }}</span> -->
                                        </div>
                                      </div>
                                      <!-- Fechas -->
                                      <div class="row">
                                        <div class="col-12">
                                          <ng-container *ngIf="post.fecha_publicacion">
                                            <span class=" color-gris font-size-14 mr-3px" title="Fecha publicación">
                                              <i class="material-icons ico-meta mr-3px">date_range</i> Publicación: {{post.fecha_publicacion}}
                                            </span>
                                          </ng-container>
                                          <!-- <ng-container *ngIf="a['available']">
                                            <span class="color-gris font-size-14 mr-2" title="Fecha disponible">
                                              <i class="material-icons ico-meta">date_range</i> Disponible: {{ a.available }}
                                            </span>
                                          </ng-container> -->
                                        </div>
                                      </div>
  
                                      <!-- TAG -->
                                      <div class="row mt-20 mb-8">
                                        <div class="col-12">
                                          <ng-container *ngIf="post.tag">
                                            <span  class="uc-tag mr-3" title="Tipo de documento">
                                              {{post.tag}}
                                            </span>
                                          </ng-container>
                                        </div>
                                      </div>
  
                                      <!-- Nombre revista -->
                                      <div class="row">
                                        <div class="col-12">
                                          <ng-container *ngIf="post.revista">
                                            <span  class="mr-2" title="Revista">
                                              <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">local_library</span> {{post.revista}}
                                            </span>
                                          </ng-container>
                                          <ng-container *ngIf="post.capitulo">
                                            <span  class="mr-2" title="Capítulo de libro">
                                              <span class="material-icons v-aling-m font-size-20 mr-3px color-gris">library_books</span> {{post.capitulo}}
                                            </span>
                                          </ng-container>
                                        </div>
                                      </div>
  
                                    </div>
                                    <div class="col-2 alinear-centro ">
                                      <div class="uc-btn btn-cta pointer" (click)="eliminaBolsa(i)">Quitar</div>
                                    </div>
                              </div>
                            </article>
                          </div>
                          <div *ngIf="array_vincular.length==0" class="col-12 font-centered font-size-20 color-celeste p-20 ">
                            <div class="material-icons font-size-50">folder_open</div> 
                            <h4>Su carpeta de vinculaciones está vacía.</h4>
                          </div>
                        </div>
                      </div>

                    </ng-container>

                    <!-- paso 2 -->
                    <ng-container *ngIf="i == 1 && forms['active'] && activePane=='t2'">
                      <ng-container>
                        <h2 class="col-12 font-centered mt-60 mb-60" >
                          Se enviará un total de <strong class="font-size-50 color-celeste">{{array_vincular.length}}</strong> publicacion(es)
                        </h2>       
                      </ng-container>
                    </ng-container>

                    <!-- paso 3 -->
                    <ng-container *ngIf="i == 2 && forms['active'] && activePane=='t3'">
                      
                      <!-- Resultado de envío -->
                      <div class="col-12">
                        <!-- Cargando -->
                        <div *ngIf="cargando" class="row font-centered">
                          <h2 class="mt-60"><span class="material-icons color-mostaza">pan_tool</span> ¡Espere un momento!</h2>
                          <p>Estamos cargando los datos</p>
                          <h5>Se estan enviando {{numenvios}} de {{array_vincular.length}}.</h5>
                          <img height="55px" class="mt-5" src="assets/img/loadfile.gif">
                        </div>
                        
                        <!-- Mensaje de éxito -->
                        <div *ngIf="msj == 'success' && !cargando" class="row mb-32">
                          <div class="col-lg-10 offset-lg-1 font-centered">
                            <i class="material-icons mb-5 color-verde" style="font-size: 64px;">check_circle</i>
                            <h2 >
                              {{msjSend}}
                            </h2>
                            <h5>Se han enviado {{numenvios}} de un total de {{totalenvios}} vinculaciones</h5>
                            
                          </div>
                        </div>

                        <!-- Resumen de carga -->
                        <div *ngIf="array_resumen" class="row p-20 mb-50px" style="height: 200px; overflow-y: scroll; background: #ebebeb;">
                          <div class="col-12" >
                            <!-- Tabla header -->
                            <div class="row text-left text-weight--700 mb-24">
                              <div class="col-md-9">Título</div>
                              <!-- <div class="col-md-3">Handle</div> -->
                              <div class="col-md-3">Estado</div>
                            </div>
                            <!-- Tabla body -->
                            <ng-container *ngFor="let resumen of array_resumen; let i = index">
                              <div class="row text-left pt-2 pb-2 border-botton-gris" >
                                <div class="col-md-9">
                                  {{resumen.titulo}}
                                </div>

                                <!-- <div class="col-md-3">
                                  {{resumen.handle}}
                                </div> -->

                                <div class="col-md-3">
                                  <p *ngIf="resumen.httpCode=='200' || resumen.httpCode=='201'">
                                    <span *ngIf="resumen.validacion=='Validado'">Vinculación validada</span>
                                    <span *ngIf="resumen.validacion!='Validado'" class="color-mostaza" >Vinculación en proceso de validación</span>
                                  </p>
                                  <p class="color-red" *ngIf="resumen.httpCode!='200' && resumen.httpCode!='201'">
                                    Error
                                  </p>
                                  
                                </div>
                              </div>
                            </ng-container>    
                          </div>         
                        </div>
         
                        <!-- Saludo de éxito -->
                        <div *ngIf="msj == 'success' && !cargando" class="row mb-32">
                          <div class="col-lg-10 offset-lg-1 font-centered">
                            <p>
                              <strong>¡Muchas gracias {{name_usuario}}!</strong> Confirmamos que su envío ha sido ingresado. 
                            </p>

                            <div class="col-12 p-20 mb-32 bg-amarillo-l text-left">
                              <div class="material-icons font-size-50 v-aling-m color-mostaza" style="position: absolute; left: 50px;">warning_amber</div>
                              <div style="margin-left: 95px;">
                                <strong>{{msjEmail}}</strong><br>
                                La visualización en "Mi producción académica" puede tardar unos minutos.
                              </div>
                            </div>

                            <!-- VALORIZACION -->
                            <!-- <section *ngIf="json['rating']['star'].active" class="border">
                              <app-valorizacion-estrellas [valorizaciones]="json['rating']['star']"></app-valorizacion-estrellas>
                            </section> -->

                            <!-- VALORIZACION -->
                            <section *ngIf="json['rating']['star'].active" class="uc-section uc-section__header border">
                              <div class="container">
                                  <section class="p-60">
                                    <div class="font-centered">
                                        <h3 class="col-12 ">{{json['rating']['star'].title}}</h3>
                                        <div *ngIf="!msj_rating" class="col-12 " style="display: flex; justify-content: center; align-items: center;">
                                            <iframe src="https://uc-cl.libwizard.com/f/sipa" scrolling="no"></iframe>
                                        </div>
                                    </div>
                                  </section>
                                </div>
                            </section>

                            <p class="mt-3">Equipo SIPA UC.</p>
                            <div class="row">
                              <div class="col-lg-6 offset-lg-3 mt-24 upload-buttons_container">
                                <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" [routerLink]="['/']">Ir al inicio</button>
                                <!-- <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" (click)="pasos = false; activePane='t1'; toScroll()" >Ir al inicio</button> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Mensaje de error -->
                        <div *ngIf="msj == 'error' && !cargando" class="row uc-card mb-32">
                          <div class="uc-card_body col-lg-8 offset-lg-2 font-centered">
                            <i class="material-icons mb-5 texto-dg-rojo" style="font-size: 64px;">highlight_off</i>
                            <h2 class="mb-60">
                              {{msjSend}}
                            </h2>
                            <p>No hemos recibido sus datos, por favor intente más tarde nuevamente.<br>
                              Ante cualquier consulta, escribir a <a href='' target="_blank" [routerLink]="['/contact']" title="Será redirigido a nueva ventana de contacto">contacto SIPA.</a>
                            </p>
                            <p><strong>Gracias.</strong><br>
                              Equipo SIPA
                            </p>
                            <div class="row">
                              <div class="col-lg-6 offset-lg-3  mt-24 upload-buttons_container">
                                <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" (click)="activePane = 't' + (i); toScroll()"  >Volver a intentar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                      </div>
                    </ng-container>

                    
                    <!-- botones -->
                    <div class="col-12">
                      <div class="d-flex align-items-center col-lg-6 offset-lg-3 mt-60 " >
  <!--                       <form #addressForm="ngForm" class="" (ngSubmit)="buscar(1,'busqueda','1')">
                          <button (click)="pasos = false; toScroll(); bolsaVincula=true;" type="submit" class="uc-btn btn-cta w-150px" style="display: inline;" title="Buscar publicación o creación artística" [disabled]="addressForm.invalid || !condicion_publicar">
                            <span class="material-icons ico_btn v-aling-m" >search</span> Buscar
                          </button> 
                        </form> -->
                        <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw bg-celeste-l" *ngIf="i == 0 && activePane=='t1'" (click)="pasos = false; toScroll(); bolsaVincula=true">Seguir agregando a la carpeta</button> -->
                        <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw bg-celeste-l" *ngIf="i == 0 && activePane=='t1'" (click)="pasos = false; toScroll(); bolsaVincula=true; data['search'] = false;">Seguir agregando</button>
                        <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw bg-celeste-l" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll()">Anterior</button>
                        <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 2 && activePane=='t3'" (click)="activePane = 't' + (i); toScroll()">Anterior</button> -->

                        <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="array_vincular.length==0">Siguiente</button>
                        <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw " *ngIf="i == 1" (click)="activePane = 't' + (i+2); toScroll()">Enviar</button>
                      </div>
                    </div>

                  </div>
                </ng-container>
              </div>
            </form>

          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- MODAL DECLAINER -->
<ng-container *ngIf="modal">
  <div class="modal_condicion" style="display: flex;flex-direction: column;">
        <h3 class="mb-50px" style="flex:1 1 1"><i class="uc-icon icon-size--md">info</i> {{tituloModal}}</h3>

        <!-- Texto explicativo -->
        <div class="uc-alert_content" style="flex:1 1 1">
              
              <span class="p p-size--sm bold">
              <p><strong>Bienvenidos al Sistema de Publicación Académica (SIPA UC).</strong> </p>
              <p>SIPA UC es una base de datos centralizada, actualizada y colaborativa de la producción académica de la UC, desarrollada exclusivamente para uso interno de los integrantes de las unidades académicas y administrativas de la universidad. Estos registros de producción académica fueron recuperados de diferentes bases de datos y también proporcionados por sus autores a través de los sistemas de autoarchivo disponibles, quienes se hacen responsables de la integridad y titularidad de su contenido. Esta producción académica se encuentra protegida por la ley 17.336, que protege los derechos de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso debe ajustarse a la legislación vigente. Si existen dudas o consultas sobre esta materia, solicitamos dirigirlas a <a href='' target="_blank" [routerLink]="['/contact']" title="Será redirigido a nueva ventana de contacto">contacto SIPA.</a></p>
              <!-- <p>Estos registros de producción académica fueron recuperados de diferentes bases de datos y también proporcionados por sus autores a través de los sistemas de autoarchivo disponibles, quienes se hacen responsables de la integridad y titularidad de su contenido.</p> -->
              <!-- <p>Esta producción académica se encuentra protegida por la ley 17.336, que protege los derechos de los autores sobre sus creaciones literarias, artísticas y científicas. Por lo tanto, cualquier uso debe ajustarse a la legislación vigente. Si existen dudas o consultas sobre esta materia, solicitamos dirigirlas a <a href='' target="_blank" [routerLink]="['/contact']" title="Será redirigido a nueva ventana de contacto">contacto SIPA.</a></p> -->
              </span>
        </div>

        <!-- Boton aceptar -->
        <div style="flex:1 1 auto; display: flex; align-items:flex-end; justify-content:end;" >
          <button (click)="cerrarModal()" class="uc-btn btn-cta w-150px d-inline-block">Aceptar</button>
        </div>
  </div>
  <!-- Background Modal -->
  <div class="overlay" ></div>
</ng-container>

<!--  MODAL FICHA -->

<div *ngIf="modal_ficha">
  <!-- BODY -->
  <div class="contenedor_ficha" >

    <div class="bg-white " style="position: fixed; z-index: 99999;width: 90%; padding: 10px; top:5%; left:5%; border-bottom: 1px #999 solid; border-radius: 15px 15px 0 0;"> 
      <div class="col-12 text-right" (click)="cerrarModal_ficha()" title="Cerrar">
        <span class="material-icons font-size-50 pointer color-celeste mr-8 v-aling-m">cancel</span> <span class="font-size-20 pointer color-celeste">Cerrar</span>
      </div>
    </div>

    <div class="mt-70px">
      <ng-container *ngFor="let tag of data['publics']['dc.type']" >
        <a *ngIf="tag" title="{{ tag }}" class="uc-tag mb-16 linkTag">{{ tag}}</a>
      </ng-container>

      <div class="row mb-32">
        <div class="col-12">
          <ng-container  *ngFor="let title of data['publics']['title']">
            <h1 *ngIf="title" class="mb-16">{{ title }}</h1>
          </ng-container >
          <span *ngIf="data['publics']['author']" class="text-size--18 ico-meta mr-12 metadata" title="Autor"><i class="material-icons ico-meta">account_box</i> {{ data['publics']['author'][0] }}  </span>
          <span *ngIf="data['publics']['dateIssued.year']" class="text-size--18 ico-meta mr-12 metadata" title="Fecha publicación"> <i class="material-icons ico-meta">date_range</i> {{ data['publics']['dateIssued.year'][0] }}</span>
          <a *ngIf="data['publics']['dc.identifier.uri']" href="{{ data['publics']['dc.identifier.uri'][0] }}" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</a>
          <!-- <a *ngIf="data['publics']['dc.identifier.uri']" href="{{ data['publics']['dc.identifier.uri'][0] }}" target="_blank" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</a> -->
          <!-- <span *ngIf="data['publics']['dc.identifier.uri']" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</span> -->
        </div>
      </div>

      <div class="row">
        <!-- sección Widget -->
        <div class="col-lg-4 col-md-6 col-12">

          <!-- FLAG VALIDACION VINCULACION Y DATOS -->
          <article class="uc-card mb-32" *ngIf="data['publics']['flagValidacion'] && data['publics']['flagValidacion'][0] != 'Vacio'">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">VALIDACIÓN</span>
              <hr class="uc-hr my-24">
              <ng-container *ngFor="let validacion of data['publics']['flagValidacion']"> <!-- sipa.validacionsipa -->
                <span *ngIf="validacion=='Validado'"><i class="material-icons ico-meta color-mostaza mr-2 font-size-25">verified</i>  Registro validado</span>
                <span *ngIf="validacion=='Proceso'"><i class="material-icons ico-meta mr-2 font-size-25">schedule</i> En proceso de validación de los datos</span>
              </ng-container>
              <ng-container *ngFor="let validacion of data['publics']['sipa.validaUA']">
                <span *ngIf="validacion=='Validado'"><i class="material-icons ico-meta color-mostaza mr-2 font-size-25">check_circle</i>  Vinculación validada</span>
                <span *ngIf="validacion=='Sin validar'"><i class="material-icons ico-meta mr-2 font-size-25">schedule</i>  En proceso de validación de la vinculación</span>
              </ng-container>
            </div>
          </article>

          <!-- Foto sin resumen -->
          <article class="mb-32 font-centered" *ngIf="foto">
            <figure >
              <img  class="img-fluid w-150" style="border:1px solid #999999; padding:20px" src="{{foto}}" alt="{{foto}}">
            </figure>
          </article>

          <!-- INFORMACION -->
          <article class="uc-card mb-32" *ngIf="data['publics']['dc.type'] || data['publics']['dc.subject.other']">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">INFORMACIÓN</span>
              <hr class="uc-hr my-24">

              <!-- Tipo de documento -->
              <div class="mb-16" *ngIf="data['publics']['dc.type']">
                <span class="uc-subtitle d-block mb-8">TIPO DE DOCUMENTO</span>
                <ng-container *ngFor="let type of data['publics']['dc.type']">
                  <a title="{{ type }}" class="uc-tag mb-8 linkTag">{{ type }}</a>
                </ng-container>
              </div>

              <!-- Temática -->
              <div *ngIf="data['publics']['dc.subject.other']">
                <span class="uc-subtitle d-block mb-8">TEMÁTICA</span>
                <ng-container *ngFor="let topic of data['publics']['dc.subject.other']">
                  <a title="{{ topic }}" class="uc-tag mb-8 linkTag">{{ topic }}</a>
                </ng-container>
              </div>
            </div>
          </article>

          <!-- Descargar ficha-->
          <article class="uc-card uc-card--gray mb-32" *ngIf="data['publics']['archivos']">
            <div class="uc-card_body">

                <span class="uc-subtitle mt-32 text-size--18">DESCARGAS</span>
                <hr class="uc-hr my-16">
       
                <ng-container *ngIf="!embargo" >
                  <ng-container *ngFor="let file of data['publics']['archivos']">
                    <form ngNoForm action="{{urldescargar}}" method="POST">
                      <input type="hidden" value="{{data['publics']['search.resourceid']}}" name="uuid">
                      <input type="hidden" value="{{file.archivo}}" name="nombre_archivo" >
                      <i class='uc-icon mr-8'>get_app</i> 
                      <input *ngIf="file.archivo.length>=25" type="submit" class="btn-link" name="nombre" value="{{file.archivo.substr(0, 25)}}..." title="Descargar {{file.archivo}}">
                      <input *ngIf="file.archivo.length<25" type="submit" class="btn-link" name="nombre" value="{{file.archivo}}" title="Descargar {{file.archivo}}">
                    </form>
                    <!-- <a title="Descargar {{ data['publics']['stream_source_info']}}" href="{{urldownload}}/{{ data['publics']['handle'] }}/{{file.archivo}}" (click)="descargaGA()" class="uc-link no-decoration text-weight--500 mt-8" target="_blank" download>
                      <i class="uc-icon mr-8">get_app</i>{{file.archivo}}
                    </a> -->
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="embargo">
                  <ng-container *ngFor="let file of data['publics']['archivos']">
                    <div title="Se encuentra en embargo" class="uc-link no-decoration text-weight--500 mt-8 text-color--gray-dark">
                      <span *ngIf="file.archivo.length>=25" class="material-icons mr-8 color-red">lock</span>{{file.archivo.substr(0, 25)}}...
                      <span *ngIf="file.archivo.length<25" class="material-icons mr-8 color-red">lock</span>{{file.archivo}}
                    </div>
                  </ng-container>
                  <p class="color-red ">(<i>No descargable por embargo</i>)</p>
                </ng-container>

            </div>
          </article>

          <!-- Datos investigador -->
          <article class="uc-card mb-32" *ngIf="data['publics']['author']">
            <div class="uc-card_body">
              <span class="uc-subtitle text-size--18">DATOS DEL INVESTIGADOR</span>
              <hr class="uc-hr my-24">
              <ng-container *ngFor="let autores of data['publics']['author'] let i = index">
                <span *ngIf="autores && i < 5" class="text-size--16">
                  <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                </span>
                <span *ngIf="autores && i == 5" class="text-size--16">
                  <br>
                  <a class="link mb-2" *ngIf="!ver_mas" (click)="ver_mas = true">Ver más...</a>
                  <a class="link mb-2" *ngIf="ver_mas" (click)="ver_mas = false">Ver menos...</a>
                  <br><br>
                </span>
                <span *ngIf="autores && i >4 && ver_mas" class="text-size--16">
                  <i class="material-icons ico-meta">perm_identity</i>  {{ autores }}
                </span>
              </ng-container>
            </div>
          </article>

          
        </div>

        <!-- Sección contenido central -->
        <div class="col-lg-8 col-md-6 col-12">

              <!-- Foto y resumen -->
              <p *ngIf="data['publics']['dc.description.abstract']" style="text-align: justify;">
                <!-- <img class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{foto}}" alt="{{foto}}" > -->
                <span >{{ data['publics']['dc.description.abstract'][0]}}</span>
              </p>

              <!-- Tab Metadatos -->
              <div class="uc-tabpanel" data-tabpanel>
                <!-- Tabs se muestran como botones -->
                <ul class="uc-tabs d-none d-lg-flex">
                    <li class="uc-tabs_item">
                        <p (click)="metadatas('sencillo')" class="uc-tabs_item-link pointer {{ tipodata == 'sencillo' ? 'active' : '' }}">Registro Sencillo</p>
                    </li>
                    <li class="uc-tabs_item">
                        <p (click)="metadatas('completo')" class="uc-tabs_item-link pointer {{ tipodata == 'completo' ? 'active' : '' }}">Registro Completo</p>
                    </li>
                </ul>
                <div class="uc-tab-body">
                    <div *ngIf="tipodata=='sencillo'">
                      <table class="uc-table ">
                        <tbody>
                          <tr *ngFor="let tag of metadatos_simple">
                            <!-- Columna 1 -->
                            <td class="width-25" *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                              <strong>{{ tag['metadato']}}</strong>
                            </td>
                            <!-- Columna 2 -->
                            <td *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                              <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                <ng-container *ngIf="i < 5">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                                <ng-container *ngIf="i == 5">
                                  <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                  <br><br>
                                </ng-container>

                                <ng-container *ngIf="i > 4 && ver_mas">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>

                                <!-- <ng-container *ngIf="ultimo">
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                </ng-container> -->
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                    <div *ngIf="tipodata=='completo'">
                      <table class="uc-table ">
                        <tbody>
                          <tr *ngFor="let tag of metadatos_simple">
                            <!-- Columna 1 -->
                            <td *ngIf="tag['mostrar']">
                              <strong>{{ tag['cod'] }}</strong>
                            </td>
                            <!-- Columna 2 -->
                            <td *ngIf="tag['mostrar']">
                              <ng-container *ngFor="let valor of tag['valor']; let i = index; let ultimo = last;">
                                <ng-container *ngIf="i < 5">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                                <ng-container *ngIf="i == 5">
                                  <a class="link" *ngIf="!ver_mas" (click)="ver_mas = true; mb-2">Ver más...</a>
                                  <a class="link" *ngIf="ver_mas" (click)="ver_mas = false; mb-2">Ver menos...</a>
                                  <br><br>
                                </ng-container>

                                <ng-container *ngIf="i > 4 && ver_mas">
                                  <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                                  <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                                  <p *ngIf="tag['link']">
                                    <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                                  </p>
                                </ng-container>
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
          
        </div>

      </div>

    </div>

  </div>

  <!-- Background Modal -->
  <div class="overlay" (click)="cerrarModal_ficha()"></div>
</div>



