
<!-- Mensaje de aclaración estas en Home -->
<div id="msjFooter" style="position:fixed; top:20px;z-index: 1111;background:white; color:black; font-size: 18px;" class="uc-alert {{estilof}} mb-12 col-lg-6 offset-lg-3">
  <div class="uc-alert_content">
      <i class="uc-icon icon-size--lg">{{iconof}}</i>
      <span class="p p-size--sm bold ml-8">{{msjf}}</span>
  </div>
</div>
<div  class="container pb-80">

  <div class="row justify-content-between">
    <div class="col-lg-9 col-10 mb-32">
      <a title="{{ footer['imagen']['texto-alt'] }}" [routerLink]="['/']" (click)="alertasFooter('info','info','Te encuentras en Página Principal')">
        <img src="assets/img/logo-uc-06.svg" alt="{{ footer['imagen']['texto-alt'] }}" class="img-fluid" width="200px">
      </a>
    </div>
    <div class="col-lg-3 text-left text-lg-right">
      <div class="uc-subtitle color-white mb-16">{{ footer['secciones'][0]['titulo'] }} - <a href="https://uccl0.sharepoint.com/:w:/s/uxpuc/Eb9SvpV3vaVEm_taa-hDVPcB0sigkrCogCSS8k4zRGSSYw?e=MjVfMt" target="_blank" title="Control de versiones">v4.4</a></div>
      <div class="mb-16">{{ footer['secciones'][0]['texto-direccion'] }}</div>
      <div class="mb-16"><a href="{{ footer['secciones'][0]['link-como-llegar']['link'] }}" target="_blank" title="{{ footer['secciones'][0]['link-como-llegar']['text'] }}">{{ footer['secciones'][0]['link-como-llegar']['text'] }}</a></div>
      <div class="mb-16"><i class="uc-icon">phone</i> <a href="{{ footer['secciones'][0]['numero-contacto']['link'] }}" title="{{ footer['secciones'][0]['numero-contacto']['text'] }}">{{ footer['secciones'][0]['numero-contacto']['text'] }}</a></div>
    </div>
  </div>


  <!-- <div  class="row">
    <div class="col-lg-3">
      <ul class="uc-footer_list mb-40">
        <li>
          <a class="navbar-brand" title="{{ footer['imagen']['texto-alt'] }}" [routerLink]="['/']" (click)="alertasFooter('info','info','Te encuentras en Página Principal')">
            <img class="img-fluid" src="assets/img/logo-uc-white.png" alt="{{ footer['imagen']['texto-alt'] }}">
          </a>
        </li>
        <li class="mt-32">
          <span class="text-size--16 text-weight--500">{{ footer['secciones'][0]['titulo'] }}</span>
        </li>
        <li>
          <p class="mb-0">{{ footer['secciones'][0]['texto-direccion'] }}</p>
        </li>
        <li>
          <a href="{{ footer['secciones'][0]['link-como-llegar']['link'] }}" target="_blank" title="{{ footer['secciones'][0]['link-como-llegar']['text'] }}">{{ footer['secciones'][0]['link-como-llegar']['text'] }}</a>
        </li>
        <li>
          <i class="uc-icon icon-shape--rounded mr-8">phone</i>
          <a href="{{ footer['secciones'][0]['numero-contacto']['link'] }}" title="{{ footer['secciones'][0]['numero-contacto']['text'] }}">{{ footer['secciones'][0]['numero-contacto']['text'] }}</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ng-container *ngFor="let item of menuRepos; let i = index">
        <ng-container *ngIf="i == 0">
          <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
          <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
            <li *ngFor="let li of item['sub']">
              <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-lg-2">
        <ng-container *ngFor="let item of menuRepos; let i = index">
          <ng-container *ngIf="i > 0 && i < 2">
            <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
            <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
              <li *ngFor="let li of item['sub']">
                <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </div>

    <div class="col-lg-2">
      <ng-container *ngFor="let item of menuRepos; let i = index">
        <ng-container *ngIf="i> 1 && i< 4">
          <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
          <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
            <li *ngFor="let li of item['sub']">
              <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-lg-2">
        <ng-container *ngFor="let item of menuRepos; let i = index">
            <ng-container *ngIf="i> 1 && i>3">
              <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
              <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
                <li *ngFor="let li of item['sub']">
                  <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
                </li>
              </ul>
            </ng-container>
        </ng-container>
    </div>
  </div> -->
</div>
