.panels {
  width: 400%;

  display: flex;
}

.panels .panel {
  /* height: auto; */
  width: 100%;
  max-width: 1140px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.form-panel-pasos {
  overflow: hidden;
}

.panel-button {
  padding: 0;
  width: 50px;
  height: 50px;
  color: #0176de;
  border-radius: 50%;
  font-size: 32px;
  line-height: 1;
  border: 4px solid #0176de;
  font-weight: 700;
}

.panel-button.active {
  background-color: #0176de;
  color: #ffffff;
}

.panel-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 25px;
  left: 50%;
  background-color: #e4e4e4;
  z-index: -1;
}

.panel-line.active {
  background-color: #0176de;
}

.panel {
  height: 0;
}

.panel.active {
  height: 100%;
}

.file-text {
  position: initial;
}

.upload-buttons_container {
  justify-content: flex-end;
  width: fit-content;
  float: right;
}

.panel-button_container {
  width: 33%;
  position: relative;  
}









.modalContainer {
  display: none; 
  position: fixed; 
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


